@import '../../utils/vars';
@import '../button/button';

.dropdown {
  $blockClass: &;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-dark-75;
  user-select: none;
  &__toggle {
    position: relative;
    padding: 0 0.625rem 0 0.875rem;
    line-height: 2.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid $color-dark-25;
    border-radius: 0.25rem;
  }
  &__arrow-btn {
    cursor: pointer;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    color: $color-dark-50;
  }
  &__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__data-input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    z-index: -1;
  }
  #{$blockClass}__menu {
    margin: 0;
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    padding: 0.3125rem 0.375rem 0 0.875rem;
    list-style: none;
    border: 1px solid $color-dark-50;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 0.625rem 1.25rem $color-dark-5;
    background-color: white;
  }
  &__menu-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4375rem;
  }
  &__count-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 5.75rem;
  }
  &__item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__item-name,
  &__count {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
  }
  &__change-count-btn {
    $diam: 1.875rem;
    display: inline-block;
    font-size: 1.125rem;
    text-align: center;
    width: $diam;
    height: $diam;
    line-height: $diam;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $color-dark-50;
    &--disabled {
      cursor: default;
      pointer-events: none;
      border: 1px solid $color-dark-25;
    }
  }
  &__footer-buttons {
    display: none;
    margin: 0;
    line-height: 2.5rem;
  }
  &--expanded {
    #{$blockClass}__toggle {
      border: 1px solid $color-dark-50;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    #{$blockClass}__arrow-btn {
      color: $color-dark-75;
    }
    #{$blockClass}__menu {
      display: block;
      border-top: none;
    }
  }
  &--edited {
    #{$blockClass}__footer-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  &--empty {
    #{$blockClass}__clear-button {
      visibility: hidden;
    }
  }
}