@import '../../utils/vars';
@import '../button/button';

.dropdown {
  $blockClass: &;
  position: relative;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-dark-75;
  user-select: none;
  &__selection {
    line-height: 2.625rem;
    padding: 0 2.375rem 0 0.875rem;
    border: 0.0625rem solid $color-dark-25;
    border-radius: 0.25rem;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__toggle-button {
    @include reset-button;
    @include reset-outline(text-shadow);
    color: $color-dark-50;
    position: absolute;
    right: 0.6875rem;
    top: 0;
    padding-top: 0.0625rem;
    height: 100%;
  }
  &__input {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border: none;
    outline: none;
    z-index: -1;
  }
  #{$blockClass}__menu {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    padding: 0.3125rem 0.375rem 0 0.875rem;
    border: 0.0625rem solid $color-dark-50;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 0.625rem 1.25rem $color-dark-5;
    background-color: white;
    z-index: 9;
  }
  &__menu-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4375rem;
  }
  &__count-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 5.75rem;
  }
  &__item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__item-name,
  &__count {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
  }
  &__change-count-button {
    @include reset-button;
    @include reset-outline;
    $diam: 1.875rem;
    display: inline-block;
    font-size: 1rem;
    color: $color-dark-50;
    text-align: center;
    width: $diam;
    height: $diam;
    border-radius: 50%;
    cursor: pointer;
    border: 0.0625rem solid $color-dark-25;
    &[data-operator='+'] {
      padding-bottom: 0.1875rem;
    }
    &_disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }
  }
  &__footer-buttons {
    display: none;
    line-height: 2.5rem;
  }
  &_expanded {
    #{$blockClass}__selection {
      border: 0.0625rem solid $color-dark-50;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    #{$blockClass}__toggle-button {
      color: $color-dark-75;
    }
    #{$blockClass}__menu {
      display: block;
      border-top: none;
    }
  }
  &_edited {
    #{$blockClass}__footer-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  &_empty {
    #{$blockClass}__clear-button {
      visibility: hidden;
    }
  }
}