@import '../../utils/vars';
@import '../../utils/mixins';

.room-details {
  border-bottom: 1px solid $color-dark-25;
  &__inner {
    padding: 4.375rem 0 3.9375rem 0;
    @include inner;
    display: grid;
    grid-template-columns: 1.868fr 1fr;
    grid-column-gap: 4.375rem;
    @media (max-width: $screen-xs-max) {
      grid-template-columns: 1fr;
    }
  }
  &__feature-images {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'a b'
      'a c';
  }
  &__feature-image {
    margin: 0;
    width: 100%;
    object-fit: cover;
    &:nth-child(1) {
      height: 100%;
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-column-gap: 5rem;
    grid-row-gap: 0.75rem;
    grid-template-areas:
      'info rate'
      'feed feed'
      'rules cancel';
    @media (max-width: $screen-xs-max) {
      grid-template-areas:
        'info'
        'rate'
        'feed'
        'rules'
        'cancel';
      grid-template-columns: 1fr;
    }
  }
  &__feature {
    border-bottom: 1px solid $color-dark-10;
    &:last-child {
      border-bottom: none;
    }
  }
  &__info {
    grid-area: info;
  }
  &__info-title {
    @include h2;
  }
  &__rate {
    grid-area: rate;
  }
  &__rate-title {
    @include h2;
    margin-bottom: 1.25rem;
  }
  &__feedbacks {
    grid-area: feed;
    display: grid;
    grid-row-gap: 1.25rem;
  }
  &__feedbacks-title {
    @include h2;
  }
  &__feedbacks-header {
    display: flex;
    justify-content: space-between;
  }
  &__feedbacks-counter {
    @include primary-text;
    text-align: right;
    color: $color-dark-50;
  }
  &__rules,
  &__cancel {
    padding: 1.25rem 1.25rem 0 0;
  }
  &__rules {
    grid-area: rules;
  }
  &__cancel {
    grid-area: cancel;
  }
  &__rules-title,
  &__cancel-title {
    @include h2;
    margin-bottom: 1.0625rem;
  }
  &__cancel-text {
    @include primary-text;
  }
  &__rules-title {
    padding-left: 1.25rem;
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }
  }
  &__main,
  &__sidebar {
    @media (max-width: $screen-sm-max) {
      grid-column: span 2;
    }
  }
}