.room-details {
  &__content {
    width: 80.5%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 63px;
  }
  &__feature-images {
    position: relative;
    width: 100%;
    height: 485px;
  }
  &__left-image,
  &__top-image,
  &__bottom-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__top-image,
  &__bottom-image {
    float: left;
    height: 50%;
    width: 31.9%;
  }
  &__left-image {
    float: left;
    width: 68.1%;
    height: 100%;
    background-image: url('../../img/room-details-left.png');

  }
  &__top-image {
    background-image: url('../../img/room-details-top.png');
  }
  &__bottom-image {
    background-image: url('../../img/room-details-bottom.png');
  }

  &__main,
  &__right {
    position: relative;
    float: left;
  }
  &__right {
    padding-left: 0.7%;
  }
  &__main {
    width: 66.66%;
    padding-right: 5.4%;
  }
  &__feedbacks,
  &__info,
  &__rate {
    position: relative;
    float: left;
  }
  &__info {
    width: 39.1%;
  }
  &__rate {
    width: 60.9%;
    padding-left: 11.5%;
  }
  &__feedbacks {
    margin-top: 12px;
    margin-bottom: 34px;
    width: 100%;
  }
  &__feedbacks-counter,
  &__feedbacks-title {
    display: inline-block;
    width: 50%;
  }
  &__feedbacks-counter{
    text-align: right;
    color: $color-dark-50;
  }
  &__feedback {
    width: 100%;
    margin-top: 20px;
  }
  &__rules,
  &__cancel {
    float: left;
    width: 50%;
  }
  &__cancel {
    padding-left: 1%;
    padding-right: 1%;
  }
  &__rules {
    padding-right: 13%;
  }
  &__rules-title {
    padding-left: 20px;
  }
  &__rules-title,
  &__cancel-title {
    margin-bottom: 17px;
  }
  &__right {
    width: 33.33%;
  }
}