extends ../base

include ../../components/logo/logo
include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/dropdown-date-range/dropdown-date-range
include ../../components/checkbox/checkbox
include ../../components/radio-button/radio-button
include ../../components/toggle-button/toggle-button
include ../../components/label/label
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/paginator/paginator
include ../../components/checkbox-list-xp/checkbox-list-xp
include ../../components/bullet-list/bullet-list
include ../../components/feature/feature
include ../../components/feedback/feedback

block vars
  - const title = 'UI Kit - Form elements'
block content
  div.ui-form-elements
    nav.container__logo
      +logo
    section.row.ui-form-elements__top
      div.grid-column
        article.input-group.ui-form-elements__input-group
          .input-group__label
            +label({
              label: 'text field',
              hint: 'default'
            })
          .input-group__input
            +input({
              id: 'input-email',
              placeholder: 'Email',
              type: 'email'
            })
        article.input-group.ui-form-elements__input-group.ui-form-elements__input-group--hovered
          .input-group__label
            +label({
              label: 'text field',
              hint: 'hover / focus'
            })
          .input-group__input
            +input({
              id: 'input-focused-hovered',
              placeholder: 'Some text',
              value: 'This is pretty awesome',
              isHovered: true
            })
        article.dropdown-group.ui-form-elements__dropdown-group
          .dropdown-group__label
            +label({
              label: 'dropdown',
              hint: 'default'
            })
          .dropdown-group__dropdown
            +dropdown({
              id: 'default-dropdown',
              value: 'Сколько гостей'
            })
        article.input-group.ui-form-elements__input-group--masked
          .input-group__label
            +label({
              label: 'masked text field',
              hint: 'default'
            })
          .input-group__input
            +input({
              id: 'input-with-mask',
              placeholder: 'ДД.ММ.ГГГГ'
            })
        article.dropdown-group.ui-form-elements__dropdown-group.ui-form-elements__dropdown-group--date-range
          +dropdown-date-range({
            id: 'dropdown-date-range-demo',
            fromLabel: 'date dropdown',
            from: 'ДД.ММ.ГГГГ',
            toLabel: 'date dropdown',
            to: '19.08.2019 '
          })
        article.dropdown-group.ui-form-elements__dropdown-group.ui-form-elements__dropdown-group--date-filter
          .dropdown-group__label
            +label({
              label: 'filter date dropdown'
            })
          .dropdown-group__dropdown
            +dropdown({
              id: 'date-filter',
              value: '19 авг - 23 авг'
            })
        article.input-group.ui-form-elements__input-group.ui-form-elements__input-group--with-submit
          .input-group__label
            +label({
              label: 'subscription text field'
            })
          .input-group__input
            +input({
              id: 'input-submit',
              placeholder: 'Email',
              withArrow: true,
              type: 'email'
            })
      div.grid-column-gap
      div.grid-column
        article.checkbox-group.ui-form-elements__checkbox-group
          .checkbox-group__label
            +label({
              label: 'checkbox buttons'
            })
          .checkbox-group__checkbox
            +checkbox({
              id: 'smoke-allowed',
              label: 'Можно курить'
            })
          .checkbox-group__checkbox
            +checkbox({
              id: 'pets-allowed',
              label: 'Можно с питомцами',
              isChecked: true
            })
          .checkbox-group__checkbox
            +checkbox({
              id: 'guests-allowed',
              label: 'Можно пригласить гостей (до 10 человек)',
              isChecked: true
            })
        article.radio-button-group.ui-form-elements__radio-group.clearfix
          .radio-button-group__label
            +label({
              label: 'radio buttons'
            })
          .radio-button-group__radio-button
            +radio-button({
              id: 'radio-male',
              name: 'gender',
              value: 'male',
              label: 'Мужчина',
              isChecked: true
            })
          .radio-button-group__radio-button
            +radio-button({
              id: 'radio-female',
              name: 'gender',
              value: 'female',
              label: 'Женщина'
            })
        article.toggle-group.ui-form-elements__toggle-group
          .toggle-group__label
            +label({
              label: 'toggle'
            })
          .toggle-group__toggle-button
            +toggle-button({
              id: 'first-toggle',
              label: 'Получать спецпредложения',
              isChecked: true
            })
          .toggle-group__toggle-button
            +toggle-button({
              id: 'second-toggle',
              label: 'Получать спецпредложения'
            })
        article.like-button-group.ui-form-elements__like-button-group.clearfix
          .like-button-group__label
            +label({
              label: 'like button'
            })
          .like-button-group__like-button
            +like-button({
              count: 2
            })
          .like-button-group__like-button
            +like-button({
              count:12,
              isFavorite: true
            })
        article.rate-button-group.ui-form-elements__rate-button-group--default.clearfix
          .rate-button-group__label
            +label({
              label: 'rate button'
            })
          .rate-button-group__rate-button
            +rate-button({
              id: 'rate-first',
              base: 5,
              rate: 4
            })
          .rate-button-group__rate-button
            +rate-button({
              id: 'rate-second',
              base: 5,
              rate: 5
            })
      div.grid-column-gap
      div.grid-column
        article.ui-form-elements__range-slider
          +range-slider({
            name: 'range-slider',
            type: 'double',
            skin: 'big',
            min: 0,
            max: 16000,
            from: 5000,
            to: 10000,
          })
        article.ui-form-elements__button-group
            .ui-form-elements__label
              +label({
                label: 'buttons'
              })
            .row
              +button({
                theme: 'default',
                caption: 'click me'
              })
              +button({
                theme: 'default',
                caption: 'click me',
                isHovered: true
              })
            .row
              +button({
                theme: 'transparent',
                caption: 'click me'
              })
              +button({
                theme: 'transparent',
                caption: 'click me',
                isHovered: true
              })
            .row
              +button({
                theme: 'textual',
                caption: 'click me'
              })
              +button({
                theme: 'textual',
                caption: 'click me',
                isHovered: true
              })
            .row
              +button({
                theme: 'default',
                caption: 'перейти к оплате',
                withArrow: true,
                isFluid: true
              })
        article.ui-form-elements__paginator-group
          .paginator-group
            .paginator-group__label
              +label({
                label: 'pagination'
              })
            .paginator-group__paginator
              +paginator({
                source: JSON.stringify([...Array(180).keys()]),
                pageSize: 12,
                pageRange: 1
              })
    section.row.ui-form-elements__dropdown-states
      div.grid-column
        article.dropdown-group.ui-form-elements__dropdown-group.ui-form-elements__dropdown-group--collapsed
          .dropdown-group__label
            +label({
              label: 'dropdown',
              hint: 'default'
            })
          .dropdown-group__dropdown
            +dropdown({
              id: 'dropdown-collapsed',
              value: '2 спальни, 2 кровати...'
            })
        article.dropdown-group.ui-form-elements__dropdown-group.ui-form-elements__dropdown-group--expanded
          .dropdown-group__label
            +label({
              label: 'dropdown',
              hint: 'expanded'
            })
          .dropdown-group__dropdown
            +dropdown({
              id: 'dropdown-expanded',
              type: 'select-box',
              isExpanded: true,
              value: '2 спальни, 2 кровати...',
              zIndex: 999,
              selectOptions: [
                {count: 2, text: 'спальни', name: 'bedroom'},
                {count: 2, text: 'кровати', name: 'bed'},
                {count: 0, text: 'ванные комнаты', name: 'bathroom'}
              ]
            })
      div.grid-column-gap
      div.grid-column
        article.dropdown-group.ui-form-elements__dropdown-group.ui-form-elements__dropdown-group--with-apply-btn
          .dropdown-group__label
            +label({
              label: 'dropdown'
            })
          .dropdown-group__dropdown
            +dropdown({
              id: 'dropdown-expanded',
              type: 'select-box',
              isExpanded: true,
              isEdited: true,
              isEmpty: true,
              zIndex: 99,
              value: 'Сколько гостей',
              selectOptions: [
                {count: 0, text: 'взрослые', name: 'adult'},
                {count: 0, text: 'дети', name: 'kids'},
                {count: 0, text: 'младенцы', name: 'baby'}
              ]
            })
      div.grid-column-gap
      div.grid-column
        article.dropdown-group.ui-form-elements__dropdown-group.ui-form-elements__dropdown-group--with-clear-btn
          .dropdown-group__label
            +label({
              label: 'dropdown'
            })
          .dropdown-group__dropdown
            +dropdown({
              id: 'dropdown-expanded',
              type: 'select-box',
              isExpanded: true,
              isEdited: true,
              value: '3 гостя',
              selectOptions: [
                {count: 2, text: 'взрослые', name: 'adult'},
                {count: 1, text: 'дети', name: 'kids'},
                {count: 0, text: 'младенцы', name: 'baby'}
              ]
            })
    section.row.ui-form-elements__rich-lists.clearfix
      div.grid-column
        article.checkbox-list-xp-group.ui-form-elements__checkbox-list-xp-group.ui-form-elements__checkbox-list-xp-group--collapsed
          +checkbox-list-xp({
            id: 'exp_check_list_collapsed',
            label: 'Expandable checkbox list'
          })
        article.checkbox-list-xp-group.ui-form-elements__checkbox-list-xp-group.ui-form-elements__checkbox-list-xp-group--expanded
          +checkbox-list-xp({
            id: 'exp_check_list_collapsed',
            label: 'Expandable checkbox list',
            isExpanded: true,
            items: [
              {name: 'breakfast', label: 'Завтрак'},
              {name: 'table', label: 'Письменный стол', isChecked: true},
              {name: 'baby-chair-for-eat', label: 'Стул для кормления', isChecked: true},
              {name: 'baby-bed',label: 'Кроватка',isChecked: true},
              {name: 'tv_1',label: 'Телевизор'},
              {name: 'shampoo_1', label: 'Шампунь'},
              {name: 'tv_2', label: 'Телевизор'},
              {name: 'shampoo_2', label: 'Шампунь'}
            ]
          })
      div.grid-column-gap
      div.grid-column
        article.rich-checkbox-group.ui-form-elements__rich-checkbox-group
          .rich-checkbox-group__label
            +label({
              label: 'rich checkbox buttons'
            })
          .rich-checkbox-group__rich-checkbox.clearfix
            +checkbox({
              id: 'wide-hall-checkbox',
              label: 'Широкий коридор',
              hint: 'Ширина коридоров в номере не&nbsp;менее 91 см.'
            })
          .rich-checkbox-group__rich-checkbox.clearfix
            +checkbox({
                id: 'disable-assistant-checkbox',
                label: 'Помощник для инвалидов',
                hint: 'На 1 этаже вас встретит специалист и проводит до номера.'
            })
      div.grid-column-gap
      div.grid-column
        article.ui-form-elements__bullet-list-group
          .ui-form-elements__label
            +label({
              label: 'Bullet list'
            })
          +bullet-list({
            id: 'bullet-list',
            items: [
              {text: 'Нельзя с питомцами'},
              {text: 'Без вечеринок и мероприятий'},
              {text: 'Время прибытия &mdash; после 13:00, а выезд до 12:00'}
            ]
          })
    section.row.ui-form-elements__bottom.clearfix
      div.grid-column
        article.feature-group.ui-form-elements__feature-group
          .feature-group__feature
            +feature({
              icon: 'mood',
              title: 'Комфорт',
              hint: 'Шумопоглощающие стены'
            })
          .feature-group__feature
            +feature({
              icon: 'location_city',
              title: 'Удобство',
              hint: 'Окно в каждой из спален'
            })
      div.grid-column-gap
      div.grid-column
        article.feedback-group.ui-form-elements__feedback-group
          .feedback-group__feedback
            +feedback({
              author: {
                name: 'Мурад Сарафанов',
                image: {
                  src: 'murad.png',
                  alt: 'Фото автора'
                }
              },
              date: '5 дней назад',
              text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
              favoritesCount: 12,
              isFavorite: true,
            })