include ../../input/input
include ../../radio-button/radio-button
include ../../toggle-button/toggle-button
include ../../label/label

mixin sign-up()
  form.card.sign-up
    h1.sign-up__title.h1= 'Регистрация аккаунта'
    .sign-up__input
      +input({
        id: 'first-name',
        placeholder: 'Имя'
      })
    .sign-up__input
      +input({
        id: 'last-name',
        placeholder: 'Фамилия'
      })
    .sign-up__gender
      .sign-up__radio-button
        +radio-button({
          id: 'g-male',
          name: 'gender',
          value: 'm',
          label: 'Мужчина',
          isChecked: true
        })
      .sign-up__radio-button
        +radio-button({
          id: 'g-female',
          name: 'gender',
          value: 'f',
          label: 'Женщина'
        })
    .sign-up__birthday
      .sign-up__label
        +label({
          label: 'Дата рождения'
        })
      .sign-up__input
        +input({
          id: 'sign-up__input-birthday',
          placeholder: 'ДД.ММ.ГГГГ'
        })
    .sign-up__email
      .sign-up__label
        +label({
          label: 'Данные для входа в сервис'
        })
      .sign-up__input
        +input({
          id: 'sign-up__input-email',
          placeholder: 'Email',
          type: 'email'
        })
    .sign-up__input
      +input({
        id: 'sign-up__input-password',
        placeholder: 'Пароль',
        type: 'password'
      })
    .sign-up__toggle
      +toggle-button({
        id: 'sign-up__toggle-promote',
        label: 'Получать спецпредложения'
      })
    .sign-up__pay-button
      +button({
        theme: 'default',
        caption: 'Перейти к оплате',
        withArrow: true,
        isFluid: true
      })
    .sign-up__auth
      p.sign-up__auth-hint= 'Уже есть аккаунт на Toxin'
      .sign-up__auth-button
        +button({
          theme: 'transparent',
          caption: 'Войти',
          isFluid: true,
          href: 'login.html'
        })
