@import '../card';
.sign-up {
  @include card;
  padding: 39px 28px 29px 29px;
  &__title {
    margin-bottom: 20px;
  }
  &__input {
    position: relative;
    margin-bottom: 10px;
  }
  &__gender {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  &__radio-button {
    display: inline-block;
    float: left;
    margin-right: 20px;
  }
  &__label {
    margin-bottom: 5px;
  }
  &__birthday {
    margin-bottom: 20px;
  }
  &__pay-button {
    height: 44px;
    margin-top: 23px;
  }
  &__auth {
    margin-top: 29px;
  }
  &__auth-hint {
    margin: 0;
    line-height: 44px;
    float: left;
  }
  &__auth-button {
    width: 99px;
    height: 44px;
    float: right;
  }
}