@import '../../../utils/config';

@import '../../button/button';
@import '../../input/input';
@import '../../label/label';
@import '../../toggle-button/toggle-button';
@import '../../radio-button/radio-button';

@import '../card';

.sign-up {
  padding: 2.4375rem 1.75rem 1.8125rem 1.8125rem;
  @media (max-width: $screen-xs-max) {
    padding: 2rem 1rem;
  }
  &__title,
  &__birthday {
    margin-bottom: 1.25rem;
  }
  &__input {
    margin-bottom: 0.625rem;
  }
  &__gender {
    display: flex;
    margin-bottom: 1.5rem;
  }
  &__radio-button {
    display: inline-block;
    float: left;
    margin-right: 1.25rem;
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
  &__pay-button {
    margin-top: 1.4375rem;
  }
  &__auth {
    margin-top: 1.8125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
    }
  }
  &__auth-hint {
    margin: 0;
    font-size: 0.875rem;
    font-family: Montserrat, sans-serif;
    color: black;
    line-height: 2.75rem;
    @media (max-width: $screen-xs-max) {
      text-align: center;
      width: 100%;
    }
  }
  &__auth-button {
    width: 31%;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}