include ../logo/logo
include ../header/header
include ../footer/footer
  
mixin headers-footers-page
  - const user = 'Cosmin Negoita';
  -
    const menuItems = [
      {name: 'Home', href: '/change-me', active: true},
      {name: 'About Us', href: '/change-me'},
      {
        name: 'Services',
        sub: [
          {name: 'One One', href: '/change-me'},
          {name: 'Two Two', href: '/change-me'},
          {name: 'Three', href: '/change-me'}
        ]
      },
      {name: 'Careers', href: '/change-me'},
      {name: 'News', href: '/change-me'},
      {name: 'Documentation', href: '/change-me'}
    ];
  -
    const menuButtons = [
      {
        name: 'sign-in-btn',
        theme: 'transparent',
        caption: 'Login',
        size: 'small',
      },
      {
        name: 'sign-up-btn',
        theme: 'default',
        caption: 'Register',
        size: 'small',
      }
    ];
  article.headers-footers-page
    nav.headers-footers-page__nav
      +logo
    section.headers-footers-page__header
      +header({menuItems, menuButtons})
    section.headers-footers-page__header
      +header({user, menuItems, menuButtons})
    section.headers-footers-page__footer
      +footer
    section.headers-footers-page__footer
      +footer({theme: 'creative'})