include ../logo/logo
include ../header/header
include ../footer/footer
  
mixin headers-footers-page
  - var user = 'Cosmin Negoita'
  -
    const menuItems = [
      {name: 'Home', href: '/change-me', active: true},
      {name: 'About Us', href: '/change-me'},
      {
        name: 'Services',
        sub: [
          {name: 'One One', href: '/change-me'},
          {name: 'Two Two', href: '/change-me'},
          {name: 'Three', href: '/change-me'}
        ]
      },
      {name: 'Careers', href: '/change-me'},
      {name: 'News', href: '/change-me'},
      {name: 'Documentation', href: '/change-me'}
    ]
  -
    const menuButtons = [
      {
        name: 'sign-in',
        theme: 'transparent',
        caption: 'Login',
        isSmall: true
      },
      {
        name: 'sign-up',
        theme: 'default',
        caption: 'Register',
        isSmall: true
      }
    ]
  article.headers-footers-page
    section.ui-section.headers-footers-page__header
      +header({menuItems, menuButtons})
    section.ui-section.headers-footers-page__header.headers-footers-page__header--signed
      +header({user, menuItems, menuButtons})
    section.ui-section.headers-footers-page__footer
      +footer
    section.ui-section.headers-footers-page__footer.headers-footers-page__footer--creative
      +footer({theme: 'creative'})