include ../logo/logo
include ../header/header
include ../footer/footer
  
mixin headers-footers-page
  - const theme = 'ui-kit';
  - const user = 'Cosmin Negoita';
  -
    const href = '/change-me';
    const menuItems = [
      {name: 'Home', href, active: true},
      {name: 'About Us', href},
      {
        name: 'Services',
        sub: [
          {name: 'One One', href},
          {name: 'Two Two', href},
          {name: 'Three', href}
        ],
        href,
      },
      {name: 'Careers', href},
      {name: 'News', href},
      {name: 'Documentation', href}
    ];
  -
    const menuButtons = [
      {
        name: 'sign-in-btn',
        theme: 'transparent',
        caption: 'Login',
        size: 'small',
        href: 'sign-in.html',
      },
      {
        name: 'sign-up-btn',
        theme: 'default',
        caption: 'Register',
        size: 'small',
        href: 'sign-up.html',
      }
    ];
  article.headers-footers-page
    nav.headers-footers-page__nav
      +logo
    section.headers-footers-page__header
      +header({theme, menuItems, menuButtons})
    section.headers-footers-page__header
      +header({theme, user, menuItems, menuButtons})
    section.headers-footers-page__footer
      +footer({ theme })
    section.headers-footers-page__footer
      +footer({theme: 'creative'})