include ../logo/logo
include ../header/header
include ../footer/footer
  
mixin headers-footers-page
  - const user = 'Юлий Цезарь';
  -
    const href = '/change-me';
    const menuItems = [
      {name: 'О нас', href, active: true},
      {
        name: 'Услуги',
        sub: [
          {name: 'Услуга 1', href},
          {name: 'Услуга 2', href},
          {name: 'Услуга 3', href}
        ],
        href,
      },
      {name: 'Вакансии', href},
      {name: 'Новости', href},
      {
        name: 'Соглашения',
        sub: [
          {name: 'Соглашение 1', href},
          {name: 'Соглашение 2', href},
          {name: 'Соглашение 3', href}
        ],
        href,
      }
    ];
  -
    const menuButtons = [
      {
        name: 'sign-in-btn',
        theme: 'white',
        caption: 'Войти',
        size: 'small',
        href: 'sign-in.html'
      },
      {
        name: 'sign-up-btn',
        theme: 'default',
        caption: 'Зарегистрироваться',
        size: 'small',
        href: 'sign-up.html'
      }
    ];
  article.headers-footers-page
    nav.headers-footers-page__nav
      +logo
    section.headers-footers-page__header
      +header({menuItems, menuButtons})
    section.headers-footers-page__header
      +header({user, menuItems, menuButtons})
    section.headers-footers-page__footer
      +footer
    section.headers-footers-page__footer_size_small
      +footer({ theme: 'mobile'})