include ../label/label

mixin range-slider(options)
  - var thisModifiers = []
  if options.modifiers
    - thisModifiers = options.modifiers.this || []
  div(class='range-slider' class=thisModifiers)
    +label({
        'llabel': 'range slider',
        'rlabel': '',
        'modifiers': {
            'this': ['label--for-range-slider']
        }
    })
    input(class='range-slider__input' type='text' name=options.name value='')
