include ../label/label

mixin range-slider(options)
  - const blockName = 'range-slider'
  - let caption = options.caption || 'range slider'
  div(class=blockName)
    +label(caption)
    input(class=blockName+'__input' type='text' name=options.name value='')
