extends ../base

include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer
include ../../components/card/room-search/room-search

block content
  block head
    .wrapper-header
      +header(
        null,
        [
          {name: 'О нас', href: '/change-me'},
          {
            name: 'Услуги',
            sub: [
              {name: 'Услуга 1', href: '/change-me'},
              {name: 'Услуга 2', href: '/change-me'},
              {name: 'Услуга 3', href: '/change-me'}
            ]
          },
          {name: 'Вакансии', href: '/change-me'},
          {name: 'Новости', href: '/change-me'},
          {
            name: 'Соглашения',
            sub: [
              {name: 'Соглашение 1', href: '/change-me'},
              {name: 'Соглашение 2', href: '/change-me'},
              {name: 'Соглашение 3', href: '/change-me'}
            ]
          }
        ],
        [
          {
            name: 'sign-up',
            theme: 'default',
            caption: 'Зарегистрироваться',
            options: {
              small: true,
              href: 'registration.html'
            }
          },
          {
            name: 'sign-in',
            theme: 'transparent',
            caption: 'Войти',
            options: {
              small: true,
              href: 'login.html'
            }
          }
        ]
      )
  block main
  block foot
    .wrapper-footer
      +footer({
        rightTitle: 'Подписка',
        leftDescription: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
        rightDescription: 'Получайте специальные предложения и новости сервиса',
        rightPlaceholder: 'Email',
        copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
        theme: footerTheme,
        menus: [
          {
            title: 'Навигация',
            links: [
              {text: 'О нас', href: '/change-me'},
              {text: 'Новости', href: '/change-me'},
              {text: 'Служба поддержки', href: '/change-me'},
              {text: 'Услуги', href: '/change-me'}
            ]
          },
          {
            title: 'О нас',
            links: [
              {text: 'О сервисе', href: '/change-me'},
              {text: 'Наша команда', href: '/change-me'},
              {text: 'Вакансии', href: '/change-me'},
              {text: 'Инвесторы', href: '/change-me'}
            ]
          },
          {
            title: 'Служба поддержки',
            links: [
              {text: 'Соглашения', href: '/change-me'},
              {text: 'Сообщества', href: '/change-me'},
              {text: 'Связь с нами', href: '/change-me'}
            ]
          }
        ]
      })