include ../checkbox/checkbox

mixin checkbox-expandable-list(options)
  - const { label, isExpanded, items = [] } = options || {};

  - const modifiers = { expanded: isExpanded };

  - const bemFactory = require('../../utils/helpers').bemFactory;
  - const blockName = 'checkbox-expandable-list';
  - const createBemClasses = bemFactory(blockName);
  - const withJsPrefix = true;

  div(class=createBemClasses({ modifiers, withJsPrefix }))
    p.checkbox-expandable-list__group
      span.checkbox-expandable-list__label= label
      button(class=createBemClasses({ elementName: 'toggle-button', withJsPrefix }) type='button').material-icons= 'keyboard_arrow_down'
    ul.checkbox-expandable-list__list
      each item, index in items
        li.checkbox-expandable-list__item
          +checkbox(item)