extends ../layout/layout

include ../../components/card/sign-in/sign-in

block vars
  - const title = 'Sign in'
  - const bodyClasses = ['login', 'clearfix']
  - const withoutLogo = true

block main
  article.login__hero
    section.login__form
      +sign-in