extends ../base

include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

block vars
  - const title = 'UI Kit - Headers & Footers'
  - const bodyClasses = ['ui', 'ui--headers-footers']
block content
  nav.ui__logo
    +logo
  article.ui__header--anon
    +header
  article.ui__header--signed
    +header({
      user: 'Cosmin Negoita'
    })
  article.ui__footer
    +footer
  article.ui__footer--creative
    +footer({theme:'creative'})