.ui {
  $parent: #{&};
  max-width: 120rem;
  min-width: 20rem;
  margin: 0 auto;
  &__logo {
    margin: 0;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &--index,
  &--color-type {
    width: 79.2%;
    margin-top: 145px;
  }

  &--form-components {
    margin-top: 8.9375rem;
    width: 80.5%;
    font-family: Montserrat, sans-serif;

    #{$parent}__top {
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: 27.63% 10.88% 27.63% 6.2176% 27.63%;

      #{$parent}__input-group {
        margin-bottom: 1.25rem;
        &--masked {
          margin-bottom: 2.5rem;
        }
        &--with-submit {
          padding-right: 3.375rem;
        }
      }
      #{$parent}__dropdown-group {
        margin-bottom: 1.4375rem;
        &--date-range,
        &--date-filter {
          margin-bottom: 2.5625rem;
        }
        &--date-filter {
          padding-right: 3.375rem;
        }
      }
      #{$parent}__checkbox-group {
        margin-bottom: 2.5rem;
        padding-right: 5rem;
      }
      #{$parent}__radio-group,
      #{$parent}__rate-group {
        margin-bottom: 2.625rem;
      }
      #{$parent}__toggle-group {
        margin-bottom: 2.75rem;
      }
      #{$parent}__like-button-group {
        margin-bottom: 2.25rem;
      }
      #{$parent}__range-slider {
        margin-bottom: 2.375rem;
        padding-right: 3.375rem;
      }
      #{$parent}__button-group {
        margin-bottom: 2.5rem;
      }
    }

    #{$parent}__dropdown-states {
      margin-bottom: 2.5625rem;
      display: grid;
      grid-template-columns: 22.95% 15.62% 27.61% 6.21% 27.61%;
      .grid-column {
        min-height: 16.625rem;
      }
      #{$parent}__dropdown-group {
        &--collapsed {
          margin-bottom: 1.25rem;
        }
      }
    }

    #{$parent}__rich-lists {
      display: grid;
      grid-template-columns: 22.95% 15.62% 27.61% 6.21% 27.61%;

      #{$parent}__rich-checkbox-group {
        padding: 0.8125rem 3.5rem 0 0;
      }
      #{$parent}__bullet-list-group {
        padding: 0.8125rem 3.75rem 0 0;
      }

      #{$parent}__checkbox-list-xp-group {
        &--collapsed {
          margin-bottom: 1.3125rem;
        }
        &--expanded {
          margin-bottom: 0.6875rem;
        }
      }
    }

    #{$parent}__bottom {
      display: grid;
      grid-template-columns: 22.95% 15.62% 61.43%;

      #{$parent}__feedback-group {
        margin-top: 1.875rem;
      }
    }

    .row {
      @media (max-width: $screen-lg-min) {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: 2.5rem;
      }
      .grid-column-gap {
        @media (max-width: $screen-lg-min) {
          display: none;
        }
      }
    }
  }

  &--cards {
    width: 80.5%;
    @media (max-width: $screen-md-min) {
      width: 90.5%;
    }
    margin-top: 9.375rem;
    background: $color-gray;
    #{$parent}__cards-container {
      display: grid;
      grid-template-columns: 1fr 1fr 0.84210526315fr;
      @media (max-width: $screen-lg-min) {
        grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
      }
      grid-column-gap: 2.5rem;
    }
    #{$parent}__card {
      margin-bottom: 2.5rem;
      &--room-thumb-vip,
      &--room-thumb {
        width: 16.875rem;
      }
    }
  }

  &--headers-footers {
    margin-top: 150px;
    background: $color-gray;
    #{$parent}__header--anon,
    #{$parent}__header--signed,
    #{$parent}__footer,
    #{$parent}__footer--creative {
      margin-bottom: 40px;
    }
    #{$parent}__header--anon,
    #{$parent}__header--signed {
      height: 70px;
    }
    #{$parent}__footer {
      min-height: 372px + 70px;
      &--creative {
        height: 368px;
      }
    }
  }
}