.input {
  $parent: &;
  height: 44px;
  font-size: 0.75rem;
  position: relative;

  &--hovered {
    #{$parent}__input {
      outline: none;
      border: 1px solid $color-dark-50;
    }
    #{$parent}__submit-button {
      border: 1px solid $color-dark-50;
      border-left: none;
    }
  }
  &--with-arrow {
    #{$parent}__input {
      display: inline;
    }
    #{$parent}__submit-button {
      display: inline;
      cursor: pointer;
    }
  }
  &__input {
    font-family: Montserrat, sans-serif;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    line-height: 2.625rem;
    background: #FFFFFF;
    border: 1px solid $color-dark-25;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 0.875rem;
    color: $color-dark-75;
    padding: 0 14px;
    &:focus,
    &:hover {
      outline: none;
      border: 1px solid $color-dark-50;
    }
    &:focus + #{$parent}__submit-button,
    &:hover + #{$parent}__submit-button {
      border: 1px solid $color-dark-50;
      border-left: none;
    }
  }
  &__submit-button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    border: 1px solid $color-dark-25;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-sizing: border-box;
    font-size: 0;
    background: #FFFFFF no-repeat right 13px center;
    color: $color-purple;
  }
  ::placeholder {
    font-family: Montserrat, sans-serif;
    color: $color-dark-50;
  }
}