.input {
  $blockClass: &;
  $lineHeight: 2.75rem;
  $borderRadius: 0.25rem;

  display: flex;
  line-height: $lineHeight;
  font-size: 0.75rem;

  &__input {
    font-family: Montserrat, sans-serif;
    width: 100%;
    line-height: 2.625rem;
    border: 1px solid $color-dark-25;
    border-radius: $borderRadius;
    font-size: 0.875rem;
    color: $color-dark-75;
    padding: 0 0.875rem;
    &:focus,
    &:hover {
      outline: none;
      border: 1px solid $color-dark-50;
    }
    &:focus + #{$blockClass}__submit-button,
    &:hover + #{$blockClass}__submit-button {
      border: 1px solid $color-dark-50;
      border-left: none;
    }
  }
  &__submit-button {
    display: none;
  }
  &--hovered {
    #{$blockClass}__input {
      outline: none;
      border: 1px solid $color-dark-50;
    }
    #{$blockClass}__submit-button {
      border: 1px solid $color-dark-50;
      border-left: none;
    }
  }
  &--with-arrow {
    #{$blockClass}__input {
      display: inline-block;
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    #{$blockClass}__submit-button {
      padding: 0;
      background: white;
      cursor: pointer;
      color: $color-purple;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: $lineHeight;
      width: $lineHeight + $borderRadius;
      border: 1px solid $color-dark-25;
      border-left: none;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }
  ::placeholder {
    font-family: Montserrat, sans-serif;
    color: $color-dark-50;
  }
}