mixin rate-button(options)
  - const { base, rate } = options || {};

  .rate-button
    - for(let i = 0; i < base; i++)
      - const starContent = i >= rate ? 'star_bordered' : 'star';
      span.rate-button__star.material-icons= starContent