mixin rating(options)
  - const { base, rate } = options || {};

  .rating
    - for(let i = 0; i < base; i++)
      - const starContent = i >= rate ? 'star_bordered' : 'star';
      span.rating__star.material-icons= starContent