@import '../../utils/vars';

.rating {
  $blockClass: &;
  display: inline-block;

  &__star {
    cursor: default;
    display: inline-block;
    user-select: none;
    color: $color-purple;
    font-family: 'Material Icons';
    font-size: 1.375rem;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('./img/star.svg');
    background-position: center center;
    background-repeat: no-repeat;
    &_type {
      &_outline {
        background-image: url('./img/star-border.svg');
      }
    }
  }
}