mixin rating(options)
  - const { base, rate } = options || {};

  .rating
    - for(let i = 0; i < base; i++)
      - const classBordered = i >= rate ? 'rating__star_bordered' : '';
      span.rating__star(class=classBordered)