@import '../../utils/vars';

.rating {
  $blockClass: &;
  display: inline-block;

  &__star {
    cursor: default;
    display: inline-block;
    user-select: none;
    color: $color-purple;
    font: 1.375rem 'Material Icons';
    height: 1.5rem;
    width: 1.5rem;
    background: url('./img/star.svg') no-repeat center center;

    &_type {
      &_outline {
        background-image: url('./img/star-border.svg');
      }
    }
  }
}