@import '../../utils/vars';

.footer-menu {
  font-family: Montserrat, sans-serif;
  &__list {
    list-style: none;
    padding-left: 0;
    margin: 1.125rem 0;
  }
  &__item {
    margin-bottom: 0.875rem;
  }
  &__link {
    color: $color-dark-50;
    text-decoration: none;
  }
  &--center {
    padding-right: 2.25rem;
  }
}