@import '../../utils/vars';
@import '../../utils/mixins';

.footer-menu {
  font-family: Montserrat, sans-serif;
  &__title {
    @include h3;
  }
  &__list {
    padding-left: 0;
    margin: 1.125rem 0;
  }
  &__item {
    margin-bottom: 0.875rem;
  }
  &__link {
    @include primary-text;
    color: $color-dark-50;
    text-decoration: none;
    &:hover {
      color: $color-dark-100;
    }
  }
  &_middle {
    padding-right: 2.25rem;
  }
}