include ../label/label
include ../dropdown/dropdown
include ../button/button
include ../datepicker-range/datepicker-range

mixin room-search(options)
  -
    const {
      name='room-search',
      header = 'Найдём номера под ваши пожелания',
      headerTag = 'h1'
    } = options || {};

  form.room-search
    header.room-search__header
      #{headerTag}.room-search__title= header
    .room-search__datepicker-range
      +datepicker-range({id: 'room-search-datepicker'})
    .room-search__guests-dropdown-group
      .room-search__label
        +label({ label: 'Гости' })
      .room-search__dropdown
        +dropdown({
          name: `${name}-guests-input`,
          type: 'guests',
          rows: [
            {count: 0, text: 'взрослые'},
            {count: 0, text: 'дети'},
            {count: 0, text: 'младенцы'},
          ],
        })
    .room-search__button
      +button({
        theme: 'with-arrow',
        caption: 'Подобрать номер',
        href: 'search.html',
        size: 'fluid',
      })