@import '../../utils/vars';
@import '../../utils/mixins';

@import '../button/button';
@import '../label/label';
@import '../datepicker-date-range/datepicker-date-range';
@import '../dropdown/dropdown';

.room-search {
  @include card;
  padding: 2.4375rem 1.75rem 1.8125rem 1.8125rem;
  @media (max-width: $screen-xs-max) {
    padding: 2rem 1rem;
  }
  &__title {
    @include h1;
    margin-bottom: 1.4375rem;
  }
  &__datepicker-date-range-group {
    margin-bottom: 1.25rem;
  }
  &__guests-dropdown-label {
    margin-bottom: 0.3125rem;
  }
  &__submit-button-group {
    margin-top: 1.9375rem;
  }
}