@import '../../utils/vars';
@import '../../utils/mixins';

@import '../button/button';
@import '../label/label';
@import '../datepicker/datepicker';
@import '../dropdown/dropdown';

.room-search {
  @include card;
  padding: 2.4375rem 1.8125rem 1.8125rem 1.8125rem;
  @media (max-width: $screen-xs-max) {
    padding: 2rem 1rem;
  }
  &__title {
    @include h1;
    margin-bottom: 1.25rem;
  }
  &__datepicker {
    margin-bottom: 1.3125rem;
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
  &__button {
    margin-top: 1.9375rem;
  }
}