include ../label/label
include ../dropdown/dropdown
include ../button/button
include ../datepicker-range/datepicker-range

mixin room-search()
  form.room-search
    h1.room-search__title= 'Найдём номера под ваши пожелания'
    .room-search__datepicker-range
      +datepicker-range({id: 'room-search-datepicker'})
    .room-search__guests-dropdown-group
      .room-search__label
        +label({ label: 'Гости', _for: 'room-search-guests' })
      .room-search__dropdown
        +dropdown({
          id: 'room-search-guests',
          type: 'guest',
          rows: [
            {count: 0, text: 'взрослые'},
            {count: 0, text: 'дети'},
            {count: 0, text: 'младенцы'},
          ],
        })
    .room-search__button
      +button({
        theme: 'with-arrow',
        caption: 'Подобрать номер',
        href: 'room-filter.html',
        size: 'fluid',
      })