include ../label/label
include ../dropdown/dropdown
include ../button/button
include ../datepicker-date-range/datepicker-date-range

mixin room-search()
  form.room-search
    h1.room-search__title= 'Найдём номера под ваши пожелания'
    .room-search__datepicker-date-range
      +datepicker-date-range({id: 'room-search__check-in-out'})
    .room-search__guests-dropdown-group
      .room-search__label
        +label({ label: 'Гости' })
      .room-search__dropdown
        +dropdown({
          type: 'guest',
          rows: [
            {count: 0, text: 'взрослые'},
            {count: 0, text: 'дети'},
            {count: 0, text: 'младенцы'},
          ],
        })
    .room-search__button
      +button({
        theme: 'with-arrow',
        caption: 'Подобрать номер',
        href: 'room-filter.html',
        isFluid: true,
      })