.h3 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.9375rem;
  color: $color-dark-100;
  text-transform: uppercase;
  &--purple {
    color: $color-purple;
  }
}