.h3 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-dark-100;
  margin: 0;
  &--purple {
    color: $color-purple;
  }
}