extends ../layouts/page

block vars
  - var title = 'Landing page'

block main
  article.landing
    .landing__inner
      section.landing__room-search
        +room-search
      aside.landing__hero-text.body
        = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'