extends ../layout/layout

block vars
  - const title = 'Landing page'
  - const bodyClasses = ['landing', 'clearfix']
  - const withoutLogo = true

block main
  .landing__hero-section
    .landing__room-search
      +room-search
    .landing__hero-text.body
      = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'