extends ../../layouts/page

include ../../components/room-search/room-search

block vars
  -
    const metaDescription = 'Официальный сайт отеля Toxin. Поиск и моментальное бронирование номеров. '+
                            'Спецпредложения, скидки для постоянных клиентов.';
  - const metaKeywords = 'отель Toxin, подобрать номер, выбрать дату пребывания'

block main
  main.landing
    .landing__inner-wrapper
      section.landing__room-search
        +room-search
      p.landing__hero-text
        = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'