extends ../layout/layout

block vars
  - var title = 'Landing page'
  - var bodyClasses = ['landing', 'clearfix']
  - var withoutLogo = true

block main
  .landing__hero-section
    .landing__room-search
      +room-search
    .landing__hero-text.body
      = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'