extends ../../layouts/page

include ../../components/landing-page/landing-page

block vars
  -
    const metaDescription = 'Официальный сайт отеля Toxin. Поиск и моментальное бронирование номеров.'+
                            'Спецпредложения, скидки для постоянных клиентов.';
  - const metaKeywords = 'Toxin.com, отель Toxin, подобрать номер, выбрать дату пребывания'

block main
  +landing-page