extends ../layout/layout

block vars
  - const title = 'Landing page'
  - const bodyClasses = ['clearfix']
  - const withoutLogo = true

block main
  article.landing
    section.landing__room-search
      +room-search
    p.landing__hero-text.body
      = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'