mixin paginator(options)
  - const blockName = 'paginator'
  - const { source, pageSize, pageRange } = options

  div(
    class=blockName
    data-source=source
    data-page-size=pageSize
    data-page-range=pageRange
  )