include ../room-search/room-search

mixin landing-page
  main.landing-page
    .landing-page__inner-wrapper
      section.landing-page__room-search
        +room-search
      p.landing-page__hero-text
        = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'