include ../room-search/room-search

mixin landing-page
  article.landing-page
    .landing-page__inner
      section.landing-page__room-search-form
        +room-search
      section.landing-page__hero-text
        = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'