@import '../../utils/config';
@import '../../utils/mixins';

.auth {
  width: 100%;

  background-image: url('./img/auth.png');
  background-color: $color-purple;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    @include inner;
    min-height: 42.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    width: 23.75rem;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}