include ../text-input/text-input
include ../button/button

mixin sign-in(options)
  - const { method='POST', action='/'} = options || {};

  form.sign-in(method=method action=action)
    h1.sign-in__title= 'Войти'
    .sign-in__text-input
      +text-input({
        id: 'sign-in_email',
        placeholder: 'Email',
        type: 'email',
      })
    .sign-in__text-input
      +text-input({
        id: 'sign-in_pass',
        placeholder: 'Пароль',
        type: 'password',
      })
    .sign-in__submit-button-group
      +button({
        theme: 'default',
        type: 'submit',
        caption: 'Войти',
        withArrow: true,
        isFluid: true,
      })
    .sign-in__sign-up-button-group
      p.sign-in__sign-up-hint= 'Нет аккаунта на Toxin?'
      .sign-in__sign-up-button
        +button({
          theme: 'transparent',
          caption: 'Создать',
          isFluid: true,
          href: 'sign-up.html',
        })