include ../text-input/text-input
include ../button/button

mixin sign-in(options)
  - const { method='POST', action='/'} = options || {};

  form.sign-in(method=method action=action)
    h1.sign-in__title= 'Войти'
    .sign-in__text-input
      +text-input({
        id: 'sign-in_email-input',
        name: 'email',
        placeholder: 'Email',
        type: 'email',
      })
    .sign-in__text-input
      +text-input({
        id: 'sign-in_password-input',
        name: 'password',
        placeholder: 'Пароль',
        type: 'password',
      })
    .sign-in__button
      +button({
        theme: 'with-arrow',
        type: 'submit',
        caption: 'Войти',
        isFluid: true,
      })
    .sign-in__sign-up-button-group
      p.sign-in__sign-up-hint= 'Нет аккаунта на Toxin?'
      .sign-in__button.sign-in__button_type_sign-up
        +button({
          theme: 'transparent',
          caption: 'Создать',
          href: 'sign-up.html',
        })