include ../input/input
include ../button/button

mixin sign-in()
  form.sign-in
    h1.sign-in__title= 'Войти'
    .sign-in__input
      +input({
        id: 'sign-in_email',
        placeholder: 'Email',
        type: 'email'
      })
    .sign-in__input
      +input({
        id: 'sign-in_pass',
        placeholder: 'Пароль',
        type: 'password'
      })
    .sign-in__login-button
      +button({
        theme: 'default',
        caption: 'Войти',
        withArrow: true,
        isFluid: true,
        href: 'login.html'
      })
    .sign-in__create-account
      p.sign-in__hint= 'Нет аккаунта на Toxin?'
      .sign-in__create-button
        +button({
          theme: 'transparent',
          caption: 'Создать',
          isFluid: true,
          href: 'registration.html'
        })