include ../text-input/text-input
include ../button/button

mixin sign-in(options)
  -
    const {
      header = 'Войти',
      headerTag = 'h1',
      method = 'POST',
      action = '/'
    } = options || {};

  form.sign-in(method=method action=action)
    header.sign-in__header
      #{headerTag}.sign-in__title= header
    .sign-in__text-input
      +text-input({
        name: 'email',
        placeholder: 'Email',
        type: 'email',
      })
    .sign-in__text-input
      +text-input({
        name: 'password',
        placeholder: 'Пароль',
        type: 'password',
      })
    .sign-in__button
      +button({
        theme: 'with-arrow',
        type: 'submit',
        caption: 'Войти',
        size: 'fluid',
      })
    .sign-in__sign-up-button-group
      p.sign-in__sign-up-hint= 'Нет аккаунта на Toxin?'
      .sign-in__button.sign-in__button_type_sign-up
        +button({
          theme: 'transparent',
          caption: 'Создать',
          href: 'sign-up.html',
          size: 'fluid',
        })