@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face{font-family:'Quicksand';src:url(fonts/quicksand-regular.woff2) format("woff2"),url(fonts/quicksand-regular.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'Quicksand';src:url(fonts/quicksand-bold.woff2) format("woff2"),url(fonts/quicksand-bold.woff) format("woff");font-weight:bold;font-style:normal}@font-face{font-family:'Open Sans';src:url(fonts/open-sans-bold.woff2) format("woff2"),url(fonts/open-sans-bold.woff) format("woff");font-weight:bold;font-style:normal}@font-face{font-family:'Montserrat';src:url(fonts/montserrat-regular.woff2) format("woff2"),url(fonts/montserrat-regular.woff) format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'Montserrat';src:url(fonts/montserrat-bold.woff2) format("woff2"),url(fonts/montserrat-bold.woff) format("woff");font-weight:bold;font-style:normal}*,*:after,*:before{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}html,body{height:100%}html{font:16px Montserrat, Helvetica, sans-serif;color:#1f2041}body{max-width:120rem;min-width:20rem;margin:0 auto}

.site-menu{font-family:Quicksand, Arial, sans-serif;list-style:none;line-height:3rem;padding:1rem}.site-menu_theme_purple .site-menu__link{color:#bc9cff}.site-menu_theme_green .site-menu__link{color:#6fcf97}.site-menu__link{font-size:1.5rem;font-weight:bold}.site-menu__link:hover{color:#1f2041}

