body {
    font-family: Quicksand, sans-serif;
    margin: 0;
}
.container {
    margin: 144px auto 0;
    width: 79%;
}
.logo {
    position: absolute;
    top: 29px;
    left: 31px;
}
.item_list.layout-column {
    width: 50%;
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.color_item,
.text_item {
    font-family: Quicksand, sans-serif;
    position: relative;
}
.color_item {
    padding-left: 19.338959212%;
    height: 70px;
}
.text_item {
    padding-left: 34.106891701%;
    padding-right: 6.856540084%;
}
.color_item.item_list__item {
    margin-bottom: 20px;
}
.text_item.item_list__item {
    margin-bottom: 50px;
}
.color_item_color {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    border-radius: 6px;
}
.color_item__dark_shade_100_background {
    background-color: #1F2041;
}
.color_item__dark_shade_100_color {
    color: #1F2041;
}
.color_item__dark_shade_75_background {
    background: rgba(31, 32, 65, 0.75);
}
.color_item__dark_shade_75_color {
    color: rgba(31, 32, 65, 0.75);
}
.color_item__dark_shade_50_background {
    background: rgba(31, 32, 65, 0.50);
}
.color_item__dark_shade_50_color {
    color: rgba(31, 32, 65, 0.50);
}
.color_item__dark_shade_25_background {
    background: rgba(31, 32, 65, 0.25);
}
.color_item__dark_shade_25_color {
    color: rgba(31, 32, 65, 0.25);
}
.color_item__dark_shade_5_background {
    background: rgba(31, 32, 65, 0.05);
}
.color_item__dark_shade_5_color {
    color: rgba(31, 32, 65, 0.05);
}
.color_item__purple_background {
    background: #BC9CFF;
}
.color_item__purple_color {
    color: #BC9CFF;
}
.color_item__green_background {
    background: #6FCF97;
}
.color_item__green_color {
    color: #6FCF97;
}
.color_item_title {
    font-weight: bold;
    padding-top: 9px;
}
.color_item_hex {
    padding-top: 5px;
}
.color_item_title,
.color_item_hex {
    font-size: 19px;
}
.text_item_name,
.text_item_desc {
    float: left;
}
.text_item_name {
    position: absolute;
    font-family: Montserrat, sans-serif;
    text-align: right;
    top: 0;
    left: 0;
    width: 28.832630098%;
    font-weight: normal;
}
.text_item_desc {
    float: left;
}
.text_item__subsection_title {
    font-size: 24px;
    line-height: 1.25em;
    font-weight: bold;
}
.text_item__inside_title {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.26315789474em;
}
.text_item__label {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.1em;
    text-transform: uppercase;
}
.text_item__body {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71428571429em;
}
.text_item.text_item__body {
    padding-right: 10.548523206%;
}

@media (max-width: 1280px) {
    .container {
        width: 88%;
    }
}

@media (max-width: 1024px) {
    .color_item {
        padding-left: 25%;
    }
    .container {
        width: 91%;
    }
}

@media (max-width: 767px) {
    .container {
        width: 91%;
    }
    .item_list.layout-column {
        width: 100%;
    }
    .text_item_name {
        width: 11.83263%;
    }
    .text_item {
        padding-left: 19.106892%;
        padding-right: 0;
    }
}