@import '../../utils/vars';
@import '../../utils/mixins';

@import '../card/room-search/room-search.scss';

.landing {
  width: 100%;
  background-image: url(./img/landing.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-green;
  &__inner {
    @include inner;
    padding: 4.3125rem 0 0.75rem 0;
    display: grid;
    grid-template-rows: 23.375rem 23.375rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.625rem;
    align-items: flex-end;
  }
  &__room-search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @media (max-width: $screen-sm-max) {
      grid-column: 1 / 3;
    }
    @media (max-width: $screen-xs-max) {
      grid-column: 1 / 4;
    }
  }
  &__hero-text {
    @include primary-text;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    text-align: right;
    padding: 0 0 0.5rem 4.5rem;
    @media (max-width: $screen-xs-max) {
      grid-column: 1 / 4;
    }
  }
}