include ../room-search/room-search

mixin landing
  article.landing
    .landing__inner
      section.landing__room-search
        +room-search
      aside.landing__hero-text
        = 'Лучшие номера для вашей работы, отдыха и просто вдохновения'