extends ../../layouts/page

include ../../components/sign-in-page/sign-in-page

block vars
  - const title = 'Войти';
  - const metaDescription = `Авторизоваться на официальном сайте отеля Toxin.`
  - const metaKeywords = 'логин, авторизация, авторизоваться, войти в учетную запись'

block main
  +sign-in-page