mixin button(options)
  -
    var {
      theme,
      caption,
      type,
      href,
      isHovered,
      isFluid,
      isSmall,
      withArrow
    } = options || {}

  - var blockModifiers = [theme]

  if isHovered
    - blockModifiers.push('hovered')
  if isFluid
    - blockModifiers.push('fluid')
  if isSmall
    - blockModifiers.push('small')
  if withArrow
    - blockModifiers.push('with-arrow')

  - var f = require('../../utils/functions')

  - var isButton = ['button', 'submit'].includes(type)
  - var tag = 'a'

  if isButton
    - tag = 'button'

  #{tag}(class=f.bem({b: 'button', m: blockModifiers}) type=(type || false) href=(href || false))
    .button__inner
      span.button__caption= caption
      span.button__arrow.material-icons= 'arrow_forward'