mixin button(options)
  - const blockName = 'button'
  -
    const {
      theme,
      caption,
      href = '/change=me',
      isHovered,
      isFluid,
      isSmall,
      withArrow
    } = options || {}

  - let modifiers = [blockName + '--' + theme]

  if isHovered
    - modifiers.push(blockName + '--hovered')
  if isFluid
    - modifiers.push(blockName+'--fluid')
  if isSmall
    - modifiers.push(blockName+'--small')

  a(
    class=blockName
    class=modifiers
    href=href
  )
    = caption
    if withArrow
      i(class=[`${blockName}__arrow`, 'material-icons'])= 'arrow_forward'