mixin button(options)
  -
    var {
      theme,
      caption,
      href = '/change-me',
      isHovered,
      isFluid,
      isSmall,
      withArrow
    } = options || {}

  - var blockModifiers = [theme]

  if isHovered
    - blockModifiers.push('hovered')
  if isFluid
    - blockModifiers.push('fluid')
  if isSmall
    - blockModifiers.push('small')
  if withArrow
    - blockModifiers.push('with-arrow')

  - var f = require('../../js/functions')

  a(class=f.bem({b: 'button', m: blockModifiers}) href=href)
    .button__inner
      span.button__caption= caption
      i.button__arrow.material-icons= 'arrow_forward'