@import '../../utils/vars';
@import '../../utils/mixins';

@import '../color-sample/color-sample.scss';
@import '../font-sample/font-sample.scss';

.colors-type-page {
  &__nav {
    @include inner-wrapper($lgWidth: 95.8%, $mdWidth: 95.8%, $maxWidth: 87.3125rem);
    @include ui-kit-navigation(2.0625rem);
  }
  &__main {
    @include inner-wrapper($lgWidth: 79.2%);
    display: grid;
    grid-template-columns: 16.875rem 25.1875rem;
    grid-column-gap: 37.4%;
    @media (max-width: $screen-md-max) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-row-gap: 3rem;
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }

  &__colors {
    display: grid;
    grid-row-gap: 1.25rem;
  }
  &__fonts {
    display: grid;
    grid-row-gap: 3.125rem;
    grid-auto-rows: min-content;
  }
}