.checkbox-list-xp {
  $list: #{&}__list;
  $upArrow: #{&}__icon-up;
  $downArrow: #{&}__icon-down;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-dark-75;
  user-select: none;
  &__toggle {
    margin: 0;
    padding: 0.5rem 0.625rem 0.6875rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__label {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-dark-100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #{$downArrow},
  #{$upArrow} {
    display: none;
    cursor: pointer;
    float: right;
  }
  #{$downArrow} {
    display: inline-block;
  }
  #{$list} {
    margin: 0;
    padding: 0;
    display: none;
    width: 100%;
    list-style: none;
  }
  &__li {
    padding-bottom: 0.625rem;
  }
  &--expanded {
    #{$downArrow} {
      display: none;
    }
    #{$upArrow} {
      display: inline-block;
    }
    #{$list} {
      display: inline-block;
    }
  }
}