.button-group {
  &__label {
    margin-bottom: 16px;
  }
  &__button {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 29px;
    width: 99px;
    height: 44px;
    &--textual {
      display: inline-block;
      margin-bottom: 25px;
      margin-right: 17px;
    }
    &--large {
      width: 320px;
    }
  }
}