.input-select-group {
    position: relative;
    width: 320px;
    height: 64px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
}
.input-select-group--width-small {
    position: relative;
    width: 149px;
    margin-right: 20px;
    float: left;
}
.input-select-group--width-medium {
    width: 265px;
}
.input-select-group--margin-standard {
    margin-bottom: 25px;
}
.input-select-group--margin-large {
    margin-bottom: 40px;
}
.input-select-group__llabel,
.input-select-group__rlabel {
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 0;
}
.input-select-group__llabel {
    left: 0;
    font-weight: bold;
    color: #1F2041;
}
.input-select-group__rlabel {
    right: 0;
    /*top: -3px;*/
    color: rgba(31, 32, 65, 0.5);
}