mixin input-t-checkbox(options)
  - var modifiers = []
  div(class='input-t-checkbox' class=modifiers)
    input(class='input-t-checkbox__input' type='checkbox' id=options.id checked=options.checked)
    label(class='input-t-checkbox__label' for=options.id)= options.label