.input-select-group {
    position: relative;
    width: 320px;
    height: 64px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
}
.input-select-group--wdth-small {
    width: 149px;
    margin-right: 20px;
    float: left;
}
.input-select-group--wdth-medium {
    width: 265px;
}
.input-select-group--mrgn-bttm-standard {
    margin-bottom: 25px;
}
.input-select-group--mrgn-bttm-large {
    margin-bottom: 40px;
}