include label

mixin input-select-group(options)
  - var thisModifiers = []
  - var selectOptions = []
  if options.modifiers
    - thisModifiers=options.modifiers.this
  if options.options
    - selectOptions = options.options
  div(class='input-select-group' class=thisModifiers)
    +label({
        '_for': options.id,
        'llabel': options.llabel,
        'rlabel': options.rlabel
    })
    select(class='input-select-group__select' id=options.id)
      each val in selectOptions
        option= val