.like-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
}
.like-button--sample {
    margin-left: 10px;
}
.like-button--favorite {
    border: 1px solid #BC9CFF;
}
.like-button--favorite .like-button__counter {
    color: #BC9CFF;
}
.like-button__favorite,
.like-button__counter {
    display: block;
    float: left;
    position: relative;
}
.like-button__favorite {
    top: 3px;
    left: 4px;
}
.like-button__counter {
    top: 2px;
    left: 10px;
}
.like-button__form-group {
    margin-bottom: 36px;
}