.radio-group {
    position: relative;
    width: 250px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
}
.radio-group__radio {
    min-height: 20px;
    display: inline-block;
}
.radio-group__radio--mrgn-rght-small {
    margin-right: 15px;
}
.radio-group__input {
    position: absolute;
    opacity: 0;
}
.radio-group__input-label {
    display: block;
    position: relative;
    padding-left: 30px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $color-dark-50;
}
.radio-group__input-label:after,
.radio-group__input-label:before {
    position: absolute;
}
.radio-group__input-label:after {
    content: none;
    top: 1px;
    left: 5px;
}
.radio-group__input:checked + .radio-group__input-label {
    color: $color-dark-75;
}
.radio-group__input:checked + .radio-group__input-label:after {
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: block;
    background: linear-gradient(180deg, $color-purple 0%, #8BA4F9 100%);
}
.radio-group__input-label::before {
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid $color-dark-25;
    border-radius: 10px;
    box-sizing: border-box;
}
.radio-group__input:checked + .radio-group__input-label:before {
    border: 1px solid $color-purple;
}
