mixin like-button(options)
  - var { count = 0, isFavorite } = options || {}

  - var blockModifiers = []

  if isFavorite
    - blockModifiers.push('favorite')

  - var f = require('../../utils/functions')
  - var b = 'like-button'
  - var js = 'js'

  i(class=f.bem({b, m: blockModifiers,js}))
    i(class=f.bem({b, e: 'icon',js})).material-icons= isFavorite ? 'favorite' : 'favorite_border'
    span(class=f.bem({b, e: 'count', js}))= count