.like-button {
  $blockName: &;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: 1.25rem auto;
  min-width: 2.5rem;
  align-items: center;
  line-height: 1.125rem;
  border-radius: 0.625rem;
  font-size: 0.625rem;
  font-style: normal;
  border: 1px solid $color-dark-25;
  color: $color-dark-25;
  cursor: pointer;
  user-select: none;

  &__count {
    padding-right: 0.3125rem;
  }
  &__heart {
    font-size: inherit;
    padding-left: 0.3125rem;
  }

  &--favorite {
    border: 1px solid $color-purple;

    #{$blockName}__count {
      color: $color-purple;
    }

    #{$blockName}__heart {
      color: $color-purple;
    }
  }
}