mixin like-button(options)
  - const { count = 0, isFavorite } = options || {};

  - const blockModifiers = isFavorite ? ['favorite'] : [];

  - const f = require('../../utils/functions');
  - const b = 'like-button';
  - const js = 'js';

  button(class=f.bem({b, m: blockModifiers, js}))
    span(class=f.bem({b, e: 'icon',js})).material-icons= isFavorite ? 'favorite' : 'favorite_border'
    span(class=f.bem({b, e: 'count', js}))= count