mixin like-button(options)
  - const { count = 0, isFavorite } = options || {};

  - const blockModifiers = isFavorite ? ['favorite'] : [];

  - const createBemClasses = require('../../utils/helpers').createBemClasses;
  - const blockName = 'like-button';
  - const jsPrefix = 'js';

  button(class=createBemClasses({ blockName, modifiers: blockModifiers, jsPrefix }) type='button')
    span(class=createBemClasses({ blockName, elementName: 'icon', jsPrefix })).material-icons= isFavorite ? 'favorite' : 'favorite_border'
    span(class=createBemClasses({ blockName, elementName: 'count', jsPrefix }))= count