mixin like-button(options)
  - const { count = 0, isFavorite } = options || {};

  - const modifiers = { favorite: !!isFavorite };

  - const bemFactory = require('../../utils/helpers').bemFactory;
  - const blockName = 'like-button';
  - const createBemClasses = bemFactory(blockName);
  - const withJsPrefix = true;

  button(class=createBemClasses({ modifiers, withJsPrefix }) type='button')
    span.like-button__inner-wrapper
      span(class=createBemClasses({ elementName: 'icon', withJsPrefix })).material-icons= isFavorite ? 'favorite' : 'favorite_border'
      span(class=createBemClasses({ elementName: 'counter', withJsPrefix }))= count