mixin button(theme, caption, options)
  - var blockName = 'button'
  - var modifiers = [blockName + '--' + theme]
  - var href = 'javascript:void(0);'
  - var withArrow = false
  - var attributes = {}

  if options
    if options.hover
      - modifiers.push(blockName + '--hovered')
    if options.fluid
      - modifiers.push(blockName+'--fluid')
    if options.small
      - modifiers.push(blockName+'--small')
    if options.href
      - href = options.href
    if options.withArrow
      - withArrow = options.withArrow
    if options.attributes
      - attributes = options.attributes

  a(class=blockName class=modifiers href=href)&attributes(attributes)
    = caption
    if withArrow
      i(class=[blockName+'__arrow', 'material-icons'])= 'arrow_forward'