.button {
  $buttonHovered: #{&}--hovered;
  font-family: Montserrat, sans-serif;
  border-radius: 22px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 1em 1.5em;
  line-height: 1.5;
  position: relative;
  &--small {
    padding: 0.5em 1.5em;
  }
  &--fluid {
    width: 100%;
  }
  &--default {
    color: white;
    background: $grad-purple;
  }
  &--transparent {
    color: $color-purple;
    background: transparent;
    border: 2px solid $color-purple;
  }
  &--textual {
    display: inline;
    border: none;
    color: $color-purple;
    padding: 1em 0;
    &:hover,
    &#{$buttonHovered} {
      color: $color-dark-50;
      opacity: 1;
    }
  }
  &--hovered,
  &:hover {
    opacity: 0.5;
  }
  &__arrow {
    display: inline-block;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
  }
}