.button {
  font-family: Montserrat, sans-serif;
  text-align: center;
  text-decoration: none;
  display: table;
  border-radius: 22px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  $buttonHovered: #{&}--hovered;
  height: 100%;
  width: 100%;

  &__cell {
    display: table-cell;
    vertical-align: middle;
  }

  &__caption {
    text-align: center;
    height: 15px;
    font-size: 12px;
  }

  &--hovered,
  &:hover {
    opacity: 0.5;
  }
  &__arrow {
    display: block;
    position: relative;
    > .arrow {
      position: absolute;
      right: 0;
      padding: 10px;
    }
  }
  &--default {
    color: white;
    background: $grad-purple;
  }
  &--transparent {
    color: $color-purple;
    background: transparent;
    border: 2px solid $color-purple;
  }
  &--textual {
    display: inline;
    border: none;
    color: $color-purple;
    &:hover,
    &#{$buttonHovered} {
      color: $color-dark-50;
      opacity: 1;
    }
  }
}