$height: 44px;
.button {
  font-family: Montserrat, sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: $height / 2;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: $height;
  text-transform: uppercase;
  $buttonHovered: #{&}--hovered;

  &--hovered,
  &:hover {
    opacity: 0.5;
  }
  &__arrow {
    display: block;
    position: relative;
    > .arrow {
      position: absolute;
      right: 0;
      padding: 10px;
    }
  }
  &--default {
    color: white;
    background: $grad-purple;
  }
  &--transparent {
    color: $color-purple;
    background: transparent;
    border: 2px solid $color-purple;
    line-height: $height - 2px;
  }
  &--textual {
    display: inline;
    border: none;
    color: $color-purple;
    line-height: $height / 2;
    &:hover,
    &#{$buttonHovered} {
      color: $color-dark-50;
      opacity: 1;
    }
  }
}