mixin button(theme, caption, options)
  - const blockName = 'button'

  - let modifiers = [blockName + '--' + theme]
  - let href = 'javascript:void(0);'
  - let withArrow = false
  - let attr = {}

  if options
    if options.hover
      - modifiers.push(blockName + '--hovered')
    if options.fluid
      - modifiers.push(blockName+'--fluid')
    if options.small
      - modifiers.push(blockName+'--small')
    if options.href
      - href = options.href
    if options.withArrow
      - withArrow = options.withArrow
    if options.attr
      - attr = options.attr

  a(class=blockName class=modifiers href=href)&attributes(attr)
    = caption
    if withArrow
      i(class=[blockName+'__arrow', 'material-icons'])= 'arrow_forward'