@import '../../utils/vars';
@import '../../utils/mixins';

@import '../rate-button/rate-button';

.room-thumbnail {
  $blockClass: &;

  @include card;
  border: none;
  &__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: minmax(9.5rem, 100%);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    &:hover {
      #{$blockClass}__carousel-control {
        opacity: 1;
      }
    }
  }
  &__carousel-image {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    display: none;
    width: 100%;
    z-index: 0;
    &--active {
      display: block;
    }
  }
  &__carousel-control {
    @include reset-button;
    outline: none;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    transition: opacity .25s ease-in-out;
    z-index: 1;
    &--next {
      grid-column: 3 / 4;
      grid-row: 1 / 1;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  &__carousel-indicators {
    position: absolute;
    right: 0.9375rem;
    bottom: 0.9375rem;
    z-index: 2;
  }
  &__carousel-indicator {
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-left: 0.1875rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.25rem;
    border: 0.0625rem solid white;
    box-shadow: 0 0.3125rem 0.3125rem rgba(31, 32, 65, 0.3);
    &--active {
      background-color: white;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.25rem 0 0.625rem 0;
    margin: 0 1rem 0 1.25rem;
    border-bottom: 0.0625rem solid $color-dark-10;
  }
  &__number {
    color: $color-dark-100;
    display: inline-block;
    text-decoration: none;
    font-family: Quicksand, sans-serif;
  }
  &__number-feature {
    @include h3;
    color: $color-purple;
  }
  &__number-sign,
  &__number-value,
  &__number-feature,
  &__date-unit,
  &__cost {
    display: inline-block;
  }
  &__number-sign,
  &__number-value {
    font-weight: bold;
    font-size: 0.875rem;
  }
  &__number-value {
    font-size: 1.1875rem;
    padding-left: 0.3125rem;
    color: $color-dark-100;
  }
  &__price-per-day {
    color: $color-dark-50;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  &__cost {
    font-weight: bold;
  }
  &__date-unit {
    font-size: 0.75rem;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0 0.875rem 0;
    margin: 0 1.25rem 0 1.375rem;
  }
  &__feedback-counter {
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    color: $color-dark-50;
    line-height: 1.375rem;
  }
  &--focused {
    #{$blockClass}__carousel-control {
      opacity: 1;
    }
  }
}