@import '../../card/card';
.room-thumb {
  $parent: #{&};
  @include card;
  border: none;
  &--focus {
    #{$parent}__image-prev-btn,
    #{$parent}__image-next-btn {
      display: inline-block;
    }
  }
  &__image-wrapper {
    position: relative;
    min-height: 151px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    margin: 0;
    &:hover {
      #{$parent}__image-prev-btn,
      #{$parent}__image-next-btn {
        display: inline-block;
      }
    }
  }
  &__image {
    position: absolute;
    display: block;
    width: 100%;
  }
  &__image-prev-btn,
  &__image-next-btn {
    position: absolute;
    display: none;
    color: white;
    top: 43%;
    text-decoration: none;
    cursor: pointer;
  }
  &__image-prev-btn {
    left: 10px;
    transform: rotate(90deg);
  }
  &__image-next-btn {
    right: 10px;
    transform: rotate(-90deg);
  }
  &__number,
  &__feature {
    float: left;
  }
  &__headline {
    vertical-align: bottom;
    margin-bottom: 8px;
    padding: 16px 7% 0 7%;
  }
  &__number {
    vertical-align: bottom;
    line-height: 35px;
    font-family: Quicksand, sans-serif;
  }
  &__number-sign,
  &__number-value,
  &__number-feature {
    display: inline-block;
  }
  &__number-sign,
  &__number-value {
    font-weight: bold;
    font-size: 0.875rem;
  }

  &__number-value {
    font-size: 1.1875rem;
    margin-left: 4px;
    margin-right: 1px;
    color: $color-dark-100;
  }
  &__price-per-day {
    color: $color-dark-50;
    font-family: Montserrat, sans-serif;
    vertical-align: bottom;
    float: right;
    line-height: 39px;
  }
  &__date-unit,
  &__cost {
    display: inline-block;
    height: 30px;
  }
  &__cost {
    font-weight: bold;
  }
  &__date-unit {
    font-size: 0.75rem;
  }
  &__footer {
    padding: 3px 8% 18px;
    position: relative;
  }
  &__feedback-counter {
    float: right;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    color: $color-dark-50;
    line-height: 22px;
    margin: 0;
  }
  &__counter {
    font-weight: bold;
    margin-right: 3px;
  }
  &__rate {
    float: left;
  }
  &__line {
    position: absolute;
    top: -8px;
    right: 20px;
    left: 20px;
    height: 1px;
    border-bottom: 1px solid $color-dark-10;
    display: inline-block;
  }
  &__slider {
    position: absolute;
    right: 15px;
    bottom: 10px;
    list-style: none;
    margin: 0;
  }
  &__slider-li {
    display: inline-block;
    float: left;
    margin-left: 3px;
    &--active {
      #{$parent}__slider-a {
        background: white;
      }
    }
  }
  &__slider-a {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid white;
    box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
  }

}