.button-group {
  &__label {
    margin-bottom: 16px;
  }
  &__button {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 29px;
    min-width: 99px;
    height: 44px;
    &--textual {
      display: inline-block;
      margin-bottom: 25px;
      margin-right: 17px;
    }
    &--large {
      width: 100%;
      margin-bottom: 40px;
    }
    // ... 991px
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}