.toggle-button {
  $blockClass: &;
  font-size: 0.75rem;
  font-family: Montserrat, sans-serif;
  line-height: 1.25rem;

  &__input {
    position: absolute;
    opacity: 0;

    &:checked + #{$blockClass}__label {
      &:after {
        background: $grad-purple;
        left: 1.5rem;
      }

      &:before {
        border: 1px solid $color-purple;
      }
    }
  }
  &__label {
    position: relative;
    padding-left: 3.125rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    color: $color-dark-75;
    user-select: none;

    &:after,
    &:before {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: '';
      top: 0.25rem;
      left: 0.25rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      display: block;
      background: $color-dark-25;
    }
    &:before {
      content: '';
      display: inline;
      width: 2.5rem;
      height: 1.25rem;
      border: 1px solid $color-dark-25;
      border-radius: 0.625rem;
    }
  }
}