mixin toggle-button(options)
  - var { id, label, isChecked } = options || {}

  .toggle-button
    input.toggle-button__input(id=id type='checkbox' checked=isChecked)
    label.toggle-button__label(for=id)= label