@import '../../utils/vars';
@import '../../utils/mixins';

.font-sample {
  $blockClass: &;
  @mixin name {
    font-family: Montserrat, sans-serif;
    color: $color-dark-25;
    font-weight: normal;
    text-transform: uppercase;
    text-align: right;
    width: 2.375rem;
    margin-right: 1.875rem;
  }
  @mixin description {
    font-style: normal;
    font-family: Quicksand, sans-serif;
  }
  display: flex;

  &--h1 {
    #{$blockClass}__name {
      @include h1;
      @include name;
      padding-left: 0.5rem;
    }
    #{$blockClass}__description {
      @include h1;
      @include description;
    }
  }
  &--h2 {
    #{$blockClass}__name {
      @include h2;
      @include name;
    }
    #{$blockClass}__description {
      @include h2;
      @include description;
      padding-right: 2rem;
    }
  }
  &--h3 {
    #{$blockClass}__name {
      @include h3;
      @include name;
    }
    #{$blockClass}__description {
      @include h3;
      @include description;
      font-family: Montserrat, sans-serif;
    }
  }
  &--body {
    #{$blockClass}__name {
      @include primary-text;
      @include name;
      text-transform: capitalize;
    }
    #{$blockClass}__description {
      @include primary-text;
      @include description;
      padding-right: 4rem;
      font-family: Montserrat, sans-serif;
    }
  }
}