mixin font-sample(options)
  - var thisModifiers = []
  - var descModifiers = []
  if options.modifiers
    - thisModifiers = options.modifiers.this || []
    - descModifiers = options.modifiers.desc || []

  div(class='font-sample' class=thisModifiers)
    div(class='font-sample__name')= options.name
    div(class='font-sample__desc' class=descModifiers)= options.description