mixin font-sample(options)
  - const blockName = 'font-sample'
  - const { theme, name, description } = options

  article(class=[blockName, `${blockName}--${theme}`])
    abbr(class=[`${blockName}__name`, name])= name
    dfn(class=[`${blockName}__desc`, name])= description