mixin font-sample(options)
  - const b = 'font-sample'
  - const { theme, name, description } = options

  article(class=[b, `${b}--${theme}`])
    abbr(class=[`${b}__name`, name])= name
    dfn(class=[`${b}__description`, name])= description