mixin font-sample(theme, name, description)
  - var blockName = 'font-sample'

  div(class=blockName class=blockName+'--'+theme)
    div(class=blockName+'__name')= name
    div(class=blockName+'__desc')= description