mixin font-sample(theme, name, description, options)
  - const blockName = 'font-sample'
  - const element = name.toLowerCase()

  - let nameModifiers = [element]
  - let descModifiers = [element]

  if options
    if options.bold
      - descModifiers.push(element + '--bold')

  article(class=blockName class=blockName+'--'+theme)
    abbr(class=blockName+'__name' class=nameModifiers)= name
    dfn(class=blockName+'__desc' class=descModifiers)= description