mixin font-sample(options)
  - const { name, description, fontClass } = options;

  article.font-sample(class=[fontClass, `font-sample_type_${name}`])
    abbr.font-sample__name= name
    dfn.font-sample__description= description