mixin font-sample(options)
  -
    var topClass = [
      'font-sample',
    ];

  div(class=topClass class=options.topClass)
    div(class='font-sample-name')= options.name
    div(class='font-sample-desc')= options.description