mixin font-sample(options)
  - const { theme, name, description } = options;

  article(class=['font-sample', `font-sample--${theme}`, `font-sample--${name}`])
    abbr.font-sample__name= name
    dfn.font-sample__description= description