mixin font-sample(options)
  - var { theme, name, description } = options

  article(class=['font-sample', `font-sample--${theme}`])
    abbr(class=['font-sample__name', name])= name
    dfn(class=['font-sample__description', name])= description