include ../range-slider/range-slider
include ../label/label
include ../checkbox-list/checkbox-list
include ../checkbox-list-expandable/checkbox-list-expandable
include ../room-thumbnail/room-thumbnail
include ../pagination/pagination
include ../dropdown/dropdown

mixin room-filter-page
  .room-filter-page
    .room-filter-page__inner-wrapper
      section.room-filter-page__sidebar
        .room-filter-page__date-dropdown-group
          .room-filter-page__label
            +label({
              label: 'Даты пребывания в отеле',
            })
          .room-filter-page__dropdown
            +dropdown({
              value: '19 авг. - 23 авг.',
            })
        .room-filter-page__guests-dropdown-group
          .room-filter-page__label
            +label({
              label: 'Гости',
            })
          .room-filter-page__dropdown
            +dropdown({
              type: 'guest',
              rows: [
                {count: 2, text: 'взрослые'},
                {count: 0, text: 'дети'},
                {count: 1, text: 'младенцы'},
              ],
            })
        .room-filter-page__range-slider
          +range-slider({
            label: 'Диапазон цены',
            name: 'price-slider',
            min: 0,
            max: 16000,
            from: 5000,
            to: 10000,
          })
          p.room-filter-page__range-slider-hint
            = 'Стоимость за сутки пребывания в номере'
        .room-filter-page__checkbox-list
          +checkbox-list({
            label: 'checkbox buttons',
            items: [
              {
                id: 'smoke-allowed-checkbox',
                name: 'smoke-allowed',
                label: 'Можно курить',
              },
              {
                id: 'pets-allowed-checkbox',
                name: 'pets-allowed',
                label: 'Можно с питомцами',
                isChecked: true,
              },
              {
                id: 'guests-allowed-checkbox',
                name: 'guests-allowed',
                label: 'Можно пригласить гостей (до 10 человек)',
                isChecked: true,
              },
            ]
          })
        - const theme = 'rich';
        .room-filter-page__checkbox-list_theme_rich
          +checkbox-list({
            theme,
            label: 'Доступность',
            items: [
              {
                id: 'wide-hall-checkbox',
                name: 'wide-hall',
                label: 'Широкий коридор',
                hint: 'Ширина коридоров в номере не&nbsp;менее 91 см.',
                theme,
              },
              {
                id: 'disable-assistant-checkbox',
                id: 'disable-assistant',
                label: 'Помощник для инвалидов',
                hint: 'На 1 этаже вас встретит специалист и проводит до номера.',
                theme,
              }
            ],
          })
        .room-filter-page__feature-dropdown-group
          .room-filter-page__label
            +label({
              label: 'Удобства номера',
            })
          .room-filter-page__dropdown
            +dropdown({
              type: 'room',
              rows: [
                {count: 2, text: 'спальни'},
                {count: 2, text: 'кровати'},
                {count: 0, text: 'ванные комнаты'},
              ],
            })
        .room-filter-page__checkbox-list-expandable
          +checkbox-list-expandable({
            label: 'Дополнительные удобства',
            items: [
              {id: 'breakfast-checkbox', label: 'Завтрак'},
              {id: 'table-checkbox', label: 'Письменный стол', isChecked: true},
              {id: 'baby-chair-for-eat-checkbox', label: 'Стул для кормления', isChecked: true},
              {id: 'baby-bed-checkbox', label: 'Кроватка', isChecked: true},
              {id: 'tv-1-checkbox', label: 'Телевизор'},
              {id: 'shampoo-1-checkbox', label: 'Шампунь'},
              {id: 'tv-2-checkbox', label: 'Телевизор'},
              {id: 'shampoo-2-checkbox', label: 'Шампунь'},
            ],
          })
      section.room-filter-page__thumbnail-list-wrapper
        h1.room-filter-page__thumbnail-list-title= 'Номера, которые мы для вас подобрали'
        ul.room-filter-page__thumbnail-list
          -
            const searchResult = [
              {
                number: 888,
                pricePerDay: 9990,
                feedbackCounter: 145,
                rate: 5,
                images: new Array(4).fill({
                  alt: 'Room 888',
                  src: './img/room-thumb-1.png'
                }),
                feature: 'люкс',
                focus: true,
              },
              {
                number: 840,
                pricePerDay: 9900,
                feedbackCounter: 65,
                rate: 4,
                images: new Array(4).fill({
                  alt: 'Room 840',
                  src: './img/room-thumb-2.png',
                }),
              },
              {
                number: 980,
                pricePerDay: 8500,
                feedbackCounter: 35,
                rate: 3,
                images: new Array(4).fill({
                  alt: 'Room 980',
                  src: './img/room-thumb-3.png',
                }),
                feature: 'люкс',
              },
              {
                number: 856,
                pricePerDay: 7300,
                feedbackCounter: 19,
                rate: 5,
                images: new Array(4).fill({
                  alt: 'Room 856',
                  src: './img/room-thumb-4.png',
                }),
              },
              {
                number: 740,
                pricePerDay: 6000,
                feedbackCounter: 44,
                rate: 4,
                images: new Array(4).fill({
                  alt: 'Room 740',
                  src: './img/room-thumb-5.png',
                }),
              },
              {
                number: 982,
                pricePerDay: 5800,
                feedbackCounter: 56,
                rate: 3,
                images: new Array(4).fill({
                  alt: 'Room 982',
                  src: './img/room-thumb-6.png',
                }),
              },
              {
                number: 678,
                pricePerDay: 5500,
                feedbackCounter: 45,
                rate: 5,
                images: new Array(4).fill({
                  alt: 'Room 678',
                  src: './img/room-thumb-7.png',
                }),
              },
              {
                number: 450,
                pricePerDay: 5300,
                feedbackCounter: 39,
                rate: 4,
                images: new Array(4).fill({
                  alt: 'Room 450',
                  src: './img/room-thumb-8.png',
                }),
              },
              {
                number: 350,
                pricePerDay: 5000,
                feedbackCounter: 77,
                rate: 3,
                images: new Array(4).fill({
                  alt: 'Room 350',
                  src: './img/room-thumb-9.png',
                }),
              },
              {
                number: 666,
                pricePerDay: 5000,
                feedbackCounter: 25,
                rate: 5,
                images: new Array(4).fill({
                  alt: 'Room 666',
                  src: './img/room-thumb-10.png',
                }),
              },
              {
                number: 444,
                pricePerDay: 5000,
                feedbackCounter: 15,
                rate: 3,
                images: new Array(4).fill({
                  alt: 'Room 444',
                  src: './img/room-thumb-11.png',
                }),
              },
              {
                number: 352,
                pricePerDay: 5000,
                feedbackCounter: 55,
                rate: 3,
                images: new Array(4).fill({
                  alt: 'Room 352',
                  src: './img/room-thumb-12.png',
                }),
              }
            ]
          each room, i in searchResult
            li.room-filter-page__room-thumbnail
              +room-thumbnail({
                roomNumber: room.number,
                pricePerDay: room.pricePerDay,
                feedbackCounter: room.feedbackCounter,
                rate: room.rate,
                images: room.images,
                feature: room.feature,
                focus: room.focus,
                href: 'room-details.html',
              })
        section.room-filter-page__pagination
          +pagination({
            source: JSON.stringify([...Array(180).keys()]),
            pageSize: 12,
            pageRange: 1,
          })