@import '../../utils/vars';
@import '../../utils/mixins';

@import '../dropdown/dropdown.scss';
@import '../range-slider/range-slider.scss';
@import '../checkbox-list/checkbox-list.scss';
@import '../checkbox-list-expandable/checkbox-list-expandable';
@import '../room-thumbnail/room-thumbnail.scss';
@import '../paginator/paginator.scss';

.room-filter-page {
  border-bottom: 0.0625rem solid $color-dark-25;
  &__inner {
    @include inner;
    padding: 1.875rem 0 1.75rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__sidebar {
    grid-column: 1 / 2;
    padding-right: 1.5rem;
    @media (max-width: $screen-xs-max) {
      padding: 0;
      grid-column: 1 / 5;
    }
  }
  &__sidebar-label {
    margin-bottom: 0.3125rem;
  }
  &__guests-dropdown-group {
    margin-top: 1.3152rem;
  }
  &__price-slider-group,
  &__checkbox-group {
    margin-top: 1.875rem;
  }
  &__price-slider-hint {
    margin-top: 0.375rem;
    font-size: 0.75rem;
    font-family: Montserrat, sans-serif;
    color: $color-dark-50;
  }
  &__rich-checkbox-group {
    margin-top: 1.75rem;
  }
  &__feature-dropdown-group {
    margin-top: 1.5rem;
  }
  &__additional-checkbox-list-expandable-group {
    margin-top: 1rem;
  }
  &__checkbox-group {
    padding-right: 1.25rem;
  }

  &__search-result {
    grid-column: 2 / 5;
    padding-left: 2.1875rem;
    @media (max-width: $screen-xs-max) {
      padding: 0;
      grid-column: 1 / 5;
    }
  }
  &__search-result-title {
    @include h1;
  }
  &__thumb-list {
    margin: 0;
    padding: 1.25rem 0 0 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
    grid-column-gap: 0.75rem;
    grid-row-gap: 1.3125rem;
  }
  &__paginator {
    margin: 2.5625rem auto 2.375rem auto;
    grid-column: 1 / 4;
    text-align: center;
    padding-right: 0.75rem;
  }
}