mixin color-sample(options)
  - var thisModifiers = []
  - var rectModifiers = []
  if options.modifiers
    - thisModifiers = options.modifiers.this || []
    - rectModifiers = options.modifiers.rc || []
  div(class='color-sample' class=thisModifiers)
    div(class='color-sample__rect' class=rectModifiers)
    div(class='color-sample__title')= options.title
    div(class='color-sample__hex')= options.subtitle