mixin color-sample(options)
  - const { color, title, hex } = options || {};

  article(class=['color-sample', `color-sample--${color}`])
    figure.color-sample__color
    h2.color-sample__title= title
    h3.color-sample__hex= hex