mixin color-sample(options)
  - const { theme, title, hex } = options || {};

  article(class=['color-sample', `color-sample_theme_${theme}`])
    figure.color-sample__color
    p.color-sample__title= title
    p.color-sample__hex= hex