mixin color-sample(options)
  - var { color, title, hex } = options

  article(class=['color-sample', `color-sample-${color}`])
    figure.color-sample__rect
    h2.color-sample__title= title
    h3.color-sample__hex= hex