mixin color-sample(title, hex, color)
  - var blockName = 'color-sample'

  div(class=blockName class=blockName+'--'+color)
    div(class='color-sample__rect')
    div(class='color-sample__title')= title
    div(class='color-sample__hex')= hex