mixin color-sample(options)
  - const { background, title, hex } = options || {};

  article.color-sample
    figure.color-sample__color(style={ background })
    p.color-sample__title= title
    p.color-sample__hex= hex