.ui {
    $parent: #{&};
    &--index,
    &--color-type {
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 145px;
    }
    @mixin large-screen($pad1: 6.8%, $pad2: 6.7%, $pad3: 2.7%) {
        // 1200px ...
        &:first-child {
            padding-left: $pad1;
        }
        &:nth-child(2) {
            padding-left: $pad2;
        }
        &:nth-child(3) {
            padding-left: $pad3;
        }
    }
    @mixin responsive-columns($margin-bottom, $pad1, $pad2, $pad3) {
        margin-bottom: $margin-bottom;
        > .column {
            // ... 1199px
            @media (max-width: $screen-md-max) {
                padding: 0 2%;
            }
            // 1200px ...
            @media (min-width: $screen-lg-min) {
                @include large-screen($pad1, $pad2, $pad3)
            }
        }
    }
    &--form-components {
        font-family: Montserrat, sans-serif;
        max-width: 1340px;
        margin: 0 auto;
        margin-top: 143px;

        #{$parent}__top {
            @include responsive-columns(100px, 6.8%, 6.7%, 2.7%)
        }
        #{$parent}__dropdown-states {
            @include responsive-columns(160px, 6.7%, 6.7%, 2.7%)
        }
        #{$parent}__rich-lists {
            @include responsive-columns(0, 6.7%, 6.75%, 2.7%)
        }
        #{$parent}__bottom {
            @include responsive-columns(0, 6.7%, 6.75%, 0)
        }
    }
    &__dropdown-group--with-apply-btn,
    &__dropdown-group--default,
    &__dropdown-group--inline,
    &__radio-group--default,
    &__rate-group--default,
    &__like-button-group--default,
    &__toggle-group--default,
    &__feedback-group--default,
    &__input-text-group--default,
    &__input-text-group--masked,
    &__paginator-group,
    &__input-text-group--hovered {
        position: relative;
        width: 90%;
        // ... 767px
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
    &__feature-group--default,
    &__button-group--default,
    &__dropdown-group--with-clear-btn {
        position: relative;
        width: 78%;
        // ... 1199px
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
    &__dropdown-group--date-filter,
    &__dropdown-group--collapsed,
    &__dropdown-group--expanded,
    &__exp-check-list-group--collapsed,
    &__exp-check-list-group--expanded,
    &__rich-checkbox-group--default,
    &__input-text-group--with-submit {
        position: relative;
        width: 75%;
        // ... 1199px
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
    &__checkbox-group--default,
    &__range-slider--default {
        position: relative;
        width: 65%;
        // ... 1199px
        @media (max-width: $screen-md-max) {
            width: 100%;
        }
    }
    &__bullet-list-group--default {
        position: relative;
        width: 63%;
    }
    &__rich-checkbox-group--default,
    &__bullet-list-group--default {
        margin-top: 12px;
    }
    &__feedback-group--default {
      margin-top: 30px;
    }
    &__exp-check-list-group--expanded {
        margin-bottom: 14px;
    }
    &__range-slider--default {
        margin-bottom: 18px;
    }
    &__input-text-group--default {
        margin-bottom: 21px;
    }
    &__input-text-group--hovered,
    &__dropdown-group--collapsed {
        margin-bottom: 20px;
    }
    &__exp-check-list-group--collapsed {
        margin-bottom: 26px;
    }
    &__dropdown-group--default {
        margin-bottom: 22px;
    }
    &__input-text-group--masked {
        margin-bottom: 40px;
    }
    &__dropdown-group--inline,
    &__dropdown-group--date-filter {
        margin-bottom: 41px;
    }
    &__rate-group--default,
    &__radio-group--default {
        margin-bottom: 43px;
    }
    &__checkbox-group--default {
        margin-bottom: 42px;
    }
    &__dropdown-group--inline {
        .dropdown-group {
            float: left;
            width: 47%;
            &:first-child {
                margin-right: 6%;
            }
            // ... 991px
            @media (max-width: $screen-sm-max) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
    &__toggle-group--default {
        margin-bottom: 44px;
    }
    &__like-button-group--default {
        margin-bottom: 36px;
    }
    &__input-text-group--with-submit {
        // ... 767px
        @media (max-width: $screen-xs-max) {
            margin-bottom: 40px;
        }
    }
    &__dropdown-group--with-apply-btn {
        // ... 767px
        @media (max-width: $screen-xs-max) {
            margin-bottom: 170px;
        }
    }
    &__dropdown-group--expanded {
        // ... 767px
        @media (max-width: $screen-xs-max) {
            margin-bottom: 130px;
        }
    }
    &__dropdown-states {
        // ... 767px
        @media (max-width: $screen-xs-max) {
            margin-bottom: 200px;
        }
    }
    //// ... 767px
    //@media (max-width: $screen-xs-max) {
    //}
    //// 768px ... 991px
    //@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    //}
    //// 992px ... 1199px
    //@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    //}
    //// 1200px ...
    //@media (min-width: $screen-lg-min) {
    //}
}