include ../../components/logo/logo

mixin body(options)
  - const { theme, logo } = options || {};
  - const f = require('../../utils/functions');

  body(class=f.bem({ b: 'body', m: [{ theme }] }))
    if logo
      nav.body__logo
        +logo
    block