include ../../components/logo/logo

mixin body(options)
  - const { theme } = options || {};
  - const createBemClasses = require('../../utils/helpers').createBemClasses;

  body(class=createBemClasses({ blockName: 'body', modifiers: [{ theme }] }))
    block