include ../../components/logo/logo

mixin body(options)
  - const { theme } = options || {};
  - const bemFactory = require('../../utils/helpers').bemFactory;
  - const createBemClasses = bemFactory('body');

  body(class=createBemClasses({ modifiers: { theme } }))
    block