include ../label/label
include ../dropdown/dropdown

mixin dropdown-date-range(options)
  -
    var mask = 'ДД.ММ.ГГГГ'
    var {
      id,
      fromLabel = 'Прибытие',
      from = mask,
      toLabel = 'Выезд',
      to = mask
    } = options || {}

  .dropdown-date-range
    .dropdown-date-range__from
      .dropdown-date-range__label
        +label({ label: fromLabel })
      .dropdown-date-range__dropdown
        +dropdown({
          id: `${id}__from-date`,
          value: from
        })
    .dropdown-date-range__to
      .dropdown-date-range__label
        +label({ label: toLabel })
      .dropdown-date-range__dropdown
        +dropdown({
          id: `${id}__to-date`,
          value: to
        })