.dropdown-date-range {
  &__from,
  &__to {
    float: left;
    width: 47%;
  }
  &__from {
    margin-right: 6%;
  }
  &__date-range {
    margin-bottom: 15px;
  }
  &__dropdown {
    position: relative;
    height: 44px;
    margin: 5px 0;
  }
}