.column {
  float: left;
  &--6 {
    width: 50%;
    @media (max-width: $screen-sm-min) {
      width: 98%;
      padding: 0 1%;
    }
  }
  &--3 {
    width: 25%;
    @media (max-width: $screen-sm-min) {
      width: 98%;
      padding: 0 1%;
    }
  }
  &--9 {
    width: 75%;
    @media (max-width: $screen-sm-min) {
      width: 98%;
      padding: 0 1%;
    }
  }
  &--4 {
    width: 33.33%;
    @media (max-width: $screen-sm-min) {
      width: 98%;
      padding: 0 1%;
    }
  }
  &--8 {
    width: 66.66%;
    @media (max-width: $screen-sm-min) {
      width: 98%;
      padding: 0 1%;
    }
  }
}