@import '../card';
.room-book {
  @include card;
  padding: 39px 30px 29px 27px;
  @media (max-width: $screen-xs-max) {
    padding: 30px 15px;
  }
  &__number,
  &__feature {
    float: left;
  }
  &__headline {
    vertical-align: bottom;
    margin-bottom: 8px;
  }
  &__number {
    vertical-align: bottom;
    font-family: Quicksand, sans-serif;
  }
  &__number-sign,
  &__number-value,
  &__number-feature {
    display: inline-block;
    height: 30px;
  }
  &__number-sign,
  &__number-value {
    font-weight: bold;
  }

  &__number-sign {
    font-size: 0.875rem;
  }
  &__number-value {
    font-size: 1.5rem;
    margin-left: 4px;
    margin-right: 1px;
    color: $color-dark-100;
  }
  &__feature {
    color: $color-purple;
  }
  &__guests {
    position: relative;
    margin-top: 16px;
  }
  &__price-per-day {
    font-family: Montserrat, sans-serif;
    vertical-align: bottom;
    float: right;
    line-height: 39px;
  }
  &__date-unit,
  &__cost {
    display: inline-block;
    height: 30px;
  }
  &__cost {
    font-weight: bold;
  }
  &__date-unit {
    font-size: 0.75rem;
  }
  &__result {
    border: none;
    width: 100%;
  }
  &__th,
  &__td {
    padding-left: 1px;
    padding-top: 14px;
    height: 33px;
    line-height: 20px;
    vertical-align: top;
  }
  &__th {
    font-weight: normal;
    text-align: left;
    width: 68%;
  }
  &__td {
    text-align: right;
  }
  &__td-icon {
    text-align: left;
    padding-top: 11px;
    padding-left: 4px;
    vertical-align: top;
    color: $color-dark-25;
  }
  &__total {
    vertical-align: bottom;
    height: 45px;
  }
  &__total-th,
  &__total-line,
  &__total-td {
    border-bottom: 1px dotted $color-dark-25;
  }
  &__total-th,
  &__total-td {
    width: 20%;
    font-size: 1.1875rem;
  }
  &__total-th {
    text-align: left;
    font-size: 1.1875rem;
    font-family: Open Sans, sans-serif;
    vertical-align: bottom;
  }
  &__total-value,
  &__total-word {
    display: block;
    background-color: white;
    margin-bottom: -7px;
  }
  &__total-value {
    padding-left: 5px;
  }
  &__total-word {
    width: 64px;
  }
  &__total-td {
    font-family: Quicksand, sans-serif;
    text-align: right;
    font-weight: bold;
  }
  &__info {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border: 1px solid $color-dark-25;
  }
  &__button {
    margin-top: 25px;
    height: 44px;
  }
  &__dropdown {
    margin: 5px auto;
    height: 44px;
  }
}