extends ../../layouts/base

include ../../components/form-elements-page/form-elements-page

block vars
  - const title = 'UI Kit - Form elements';
  - const logo = true;

block content
  +form-elements-page