extends ../../layouts/base

include ../../components/form-elements-page/form-elements-page

block vars
  - var title = 'UI Kit - Form elements'
  - var logo = true

block content
  +form-elements-page