extends ../layout/layout

include ../../components/card/sign-up/sign-up

block vars
  - const title = 'Registration'
  - const bodyClasses = ['registration', 'clearfix']
  - const withoutLogo = true

block main
  article.registration__hero
    section.registration__form
      +sign-up