.form-group {
    margin-bottom: 20px;
    width: 320px;
}
.form-group--w-265 {
    width: 265px;
}
.form-group--v-0-25 {
    margin-bottom: 25px;
}
.form-group--v-0-40 {
    margin-bottom: 40px;
}
.form-group--v-0-60 {
    margin-bottom: 60px;
}