.like-button {
    display: inline-block;
    min-width: 40px;
    height: 20px;
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid $color-dark-25;
    color: $color-dark-25;
    &--favorite {
        border: 1px solid $color-purple;
        .like-button__counter {
            color: $color-purple;
        }
    }
    &__favorite,
    &__counter {
        display: block;
        float: left;
        position: relative;
    }
    &__favorite {
        top: 3px;
        left: 4px;
    }
    &__counter {
        top: 2px;
        left: 10px;
    }
}