mixin like-button(count, isFavorite)
  - const blockName = 'like-button'
  - let modifiers = []

  if isFavorite
    - modifiers.push(blockName+'--favorite')

  a(class=blockName class=modifiers href='javascript:void(0);')
    i(class=[blockName + '__heart', 'material-icons'])= isFavorite ? 'favorite' : 'favorite_border'
    div(class=blockName + '__counter')= count