mixin like-button(count, isFavorite)
  - const blockName = 'like-button'
  - let modifiers = []

  if isFavorite
    - modifiers.push(blockName+'--favorite')

  i(class=blockName class=modifiers)
    i(class=[blockName + '__heart', 'material-icons'])= isFavorite ? 'favorite' : 'favorite_border'
    span(class=blockName + '__counter')= count || 0