mixin logo(withText)
  - const blockModifiers = withText ? ['with-text'] : [];

  - const f = require('../../utils/functions')
  - const b = 'logo'

  a(class=f.bem({b, m: blockModifiers}) href='./index.html')