mixin logo(href, withText)
  - const blockName = 'logo'
  - var href = href || '../index.html'
  - var modifiers = []
  if withText
    - modifiers.push(blockName+'--with-text')
  a(class=blockName class=modifiers href=href)