mixin logo(href, withText)
  - const blockName = 'logo'
  - var href = href || '../index.html'
    a(class=blockName href=href)
      if withText === true
        img(src=require('./img/logo--with-text.svg'))
      else
        img(src=require('./img/logo.svg'))