mixin logo(withText)
  - const blockModifiers = withText ? ['with-text'] : [];

  - const createBemClasses = require('../../utils/helpers').createBemClasses
  - const blockName = 'logo'

  a(class=createBemClasses({ blockName, modifiers: blockModifiers}) href='./index.html')