mixin logo(href, withText)
  - const blockName = 'logo'
  - let modifiers = []
  if withText
    - modifiers.push(blockName+'--with-text')
  a(class=blockName class=modifiers href=href ? href : '../index.html')