.label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    &__left,
    &__right {
        position: relative;
        display: inline-block;
        top: 0;
    }
    &__left {
        float: left;
        font-weight: bold;
        color: $color-dark-100;
    }
    &__right {
        float: right;
        color: $color-dark-50;
    }
}