@import '../../utils/vars';
@import '../../utils/mixins';

.label {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.75rem;

  &__title {
    @include h3;
    font-weight: bold;
  }
  &__hint {
    color: $color-primary-50;
  }
}