mixin label(options)
  - const { label, hint, _for } = options || {};

  - const tag = _for ? 'label' : 'p';

  #{tag}.label(for=_for)
    span.label__title= label
    if hint
      span.label__hint= hint