mixin checkbox-list(options)
  - const { theme, label, items } = options || {};

  - const f = require('../../utils/functions');

  div(class=f.bem({ b: 'checkbox-list', m: [{ theme }] }))
    .checkbox-list__label
      +label({ label })
    ul.checkbox-list__list
      each item in items
        li.checkbox-list__checkbox
          +checkbox(item)
