mixin checkbox-list(options)
  - const b = 'checkbox-list'
  - const { label, items } = options || {}

  div(class=b)
    div(class=`${b}__label`)
      +label({ label })
    ul(class=`${b}__list`)
      each item in items
        li(class=`${b}__checkbox`)
          +checkbox(item)
