mixin checkbox-list(options)
  - var { label, items } = options || {}

  .checkbox-list
    .checkbox-list__label
      +label({ label })
    ul.checkbox-list__list
      each item in items
        li.checkbox-list__checkbox
          +checkbox(item)
