mixin bullet-list(id, options)
  - const blockName = 'bullet-list'
  - let items = []

  if options
    if options.items
      - items = options.items

  ul(class=blockName id=id)
    each item, index in items
      li(class=blockName+'__li')
        != item.text
        span(class=blockName+'__marker')