mixin bullet-list(id, options)
  - var blockName = 'bullet-list'
  - var data = []

  if options
    if options.data
      - data = options.data

  ul(class=blockName id=id)
    each item, index in data
      li(class=blockName+'__li')
        != item.text
        span(class=blockName+'__marker')