.room-search {
  padding: 2.4375rem 1.75rem 1.8125rem 1.8125rem;
  @media (max-width: $screen-xs-max) {
    padding: 2rem 1rem;
  }
  &__title,
  &__date-range {
    margin-bottom: 1.25rem;
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
  &__button {
    margin-top: 1.9375rem;
  }
}