@import '../card';
.room-search {
  @include card;
  padding: 39px 28px 29px 29px;
  &__title {
    margin-bottom: 20px;
  }
  &__label {
    margin-bottom: 5px;
  }
  &__guests {
    margin-top: 21px;
  }
  &__guests-dropdown,
  &__date-dropdown {
    position: relative;
    height: 44px;
  }
  &__check-in,
  &__check-out {
    float: left;
    width: 47%;
  }
  &__check-in {
    margin-right: 6%;
  }
  &__check-out {

  }
  &__button {
    margin-top: 31px;
  }
}