@import '../card';
.room-search {
  @include card;
  padding: 39px 28px 29px 29px;
  @media (max-width: $screen-xs-max) {
    padding: 30px 15px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__label {
    margin-bottom: 5px;
  }
  &__guests {
    margin-top: 16px;
  }
  &__guests-dropdown,
  &__date-dropdown {
    position: relative;
    height: 44px;
  }
  &__from,
  &__to {
    float: left;
    width: 47%;
  }
  &__from {
    margin-right: 6%;
  }
  &__button {
    margin-top: 31px;
    height: 44px;
  }
}