include ../../label/label
include ../../dropdown/dropdown
include ../../button/button
include ../../dropdown-date-range/dropdown-date-range

mixin room-search()
  form.card.room-search
    h1.room-search__title.h1= 'Найдём номера под ваши пожелания'
    div.room-search__date-range
      +dropdown-date-range({id: `${b}__check-in-out`})
    div.room-search__guests
      div.room-search__label
        +label({ label: 'Гости' })
      div.room-search__guests-dropdown
        +dropdown({
          id: 'guests',
          value: 'Сколько гостей',
          rows: [
            {count: 0, text: 'взрослые', name: 'adult'},
            {count: 0, text: 'дети', name: 'kids'},
            {count: 0, text: 'младенцы', name: 'baby'}
          ]
        })
    div.room-search__button
      +button({
        theme: 'default',
        caption: 'Подобрать номер',
        href: 'search-room-filter.html',
        withArrow: true,
        isFluid: true
      })