@import '../../utils/vars';

.rate-bar {
  $blockClass: &;
  display: inline-block;

  &__star {
    cursor: default;
    user-select: none;
    color: $color-purple;
    font-family: 'Material Icons';
    font-size: 1.375rem;
    width: 1.5rem;
  }
}