mixin rate-bar(options)
  - const { base, rate } = options || {};

  .rate-bar
    - for(let i = 0; i < base; i++)
      - const starContent = i >= rate ? 'star_bordered' : 'star';
      span.rate-bar__star.material-icons= starContent