.radio-button {
  $blockClass: &;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: Montserrat, sans-serif;
  display: inline-block;

  &__input {
    position: absolute;
    opacity: 0;
    &:checked + #{$blockClass}__label {
      color: $color-dark-75;
      &:after {
        content: '';
        top: 0.25rem;
        left: 0.25rem;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 0.375rem;
        display: block;
        background: $grad-purple;
      }
      &:before {
        border: 1px solid $color-purple;
      }
    }
  }
  &__label {
    display: block;
    position: relative;
    padding-left: 1.875rem;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    color: $color-dark-50;
    &:after,
    &:before {
      position: absolute;
    }
    &:before {
      content: '';
      top: 0;
      left: 0;
      width: 1.25rem;
      height: 1.25rem;
      display: inline-block;
      border: 1px solid $color-dark-25;
      border-radius: 0.625rem;
    }
  }
}