@import '../../utils/vars';
@import '../../utils/mixins';

@import '../room-search/room-search.scss';
@import '../sign-up/sign-up.scss';
@import '../room-book/room-book.scss';
@import '../sign-in/sign-in.scss';
@import '../datepicker/datepicker.scss';
@import '../room-thumbnail/room-thumbnail.scss';

.cards-page {
  &__nav {
    @include ui-kit-navigation($marginBottom: 2.6875rem);
  }
  &__main {
    @include inner-wrapper;
    display: grid;
    grid-template-columns: 1.1875fr 1.1875fr 1fr;
    grid-column-gap: 2.5rem;
    @media (max-width: $screen-md-max) {
      grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  &__card {
    margin-bottom: 2.5rem;
    &_type {
      &_room-thumbnail {
        width: 16.875rem;
      }
    }
  }
}