include ../logo/logo
include ../room-book/room-book
include ../calendar/calendar
include ../room-search/room-search
include ../room-thumbnail/room-thumbnail
include ../sign-in/sign-in
include ../sign-up/sign-up
  
mixin cards-page
  .cards-page
    nav.cards-page__nav
      +logo
    .cards-page__main
      .cards-page__grid-column
        article.cards-page__card
          +room-search()
        article.cards-page__card
          +sign-up()
      .cards-page__grid-column
        article.cards-page__card
          +room-book
        article.cards-page__card
          +sign-in()
      .cards-page__grid-column
        article.cards-page__card
          +calendar({ theme: 'inline' })
        article.cards-page__card.cards-page__card_type_room-thumbnail
          +room-thumbnail({
            roomNumber: 888,
            pricePerDay: 9990,
            feedbackCounter: 145,
            rate: 5,
            image: {
              src: './img/room-888.jpg',
              alt: 'Room 888'
            },
            feature: 'люкс',
            hover: true
          })
        article.cards-page__card.cards-page__card_type_room-thumbnail
          +room-thumbnail({
            roomNumber: 840,
            pricePerDay: 9900,
            feedbackCounter: 65,
            rate: 4,
            image: {
              src: './img/room-840.jpg',
              alt: 'Room 840'
            },
          })