extends ../../layouts/base

include ../../components/logo/logo
include ../../components/color-sample/color-sample
include ../../components/font-sample/font-sample

block vars
  - const title = 'UI Kit - Colors & Type';

block content
  .colors-type
    nav.colors-type__nav
      +logo
    .colors-type__main
      .colors-type__colors
        +color-sample({
          theme: 'dark-100',
          title: 'Dark Shade 100%',
          hex: '#1F2041',
        })
        +color-sample({
          theme: 'dark-75',
          title: 'Dark Shade 75%',
          hex: '#1F2041',
        })
        +color-sample({
          theme: 'dark-50',
          title: 'Dark Shade 50%',
          hex: '#1F2041',
        })
        +color-sample({
          theme: 'dark-25',
          title: 'Dark Shade 25%',
          hex: '#1F2041',
        })
        +color-sample({
          theme: 'dark-5',
          title: 'Dark Shade 5%',
          hex: '#1F2041',
        })
        +color-sample({
          theme: 'purple',
          title: 'Purple',
          hex: '#BC9CFF',
        })
        +color-sample({
          theme: 'green',
          title: 'Green',
          hex: '#6FCF97',
        })
      .colors-type__fonts
        +font-sample({
          name: 'h1',
          description: 'This one is the sub-section or widget title',
        })
        +font-sample({
          name: 'h2',
          description: 'Next one is the item title inside widgets',
        })
        +font-sample({
          name: 'h3',
          description: 'This is a label or CTA text',
        })
        +font-sample({
          name: 'body',
          description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
        })
  