extends ../../layouts/base

include ../../components/logo/logo
include ../../components/color-sample/color-sample
include ../../components/font-sample/font-sample

block vars
  - const title = 'UI Kit - Colors & Type';

block content
  .colors-type
    nav.colors-type__nav
      +logo
    .colors-type__main
      .colors-type__colors
        +color-sample({
          title: 'Dark Shade 100%',
          hex: '#1F2041',
          colorClass: 'colors-type__color-sample_color_dark-100',
        })
        +color-sample({
          title: 'Dark Shade 75%',
          hex: '#1F2041',
          colorClass: 'colors-type__color-sample_color_dark-75',
        })
        +color-sample({
          title: 'Dark Shade 50%',
          hex: '#1F2041',
          colorClass: 'colors-type__color-sample_color_dark-50',
        })
        +color-sample({
          title: 'Dark Shade 25%',
          hex: '#1F2041',
          colorClass: 'colors-type__color-sample_color_dark-25',
        })
        +color-sample({
          title: 'Dark Shade 5%',
          hex: '#1F2041',
          colorClass: 'colors-type__color-sample_color_dark-5',
        })
        +color-sample({
          title: 'Purple',
          hex: '#BC9CFF',
          colorClass: 'colors-type__color-sample_color_purple',
        })
        +color-sample({
          title: 'Green',
          hex: '#6FCF97',
          colorClass: 'colors-type__color-sample_color_green',
        })
      .colors-type__fonts
        +font-sample({
          name: 'h1',
          description: 'This one is the sub-section or widget title',
          fontClass: 'colors-type__font-sample_type_h1',
        })
        +font-sample({
          name: 'h2',
          description: 'Next one is the item title inside widgets',
          fontClass: 'colors-type__font-sample_type_h2',
        })
        +font-sample({
          name: 'h3',
          description: 'This is a label or CTA text',
          fontClass: 'colors-type__font-sample_type_h3',
        })
        +font-sample({
          name: 'body',
          description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
          fontClass: 'colors-type__font-sample_type_body',
        })
  