@import '../../utils/vars';
@import '../../utils/mixins';

@import '../../components/color-sample/color-sample.scss';
@import '../../components/font-sample/font-sample.scss';

.colors-type {
  &__nav {
    @include inner-wrapper($lgWidth: 95.8%, $mdWidth: 95.8%, $maxWidth: 87.3125rem);
    @include ui-kit-navigation(2.0625rem);
  }
  &__main {
    @include inner-wrapper($lgWidth: 79.2%);
    display: grid;
    grid-template-columns: 16.875rem 25.1875rem;
    grid-column-gap: 37.4%;
    @media (max-width: $screen-md-max) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-row-gap: 3rem;
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }

  &__colors {
    display: grid;
    grid-row-gap: 1.25rem;
  }
  &__color-sample {
    &_color {
      &_dark-100 {
        background: $color-primary-100;
      }
      &_dark-75 {
        background: $color-primary-75;
      }
      &_dark-50 {
        background: $color-primary-50;
      }
      &_dark-25 {
        background: $color-primary-25;
      }
      &_dark-5 {
        background: $color-primary-5;
      }
      &_purple {
        background: $color-purple;
      }
      &_green {
        background: $color-green;
      }
    }
  }
  &__fonts {
    display: grid;
    grid-row-gap: 3.125rem;
    grid-auto-rows: min-content;
  }
  &__font-sample {
    &_type {
      &_h1 {
        @include h1;
      }
      &_h2 {
        @include h2;
      }
      &_h3 {
        @include h3;
      }
      &_body {
        @include primary-text;
      }
    }
  }
}