mixin feature(options)
  - const blockName = 'feature'
  - const { icon, title, hint } = options || {}

  div(class=blockName)
    i(class=[`${blockName}__icon`, 'material-icons'])= icon
    h3(class=`${blockName}__title`)= title
    p(class=`${blockName}__hint`)= hint