mixin feature(options)
  - const b = 'feature'
  - const { icon, title, hint } = options || {}

  div(class=b)
    i(class=[`${b}__icon`, 'material-icons'])= icon
    h3(class=`${b}__title`)= title
    p(class=`${b}__hint`)= hint