@import '../../utils/vars';

.feature {
  padding: 1.25rem 0;
  font-family: Montserrat, sans-serif;
  &__icon {
    display: inline-block;
    float: left;
    font-size: 3rem;
    background: $grad-purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__title,
  &__hint {
    display: block;
    color: $color-dark-75;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-left: 3.625rem;
  }
  &__hint {
    font-weight: normal;
  }
}