@import '../../utils/vars';

.donut-chart {
  $blockClass: &;
  display: flex;
  align-items: flex-end;
  &__chart {
    margin-right: 1.875rem;
  }
  &__labels {
    display: inline-block;
    font-size: 0.875rem;
    font-family: Montserrat, sans-serif;
    line-height: 1.5rem;
    color: $color-dark-75;
  }
  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    &_grade {
      &_perfect {
        #{$blockClass}__bullet {
          background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
        }
      }
      &_good {
        #{$blockClass}__bullet {
          background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        }
      }
      &_satisfactorily {
        #{$blockClass}__bullet {
          background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
      }
      &_bad {
        #{$blockClass}__bullet {
          background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
        }
      }
    }
    &_active {
      font-weight: bold;
      #{$blockClass}__bullet {
        width: 0.75rem;
        height: 0.75rem;
      }
    }
  }
  &__caption {
    margin-left: 0.25rem;
  }
  &__bullet {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }
  &__circle {
    &_active {
      stroke-width: 6;
    }
  }
  &__count {
    font-family: Quicksand, sans-serif;
    color: $color-purple;
    fill: $color-purple;
    stroke: $color-purple;
  }
  &__count-value {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Quicksand, sans-serif;
  }
  &__count-unit {
    font-size: 0.9375rem;
    font-family: Montserrat, sans-serif;
  }
}