include ../range-slider/range-slider
include ../label/label
include ../checkbox-expandable-list/checkbox-expandable-list
include ../room-thumbnail/room-thumbnail
include ../pagination/pagination
include ../dropdown/dropdown
include ../button/button

mixin search-page
  main.search-page
    .search-page__inner-wrapper
      section.search-page__filter
        .search-page__button.search-page__button_action_show-filter.js-search-page__button_action_show-filter
          +button({
            theme: 'white',
            caption: 'Фильтр',
            type: 'button',
            size: 'fluid',
          })
        form.search-page__form.js-search-page__form
          .search-page__date-dropdown
            .search-page__label
              +label({ label: 'Даты пребывания в отеле' })
            .search-page__dropdown
              +dropdown({
                name: 'field-dates',
                value: '19 авг. - 23 авг.',
                placeholder: 'Даты пребывания',
              })
          .search-page__guests-dropdown
            .search-page__label
              +label({ label: 'Гости' })
            .search-page__dropdown
              +dropdown({
                name: 'field-guests',
                type: 'guests',
                placeholder: 'Сколько гостей',
                value: '3 гостя, 1 младенец',
                rows: [
                  {count: 2, text: 'взрослые'},
                  {count: 0, text: 'дети'},
                  {count: 1, text: 'младенцы'},
                ],
              })
          .search-page__range-slider
            +range-slider({
              label: 'Диапазон цены',
              description: 'Стоимость за сутки пребывания в номере',
              min: 0,
              max: 16000,
              from: 5000,
              to: 10000,
            })
          fieldset.search-page__checkboxes
            legend.search-page__legend= 'checkbox buttons'
            p(class="search-page__checkbox")
              +checkbox({
                id: 'field-smoke',
                label: 'Можно курить',
              })
            p.search-page__checkbox
              +checkbox({
                id: 'field-pets',
                label: 'Можно с питомцами',
                isChecked: true,
              })
            p.search-page__checkbox
              +checkbox({
                id: 'field-guests',
                label: 'Можно пригласить гостей (до 10 человек)',
                isChecked: true,
              })
          - const theme = 'rich';
          fieldset.search-page__checkboxes.search-page__checkboxes_theme_rich
            legend.search-page__legend= 'Доступность'
            p.search-page__checkbox
              +checkbox({
                id: 'field-wide-hall',
                label: 'Широкий коридор',
                hint: 'Ширина коридоров в номере не менее 91 см.',
                theme: 'rich',
              })
            p.search-page__checkbox
              +checkbox({
                id: 'field-assistant',
                label: 'Помощник для инвалидов',
                hint: 'На 1 этаже вас встретит специалист и проводит до номера.',
                theme: 'rich',
              })
          .search-page__feature-dropdown
            .search-page__label
              +label({ label: 'Удобства номера' })
            .search-page__dropdown
              +dropdown({
                name: 'field-rooms',
                type: 'rooms',
                placeholder: 'Удобства',
                value: '2 спальни, 2 кровати',
                rows: [
                  {count: 2, text: 'спальни'},
                  {count: 2, text: 'кровати'},
                  {count: 0, text: 'ванные комнаты'},
                ],
              })
          .search-page__checkbox-expandable-list
            +checkbox-expandable-list({
              label: 'Дополнительные удобства',
              items: [
                {id: 'field-breakfast', label: 'Завтрак'},
                {id: 'field-table', label: 'Письменный стол', isChecked: true},
                {id: 'field-baby-chair-for-eat', label: 'Стул для кормления', isChecked: true},
                {id: 'field-baby-bed', label: 'Кроватка', isChecked: true},
                {id: 'field-tv', label: 'Телевизор'},
                {id: 'field-shampoo', label: 'Шампунь'},
              ],
            })
          .search-page__form-footer.js-search-page__form-footer
            .search-page__button.search-page__button_action_clear.js-search-page__button_action_clear
              +button({
                theme: 'white',
                caption: 'Сбросить',
                type: 'reset',
                size: 'fluid',
              })
            .search-page__button.search-page__button_action_apply.js-search-page__button_action_apply
              +button({
                theme: 'default',
                caption: 'Применить',
                type: 'submit',
                size: 'fluid',
              })
      section.search-page__search-result.js-search-page__search-result
        h1.search-page__title= 'Номера, которые мы для вас подобрали'
        ul.search-page__thumbnail-list
          -
            const searchResult = [
              {
                number: 888,
                href: 'room-details.html',
                pricePerDay: 9990,
                feedbackCounter: 145,
                rate: 5,
                image: {
                  alt: 'Room 888',
                  src: './img/room-888.jpg'
                },
                feature: 'люкс',
              },
              {
                number: 840,
                pricePerDay: 9900,
                feedbackCounter: 65,
                rate: 4,
                image: {
                  alt: 'Room 840',
                  src: './img/room-840.jpg',
                },
              },
              {
                number: 980,
                pricePerDay: 8500,
                feedbackCounter: 35,
                rate: 3,
                image: {
                  alt: 'Room 980',
                  src: './img/room-980.jpg',
                },
                feature: 'люкс',
              },
              {
                number: 856,
                pricePerDay: 7300,
                feedbackCounter: 19,
                rate: 5,
                image: {
                  alt: 'Room 856',
                  src: './img/room-856.jpg',
                },
              },
              {
                number: 740,
                pricePerDay: 6000,
                feedbackCounter: 44,
                rate: 4,
                image: {
                  alt: 'Room 740',
                  src: './img/room-740.jpg',
                },
              },
              {
                number: 982,
                pricePerDay: 5800,
                feedbackCounter: 56,
                rate: 3,
                image: {
                  alt: 'Room 982',
                  src: './img/room-982.jpg',
                },
              },
              {
                number: 678,
                pricePerDay: 5500,
                feedbackCounter: 45,
                rate: 5,
                image: {
                  alt: 'Room 678',
                  src: './img/room-678.jpg',
                },
              },
              {
                number: 450,
                pricePerDay: 5300,
                feedbackCounter: 39,
                rate: 4,
                image: {
                  alt: 'Room 450',
                  src: './img/room-450.jpg',
                },
              },
              {
                number: 350,
                pricePerDay: 5000,
                feedbackCounter: 77,
                rate: 3,
                image: {
                  alt: 'Room 350',
                  src: './img/room-350.jpg',
                },
              },
              {
                number: 666,
                pricePerDay: 5000,
                feedbackCounter: 25,
                rate: 5,
                image: {
                  alt: 'Room 666',
                  src: './img/room-666.jpg',
                },
              },
              {
                number: 444,
                pricePerDay: 5000,
                feedbackCounter: 15,
                rate: 3,
                image: {
                  alt: 'Room 444',
                  src: './img/room-444.jpg',
                },
              },
              {
                number: 352,
                pricePerDay: 5000,
                feedbackCounter: 55,
                rate: 3,
                image: {
                  alt: 'Room 352',
                  src: './img/room-352.jpg',
                },
              }
            ]
          each room, i in searchResult
            li.search-page__thumbnail-list-item
              +room-thumbnail({
                roomNumber: room.number,
                pricePerDay: room.pricePerDay,
                feedbackCounter: room.feedbackCounter,
                rate: room.rate,
                image: room.image,
                feature: room.feature,
                href: room.href || '/change-me',
              })
        section.search-page__pagination
          +pagination({
            source: JSON.stringify([...Array(180).keys()]),
            pageSize: 12,
            pageRange: 1,
          })