extends ../../layouts/page

include ../../components/sign-up/sign-up

block vars
  - const title = 'Регистрация';
  -
    const metaDescription = 'Зарегистрироваться на официальном сайте отеля Toxin.'
  - const metaKeywords = 'регистрация, зарегистрироваться, создать учетную запись';

block main
  main.sign-up-page
    .sign-up-page__inner-wrapper
      section.sign-up-page__form
        +sign-up