include ../components/logo/logo

block vars
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    if title
      title= 'Toxin booking | '+title
    else
      title= 'Toxin booking'

  body(class=bodyClasses)
    if withoutLogo !== true
      .ui__logo
        +logo
    block content