extends base

include ../components/logo/logo
include ../components/site-menu/site-menu

block vars
  - const title = 'Main'
  - const bodyClasses = ['ui', 'ui--index']
  - const withoutLogo = true
block content
  .column.column--6
    +site-menu(
      'purple',
      [
        {text: 'Colors & Type', href: 'dist/ui-colors-type.html'},
        {text: 'Form elements', href: 'dist/ui-form-elements.html'},
        {text: 'Cards', href: 'dist/ui-cards.html'},
        {text: 'Headers & Footers', href: 'dist/ui-headers-footers.html'}
      ]
    )
  .column.column--6
    +site-menu(
      'green',
      [
        {text: 'Landing page', href: 'dist/landing.html'},
        {text: 'Search room', href: 'dist/search-room-filter.html'},
        {text: 'Room details', href: 'dist/room-details.html'},
        {text: 'Registration', href: 'dist/registration.html'},
        {text: 'Sign in', href: 'dist/login.html'}
      ]
    )