extends base

include ../components/logo/logo
include ../components/site-menu/site-menu

block vars
  - const title = 'Main'
  - const bodyClasses = ['ui', 'ui--index']
block content
  .column.column--6
    +site-menu(
      'purple',
      [
        {text: 'Colors & Type', href: 'ui-colors-type.html'},
        {text: 'Form elements', href: 'ui-form-elements.html'},
        {text: 'Cards', href: 'ui-cards.html'},
        {text: 'Headers & Footers', href: 'ui-headers-footers.html'}
      ]
    )
  .column.column--6
    +site-menu(
      'green',
      [
        {text: 'Landing page', href: 'landing.html'},
        {text: 'Search room', href: 'search-room-filter.html'},
        {text: 'Room details', href: 'room-details.html'},
        {text: 'Registration', href: 'registration.html'},
        {text: 'Sign in', href: 'login.html'}
      ]
    )