.landing {
  &__hero-section {
    padding: 4.9% 9.7%;
    height: 830px;
    width: 100%;
    position: relative;
    background-image: url(../img/landing.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-size: cover;
    background-color: $color-green;
    @media (max-width: $screen-sm-min) {
      padding: 3% 1%;
    }
  }
  &__hero-text {
    position: absolute;
    right: 9.3%;
    bottom: 2.6%;
    width: 20%;
    text-align: right;
    @media (max-width: $screen-sm-min) {
      width: 80%;
      right: 4%;
    }
  }
  &__room-search {
    width: 380px;
    height: 374px;
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}