extends layout

include ../components/card/sign-up/sign-up

block vars
  - var title = 'Registration'
  - var bodyClasses = ['registration', 'clearfix']
  - var withoutLogo = true

block main
  .registration__hero-section
    .registration__form
      +sign-up