.search-room-filter {
  &__sidebar,
  &__search-result {
    float: left;
  }
  &__sidebar {
    width: 25%;
    padding-right: 2%;
    @media (max-width: $screen-md-max) {
      width: 33.33%;
    }
    @media (max-width: $screen-sm-max) {
      width: 50%;
    }
  }
  &__search-result {
    width: 75%;
    padding-left: 3%;
    @media (max-width: $screen-md-max) {
      width: 66.66%;
    }
    @media (max-width: $screen-sm-max) {
      width: 50%;
    }
  }
  &__date-dropdown,
  &__guests-dropdown,
  &__feature-dropdown,
  &__additional-checkbox-list-xp-group {
    position: relative;
    height: 44px;
  }
  &__guests-dropdown-group {
    margin-top: 21px;
  }
  &__additional-checkbox-list-xp-group {
    margin-top: 18px;
  }
  &__date-dropdown-label,
  &__feature-dropdown-label,
  &__guests-dropdown-label {
    margin-bottom: 5px;
  }
  &__feature-dropdown-group {
    margin-top: 28px;
  }
  &__rich-checkbox-group {
    margin-top: 31px;
  }
  &__price-slider,
  &__checkbox-group {
    margin-top: 30px;
  }
  &__price-slider-hint {
    margin-top: 6px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    color: $color-dark-50;
  }
  &__checkbox-group {
    padding-right: 20px;
  }
  &__search-result {
    //position: relative;
  }
  &__room-thumb {
    width: 32.4%;
    margin-top: 20px;
    margin-right: 1.4%;
    float: left;
    @media (min-width: $screen-md-max) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media (max-width: $screen-md-max) {
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media (max-width: $screen-sm-max) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__paginator {
    margin: 40px auto;
    margin-bottom: 75px;
    width: 30%;
  }
  &__content {
    width: 80.5%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 30px;
  }
}