extends layout

include ../components/form/range-slider/range-slider
include ../components/form/label/label
include ../components/form/checkbox/checkbox
include ../components/form/rich-checkbox/rich-checkbox
include ../components/form/checkbox-list-xp/checkbox-list-xp
include ../components/card/room-thumb/room-thumb
include ../components/form/paginator/paginator

block vars
  - var title = 'Search room/Filter'
  - var bodyClasses = ['search-room-filter', 'clearfix']
  - var withoutLogo = true
  - var footerTheme = 'bordered'

block main
  .search-room-filter__content.clearfix
    .search-room-filter__sidebar
      .search-room-filter__date-dropdown-group
        .search-room-filter__date-dropdown-label
          +label(
            'Даты пребывания в отеле',
            null,
            'date-dropdown'
          )
        .search-room-filter__date-dropdown
          +dropdown(
            'date-dropdown',
            {value: '19 авг. - 23 авг.'}
          )
      .search-room-filter__guests-dropdown-group
        .search-room-filter__guests-dropdown-label
          +label(
            'Гости',
            null,
            'guests-dropdown'
          )
        .search-room-filter__guests-dropdown
          +dropdown(
            'guests-dropdown',
            {
              type: 'select-box',
              value: '3 гостя, 1 младенец',
              data: [
                {count: 2, text: 'взрослые', name: 'adult'},
                {count: 0, text: 'дети', name: 'kids'},
                {count: 1, text: 'младенцы', name: 'baby'}
              ]
            }
          )
      .search-room-filter__price-slider
        +range-slider({
          caption: 'Диапазон цены',
          name: 'price-slider'
        })
      p.search-room-filter__price-slider-hint
        = 'Стоимость за сутки пребывания в номере'
      .search-room-filter__checkbox-group
        .checkbox-group__label
          +label('checkbox buttons')
        .checkbox-group__checkbox
          +checkbox(
            'smoke-allowed',
            'Можно курить'
          )
        .checkbox-group__checkbox
          +checkbox(
            'pets-allowed',
            'Можно с питомцами',
            true
          )
        .checkbox-group__checkbox
          +checkbox(
            'guests-allowed',
            'Можно пригласить гостей (до 10 человек)',
            true
          )
      .search-room-filter__rich-checkbox-group
        .rich-checkbox-group__label
          +label('Доступность')
        .rich-checkbox-group__rich-checkbox.clearfix
          +rich-checkbox(
            'wide-hall-checkbox',
            'Широкий коридор',
            'Ширина коридоров в номере не&nbsp;менее 91 см.'
          )
        .rich-checkbox-group__rich-checkbox.clearfix
          +rich-checkbox(
            'disable-assistant-checkbox',
            'Помощник для инвалидов',
            'На 1 этаже вас встретит специалист и проводит до номера.'
          )
      .search-room-filter__feature-dropdown-group
        .search-room-filter__feature-dropdown-label
          +label(
            'Удобства номера',
            null,
            'feature-dropdown'
          )
        .search-room-filter__feature-dropdown
          +dropdown(
            'feature-dropdown',
            {
              type: 'select-box',
              value: '2 спальни, 2 кровати...',
              data: [
                {count: 2, text: 'спальни', name: 'bedroom'},
                {count: 2, text: 'кровати', name: 'bed'},
                {count: 0, text: 'ванные комнаты', name: 'bathroom'}
              ]
            }
          )
        .search-room-filter__additional-checkbox-list-xp-group
          +checkbox-list-xp(
            'additional',
            'Дополнительные удобства',
            {
              data: [
                {name: 'breakfast', label: 'Завтрак'},
                {name: 'table', label: 'Письменный стол', checked: true},
                {name: 'baby-chair-for-eat', label: 'Стул для кормления', checked: true},
                {name: 'baby-bed', label: 'Кроватка', checked: true},
                {name: 'tv_1', label: 'Телевизор'},
                {name: 'shampoo_1', label: 'Шампунь'},
                {name: 'tv_2', label: 'Телевизор'},
                {name: 'shampoo_2', label: 'Шампунь'}
              ]
            }
          )
    .search-room-filter__search-result
      h1.h1= 'Номера, которые мы для вас подобрали'
      .search-room-filter__search-result-list.clearfix
        -
          let searchResult = [
            {
              number: 888,
              pricePerDay: 9990,
              feedbackCounter: 145,
              rate: 5,
              images: new Array(4).fill('room-thumb-1.png'),
              options: {feature: 'люкс'}
            },
            {
              number: 840,
              pricePerDay: 9900,
              feedbackCounter: 65,
              rate: 4,
              images: new Array(4).fill('room-thumb-2.png')
            },
            {
              number: 980,
              pricePerDay: 8500,
              feedbackCounter: 35,
              rate: 3,
              images: new Array(4).fill('room-thumb-3.png'),
              options: {feature: 'люкс'}
            },
            {
              number: 856,
              pricePerDay: 7300,
              feedbackCounter: 19,
              rate: 5,
              images: new Array(4).fill('room-thumb-4.png')
            },
            {
              number: 740,
              pricePerDay: 6000,
              feedbackCounter: 44,
              rate: 4,
              images: new Array(4).fill('room-thumb-5.png')
            },
            {
              number: 982,
              pricePerDay: 5800,
              feedbackCounter: 56,
              rate: 3,
              images: new Array(4).fill('room-thumb-6.png')
            },
            {
              number: 678,
              pricePerDay: 5500,
              feedbackCounter: 45,
              rate: 5,
              images: new Array(4).fill('room-thumb-7.png')
            },
            {
              number: 450,
              pricePerDay: 5300,
              feedbackCounter: 39,
              rate: 4,
              images: new Array(4).fill('room-thumb-8.png')
            },
            {
              number: 350,
              pricePerDay: 5000,
              feedbackCounter: 77,
              rate: 3,
              images: new Array(4).fill('room-thumb-9.png')
            },
            {
              number: 666,
              pricePerDay: 5000,
              feedbackCounter: 25,
              rate: 5,
              images: new Array(4).fill('room-thumb-10.png')
            },
            {
              number: 444,
              pricePerDay: 5000,
              feedbackCounter: 15,
              rate: 3,
              images: new Array(4).fill('room-thumb-11.png')
            },
            {
              number: 352,
              pricePerDay: 5000,
              feedbackCounter: 55,
              rate: 3,
              images: new Array(4).fill('room-thumb-12.png')
            }
          ]
        each room, i in searchResult
          .search-room-filter__room-thumb
            +room-thumb(
              room.number,
              room.pricePerDay,
              room.feedbackCounter,
              room.rate,
              room.images,
              room.options
            )
      .search-room-filter__paginator
        +paginator