extends base

include ../components/logo/logo
include ../components/color-sample/color-sample
include ../components/font-sample/font-sample

block vars
  - var title = 'UI Kit - Colors & Type'
  - var bodyClasses = ['ui', 'ui--color-type', 'clearfix']
block content
  .column.column--6
    +color-sample(
      'dark-100',
      'Dark Shade 100%',
      '#1F2041'
    )
    +color-sample(
      'dark-75',
      'Dark Shade 75%',
      '#1F2041'
    )
    +color-sample(
      'dark-50',
      'Dark Shade 50%',
      '#1F2041'
    )
    +color-sample(
      'dark-25',
      'Dark Shade 25%',
      '#1F2041'
    )
    +color-sample(
      'dark-5',
      'Dark Shade 5%',
      '#1F2041'
    )
    +color-sample(
      'purple',
      'Purple',
      '#BC9CFF'
    )
    +color-sample(
      'green',
      'Green',
      '#6FCF97'
    )
  .column.column--6
    +font-sample(
      'text-header',
      'H1',
      'This one is the sub-section or widget title'
    )
    +font-sample(
      'text-header-inside',
      'H2',
      'Next one is the item title inside widgets'
    )
    +font-sample(
      'text-label',
      'H3',
      'This is a label or CTA text'
    )
    +font-sample(
      'text-body',
      'Body',
      'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
    )
