extends ../../layouts/page

include ../../components/sign-in/sign-in

block vars
  - const title = 'Войти';
  - const metaDescription = 'Авторизоваться на официальном сайте отеля Toxin.'
  - const metaKeywords = 'логин, авторизация, авторизоваться, войти в учетную запись'

block main
  main.sign-in-page
    .sign-in-page__inner-wrapper
      section.sign-in-page__form
        +sign-in