include ../text-input/text-input
include ../radio-button/radio-button
include ../toggle-button/toggle-button
include ../label/label

mixin sign-up()
  form.sign-up
    h1.sign-up__title= 'Регистрация аккаунта'
    .sign-up__text-input
      +text-input({
        id: 'first-name',
        placeholder: 'Имя'
      })
    .sign-up__text-input
      +text-input({
        id: 'last-name',
        placeholder: 'Фамилия'
      })
    .sign-up__gender-button-group
      .sign-up__gender-radio-button
        +radio-button({
          id: 'g-male',
          name: 'gender',
          value: 'm',
          label: 'Мужчина',
          isChecked: true
        })
      .sign-up__gender-radio-button
        +radio-button({
          id: 'g-female',
          name: 'gender',
          value: 'f',
          label: 'Женщина'
        })
    .sign-up__birthday-group
      .sign-up__text-input-label
        +label({
          label: 'Дата рождения',
          _for: 'sign-up__text-input-birthday'
        })
      .sign-up__text-input
        +text-input({
          id: 'sign-up__text-input-birthday',
          placeholder: 'ДД.ММ.ГГГГ'
        })
    .sign-up__email-group
      .sign-up__text-input-label
        +label({
          label: 'Данные для входа в сервис',
          _for: 'sign-up__text-input-email'
        })
      .sign-up__text-input
        +text-input({
          id: 'sign-up__text-input-email',
          placeholder: 'Email',
          type: 'email'
        })
    .sign-up__text-input
      +text-input({
        id: 'sign-up__text-input-password',
        placeholder: 'Пароль',
        type: 'password'
      })
    .sign-up__toggle-button-group
      +toggle-button({
        id: 'sign-up__toggle-promote',
        label: 'Получать спецпредложения'
      })
    .sign-up__pay-button-group
      +button({
        theme: 'default',
        caption: 'Перейти к оплате',
        withArrow: true,
        isFluid: true
      })
    .sign-up__auth-button-group
      p.sign-up__auth-hint= 'Уже есть аккаунт на Toxin'
      .sign-up__auth-button
        +button({
          theme: 'transparent',
          caption: 'Войти',
          isFluid: true,
          href: 'sign-in.html'
        })
