include ../text-input/text-input
include ../radio-button/radio-button
include ../checkbox/checkbox
include ../label/label

mixin sign-up(options)
  - const { method='POST', action='/'} = options || {};

  form.sign-up(method=method action=action)
    h1.sign-up__title= 'Регистрация аккаунта'
    .sign-up__text-input
      +text-input({
        name: 'first-name',
        placeholder: 'Имя',
      })
    .sign-up__text-input
      +text-input({
        name: 'last-name',
        placeholder: 'Фамилия',
      })
    .sign-up__gender-group
      .sign-up__radio-button
        +radio-button({
          id: 'radio-button-gender-male',
          name: 'gender',
          value: 'male',
          label: 'Мужчина',
          isChecked: true,
        })
      .sign-up__radio-button
        +radio-button({
          id: 'radio-button-gender-female',
          name: 'gender',
          value: 'female',
          label: 'Женщина',
        })
    .sign-up__birthday-group
      .sign-up__label
        +label({
          label: 'Дата рождения',
          _for: 'sign-up__input-birthday',
        })
      .sign-up__text-input
        +text-input({
          id: 'sign-up__input-birthday',
          name: 'birthday',
          placeholder: 'ДД.ММ.ГГГГ',
        })
    fieldset.sign-up__credentials-group
      legend.sign-up__legend
        +label({
          label: 'Данные для входа в сервис',
        })
      .sign-up__text-input
        +text-input({
          id: 'sign-up__input-email',
          name: 'email',
          placeholder: 'Email',
          type: 'email',
        })
      .sign-up__text-input
        +text-input({
          name: 'password',
          placeholder: 'Пароль',
          type: 'password',
        })
    .sign-up__checkbox
      +checkbox({
        id: 'sign-up__toggle-promo',
        theme: 'toggle',
        name: 'send-me-promo',
        label: 'Получать спецпредложения',
      })
    .sign-up__button
      +button({
        theme: 'with-arrow',
        type: 'submit',
        caption: 'Перейти к оплате',
        isFluid: true,
      })
    .sign-up__sign-in-button-group
      p.sign-up__sign-in-hint= 'Уже есть аккаунт на Toxin'
      .sign-up__button.sign-up__button_type_sign-in
        +button({
          theme: 'transparent',
          caption: 'Войти',
          href: 'sign-in.html',
          isFluid: true,
        })
