.header {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $color-dark-50;
  $parent: #{&};
  $menu: #{&}__menu;
  $menu-item: #{&}__menu-item;
  $menu-a: #{&}__menu-a;
  $account: #{&}__account;
  height: inherit;
  background: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  position: relative;
  &__logo {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    @media (max-width: $screen-lg-min) {
      display: none;
    }
  }
  &__nav {
    width: 80.5%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    @media (max-width: $screen-md-min) {
      width: 98.5%;
    }
  }

  &__menu-wrapper {
    margin-right: 15px;
    position: relative;
    float: right;
    top: 50%;
    display: block;
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
    @media (max-width: $screen-md-min) {
      float: left;
    }
  }

  &__menu-a {
    color: $color-dark-50;
    text-decoration: none;
    &:hover {
      color: $color-dark-100;
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    &--is-sub {
      position: absolute;
      left: -9999px;
      background: white;
      #{$menu-a} {
        display: inline-block;
        width: 200px;
        padding: 10px;
        border-bottom: 1px solid $color-dark-5;
      }
    }
  }

  &__menu-item {
    display: block;
    float: left;
    padding: 0 15px;
    position: relative;
    &--active {
      font-weight: bold;
      #{$menu-a} {
        color: $color-dark-75;
      }
    }
    #{$menu-item} {
      clear: both;
      width: 100%;
    }
    @mixin menu-visible() {
      left: auto;
    }
    &:hover {
      #{$menu} {
        @include menu-visible;
      }
    }
    #{$menu} {
      &:hover {
        @include menu-visible;
      }
    }

    @media (max-width: $screen-sm-min) {
      width: 100%;
      background: white;
    }
  }

  &__dropdown-text {
    margin-right: 10px;
  }

  &__dropdown-arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    margin-left: -13px;
  }
  @mixin account-height($height) {
    display: inline-block;
    height: $height;
    top: 50%;
    margin-top: -($height) / 2;
    position: relative;
    float: right;
  }
  &__account {
    @include account-height(34px);
  }
  &--signed {
    #{$account} {
      $height: 30px;
      @include account-height($height);
      line-height: $height;
      border-left: 1px solid $color-dark-10;
      padding-left: 31px;
    }
  }
  &__button {
    &--sign-in,
    &--sign-up {
      height: 34px;
      float: right;
    }
    &--sign-in {
      width: 79px;
      margin-right: 20px;
    }
    &--sign-up {
      width: 100px;
    }
  }
}