@import '../../utils/vars';
@import '../../utils/mixins';

@import '../logo/logo';
@import '../button/button';

.header {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-dark-50;
  background: white;
  box-shadow: 0 0.625rem 1.25rem $color-dark-5;
  &__inner {
    @include inner;
    padding: 0.75rem 0;
    min-height: inherit;
    @media (min-width: $screen-md-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.9375rem 0 0.9375rem 0;
    }
  }
  &__nav-toggle {
    @media (min-width: $screen-md-min) {
      display: none;
    }
    cursor: pointer;
    position: absolute;
    right: 0.625rem;
    font-size: 3rem;
    color: $color-dark-50;
  }
  &__logo {
    margin: 0;
    font-size: 0;
    display: inline-block;
  }
  &__nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    @media (min-width: $screen-md-min) {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &--active {
      display: block;
    }
  }
  &__nav-item {
    text-align: center;
    margin: 1rem auto;
    @media (min-width: $screen-md-min) {
      margin: 0;
      display: flex;
      align-items: center;
      &--sign-up {
        margin-left: 1.25rem;
      }
      &--sign-in {
        margin-left: 1.25rem;
      }
      &--account {
        margin-left: 1.875rem;
        border-left: 1px solid $color-dark-10;
      }
    }
  }
  &__nav-link {
    text-decoration: none;
    color: $color-dark-50;
    &:hover {
      color: $color-dark-100;
    }
    &--has-submenu {
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: 'keyboard_arrow_down';
        font-family: 'Material Icons';
        font-size: 1.5rem;
        height: 1.25rem;
      }
    }
    @media (min-width: $screen-md-min) {
      margin-left: 1.3125rem;
    }
  }
}