extends ../../layouts/base

include ../../components/headers-footers-page/headers-footers-page

block vars
  - var title = 'UI Kit - Headers & Footers'
  - var theme = 'gray'
  - var logo = true

block content
  +headers-footers-page