extends ../../layouts/base

include ../../components/headers-footers-page/headers-footers-page

block vars
  - const title = 'UI Kit - Headers & Footers';
  - const theme = 'gray';

block content
  +headers-footers-page