@import './vars';
@import './fonts';

*, *:after, *:before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: $color-dark-100;
}

body {
  max-width: 120rem;
  min-width: 20rem;
}