@import './vars';

@mixin inner($lgWidth: 80.5%, $mdWidth: 95.5%) {
  margin: 0 auto;
  width: $mdWidth;
  @media (min-width: $screen-md-min) {
    width: $lgWidth;
    max-width: 72.5rem;
  }
}

@mixin auth-page {
  width: 100%;

  background-image: url('../img/auth.png');
  background-color: $color-purple;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    @include inner;
    min-height: 42.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    width: 23.75rem;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

@mixin card {
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.2);
  background-color: white;
}

@mixin primary-text {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  color: $color-dark-75;
}

@mixin h1 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.875rem;
  color: $color-dark-100;
}

@mixin h2 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5rem;
  color: $color-dark-100;
}

@mixin h3 {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: 0.9375rem;
  color: $color-dark-100;
  text-transform: uppercase;
}