@import 'datepicker-config';
@import '../card/card';

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;

  @media print {
    display: none;
  }
}

.datepicker {
  @include card;
  border: 1px solid $color-dark-25;
  font-family: $datepickerFontFamily, sans-serif;
  font-size: $datepickerFontSize;
  color: map_get($datepickerTextColor, common);
  padding: 15px;
  padding-bottom: 50px;
  padding-left: 17px;
  position: absolute;
  display: none;
  transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase, transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s $datepickerTransitionSpeed;
  z-index: $datepickerZIndex;

  &.-from-top- {
    transform: translateY(-$datepickerTransitionOffset);
  }
  &.-from-right- {
    transform: translateX($datepickerTransitionOffset);
  }
  &.-from-bottom- {
    transform: translateY($datepickerTransitionOffset);
  }
  &.-from-left- {
    transform: translateX(-$datepickerTransitionOffset);
  }


  &.active {
    display: block;
    transform: translate(0);
    transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase, transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s 0s;
  }

  &--body {
    display: none;

    &.active {
      display: block;
    }
  }

  &--content {
    box-sizing: content-box;
    padding: $datepickerPadding;
  }
  &--clear-btn,
  &--apply-btn {
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    padding: 18px;
  }

  &--clear-btn {
    left: 0;
    color: $color-dark-50;
  }
  &--apply-btn {
    right: 0;
    color: $color-purple;
  }
}

.datepicker-inline {
  .datepicker {
    border-color: map-get($datepickerBorderColor, inline);
    box-shadow: none;
    position: static;
    left: auto;
    right: auto;
    opacity: 1;
    transform: none;
  }

  &--pointer {
    display: none;
  }
}