@import '../../utils/vars';

@import '../like-button/like-button';

.feedback {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-primary-75;
  $picture-width: 3rem;
  display: grid;
  grid-template-areas:
    'pic header'
    'like text';
  grid-gap: 0.5625rem;
  &__author-picture-wrapper {
    grid-area: pic;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $picture-width;
    height: $picture-width;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.1);
    border: 0.125rem solid white;
  }
  &__header {
    grid-area: header;
  }
  &__author-name {
    line-height: 1.5rem;
    font-weight: bold;
  }
  &__date {
    line-height: 1.625rem;
  }
  &__like-button {
    grid-area: like;
    text-align: center;
    padding-top: 0.0625rem;
  }
  &__text {
    grid-area: text;
    line-height: 1.5rem;
  }
}