.feedback {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-dark-75;
  $picture-width: 3rem;
  $left-indent: $picture-width + 0.625rem;
  &__author-picture-wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: $picture-width;
    height: $picture-width;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0.625rem 1.25rem rgba(31, 32, 65, 0.1);
    border: 2px solid white;
  }
  &__author-name,
  &__date,
  &__text {
    padding-left: $left-indent;
    margin: 0;
  }
  &__author-name {
    line-height: 1.5rem;
    font-weight: bold;
  }
  &__date {
    line-height: 1.625rem;
  }
  &__content {
    position: relative;
    margin-top: 0.625rem;
  }
  &__like-button {
    position: absolute;
    left: 0.1875rem;
    top: 0;
    height: 100%;
    width: 0.625rem;
  }
  &__text {
    line-height: 1.5rem;
  }
}