@import './config';
@import '../fonts/fonts.css';
@import '../components/h1/h1';
@import '../components/h2/h2';
@import '../components/h3/h3';
@import '../components/body/body';
@import '../components/groups/groups';
@import '../components/site-menu/site-menu';
@import '../components/logo/logo';
@import '../components/color-sample/color-sample';
@import '../components/font-sample/font-sample';
@import '../components/label/label';
@import '../components/input/input';
@import '../components/dropdown/dropdown';
@import '../components/checkbox/checkbox';
@import '../components/radio-button/radio-button';
@import '../components/toggle-button/toggle-button';
@import '../components/like-button/like-button';
@import '../components/rate-button/rate-button';
@import '../components/range-slider/range-slider';
@import '../components/button/button';
@import '../components/paginator/paginator';
@import '../components/checkbox-list-xp/checkbox-list-xp';
@import '../components/bullet-list/bullet-list';
@import '../components/feature/feature';
@import '../components/feedback/feedback';
@import '../components/dropdown-date-range/dropdown-date-range';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/footer-menu-section/footer-menu-section';
@import '../components/votes-chart/votes-chart';
@import '../components/card/card';
@import '../components/card/datepicker/datepicker';
@import '../components/card/room-book/room-book';
@import '../components/card/room-search/room-search';
@import '../components/card/room-thumb/room-thumb';
@import '../components/card/sign-in/sign-in';
@import '../components/card/sign-up/sign-up';
@import '../pages/layouts/auth';
@import '../pages/ui-colors-type/ui-colors-type';
@import '../pages/ui-cards/ui-cards';
@import '../pages/ui-form-elements/ui-form-elements';
@import '../pages/ui-headers-footers/ui-headers-footers';
@import '../pages/landing/landing';
@import '../pages/search-room-filter/search-room-filter';
@import '../pages/room-details/room-details';
@import '../pages/registration/registration';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="password"],
input[type="email"],
input[type="text"] {
  appearance: none;
}

html {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: $color-dark-100;
}

body {
  margin: 0;
}

.container {
  max-width: 120rem;
  min-width: 20rem;
  &__logo {
    margin: 0;
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
  }
  &--gray {
    background-color: $color-gray;
  }
}

.clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}