@mixin inner($mdMinWidth: 80.5%, $mdMaxWidth: 95.5%) {
  margin: 0 auto;
  width: $mdMaxWidth;
  @media (min-width: $screen-md-min) {
    width: $mdMinWidth;
    max-width: 120rem;
    min-width: 20rem;
  }
}