mixin bullet-list(options)
  - var { id, items } = options || {}

  ul(id=id).bullet-list
    each item, index in items
      li.bullet-list__item
        .bullet-list__marker-wrapper
          span.bullet-list__marker
        p.bullet-list__text!= item.text
