@import '../../utils/vars';

.bullet-list {
  list-style: none;
  font-size: .875rem;
  color: $color-primary-75;

  &__item {
    position: relative;
    line-height: 1.5rem;
    padding: 0 0 .625rem 1.25rem;

    &:last-child {
      @media (max-width: $screen-xs-max) {
        padding-bottom: 0;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: -.0625rem;
      top: .4375rem;
      display: inline-block;
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 0.3125rem;
      background-color: $color-primary-25;
    }
  }
}