@import '../../utils/vars';
@import '../../utils/mixins';

@import '../label/label.scss';
@import '../dropdown/dropdown.scss';
@import '../range-slider/range-slider.scss';
@import '../checkbox-list/checkbox-list.scss';
@import '../checkbox-list-expandable/checkbox-list-expandable';
@import '../room-thumbnail/room-thumbnail.scss';
@import '../paginator/paginator.scss';
@import '../text-input/text-input.scss';
@import '../datepicker-date-range/datepicker-date-range.scss';
@import '../button/button.scss';
@import '../radio-button/radio-button.scss';
@import '../toggle-button/toggle-button.scss';
@import '../like-button/like-button.scss';
@import '../bullet-list/bullet-list.scss';
@import '../feature/feature.scss';
@import '../feedback/feedback.scss';

.form-elements-page {
  $blockClass: &;
  @include inner;
  padding: 8.9375rem 0 8.25rem 0;
  font-family: Montserrat, sans-serif;

  &__section,
  &__row {
    display: grid;
    @media (max-width: $screen-md-max) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-gap: 2.5rem;
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }

  &__section {
    &:first-child {
      margin-bottom: 5rem;
      grid-template-columns: 27.63% 10.88% 27.63% 6.2176% 27.63%;
    }
    &:nth-child(2) {
      margin-bottom: 2.5625rem;
      grid-template-columns: 22.95% 15.62% 27.61% 6.21% 27.61%;
      min-height: 16.625rem;
    }
    &:nth-child(3) {
      grid-template-columns: 22.95% 15.62% 27.61% 6.21% 27.61%;
    }
    &:nth-child(4) {
      grid-template-columns: 22.95% 15.62% 61.43%;
    }
  }

  &__section-column-gap {
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }

  // Custom padding/margin for groups
  &__input-group {
    margin-bottom: 1.25rem;
    .label {
      margin-bottom: 0.3125rem;
    }
    &_theme {
      &_with-mask {
        margin-bottom: 2.5rem;
      }
      &_with-submit {
        padding-right: 3.375rem;
      }
    }
  }
  &__dropdown-group {
    margin-bottom: 1.4375rem;
    .label {
      margin-bottom: 0.3125rem;
    }
    &_theme {
      &_datepicker-date-range,
      &_date-filter {
        margin-bottom: 2.5625rem;
      }
      &_date-filter {
        padding-right: 3.375rem;
      }
    }
    &_collapsed {
      margin-bottom: 1.25rem;
    }
  }
  &__checkbox-group {
    margin-bottom: 2.5rem;
    padding-right: 5rem;
  }
  &__radio-group {
    margin-bottom: 2.625rem;
    .label {
      margin-bottom:0.875rem;
    }
    .radio-button {
      margin-right: 1rem;
    }
  }
  &__rate-button-group {
    .label {
      margin-bottom: 1.0625rem;
    }
    .rate-button {
      margin-right: 1rem;
    }
  }
  &__toggle-group {
    margin-bottom: 2.8125rem;
    .label {
      margin-bottom: 0.875rem;
    }
    .toggle-button {
      margin-bottom: 0.825rem;
    }
  }
  &__like-button-group {
    margin-bottom: 2.5rem;
    .label {
      margin-bottom: 1rem;
    }
    .like-button {
      margin-right: 0.375rem;
    }
  }
  &__range-slider {
    margin-bottom: 2.375rem;
    padding-right: 3.375rem;
  }
  &__button-group {
    margin-bottom: 2.5rem;
    .label {
      margin-bottom: 1rem;
    }
    #{$blockClass}__row {
      display: flex;
      margin-bottom: 1.875rem;
    }
    .button {
      margin-right: 1.25rem;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__paginator-group {
    .label {
      margin-bottom: 1rem;
    }
  }
  &__rich-checkbox-group {
    padding: 0.8125rem 3.5rem 0 0;
  }
  &__bullet-list-group {
    padding: 0.8125rem 3.75rem 0 0;
    .label {
      margin-bottom: 0.8125rem;
    }
  }
  &__checkbox-list-expandable-group {
    margin-bottom: 1.3125rem;
    &_expanded {
      margin-bottom: 0.6875rem;
    }
  }
  &__feature {
    border-bottom: 0.0625rem solid $color-dark-10;
  }
  &__feedback-group {
    margin-top: 1.875rem;
  }
}