@import '../../utils/vars';
@import '../../utils/mixins';

@import '../footer-menu/footer-menu';
@import '../logo/logo';
@import '../input/input';

.footer {
  $blockClass: &;
  min-height: inherit;
  background: white;
  box-shadow: 0 0.625rem 1.25rem $color-dark-5;
  position: relative;
  &__row-divider {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4.375rem;
    background-color: $color-dark-5;
    color: $color-dark-5;
    border: none;
    height: 1px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &__inner {
    @include inner;
    padding-top: 6.25rem;
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.45fr 1fr;
    grid-template-areas:
      'header nav subscribe'
      'copyright copyright social';
    grid-row-gap: 5rem;
    @media (max-width: $screen-sm-max) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'header subscribe'
        'nav nav'
        'copyright social';
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'subscribe'
        'nav'
        'copyright'
        'social';
      grid-row-gap: 1rem;
      padding: 3rem 0.75rem;
    }
  }
  &__header {
    grid-area: header;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__logo {
    margin: 0;
  }
  &__description {
    @include primary-text;
  }
  &__navbar {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem 3.125rem 0 2.5rem;
    @media (max-width: $screen-xs-max) {
      padding: 0;
      flex-direction: column;
      text-align: center;
    }
  }
  &__subscribe {
    grid-area: subscribe;
    padding: 0.3125rem 0;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__subscribe-title {
    @include h3;
  }
  &__subscribe-description {
    @include primary-text;
    margin: 1rem 0 1.5rem 0;
  }
  &__copyright {
    @include primary-text;
    line-height: 2.5rem;
    grid-area: copyright;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__social {
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $screen-xs-max) {
      justify-content: center;
    }
  }
  &__social-link {
    display: inline-block;
    margin: 0.875rem 0 0.875rem 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    &--fb {
      background-image: url('../../img/social/fb.svg');
    }
    &--tw {
      background-image: url('../../img/social/tw.svg');
    }
    &--ig {
      background-image: url('../../img/social/ig.svg');
    }
  }
  &--creative {
    #{$blockClass}__inner {
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'social';
      grid-row-gap: 0;
      padding-bottom: 6.25rem;
    }
    #{$blockClass}__header {
      text-align: center;
      padding: 0 25%;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
    }
    #{$blockClass}__social {
      justify-content: center;
    }
    #{$blockClass}__row-divider,
    #{$blockClass}__navbar,
    #{$blockClass}__subscribe,
    #{$blockClass}__copyright {
      display: none;
    }
  }
}