@import '../../utils/vars';
@import '../../utils/mixins';

@import '../logo/logo';
@import '../text-input/text-input';

.footer {
  $blockClass: &;
  min-height: inherit;
  background: white;
  box-shadow: 0 0.625rem 1.25rem $color-dark-5;
  &__main-area {
    border-bottom: 0.0625rem solid $color-dark-5;
    @media (max-width: $screen-xs-max) {
      border-bottom: none;
    }
  }
  &__main-area-inner-wrapper {
    @include inner-wrapper;
    padding: 6.25rem 0 4.875rem 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.45fr 1fr;
    grid-template-areas:
      'about nav subscribe';
    grid-row-gap: 5rem;
    @media (max-width: $screen-sm-max) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'about subscribe'
        'nav nav';
    }
    @media (max-width: $screen-xs-max) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'about'
        'subscribe'
        'nav';
      padding: 3rem 0 0 0;
      grid-row-gap: 3rem;
    }
  }
  &__about-us {
    grid-area: about;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__description {
    @include primary-text;
    margin: 0.875rem 0;
  }
  &__navigation {
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0.3125rem 3.1875rem 0 2.5rem;
    @media (max-width: $screen-xs-max) {
      padding: 0;
      flex-direction: column;
      text-align: center;
    }
  }
  &__navigation-section {
    font-family: Montserrat, sans-serif;
    &:nth-child(2) {
      padding-right: 2.25rem;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 2rem;
    }
  }
  &__navigation-section-title {
    @include h3;
  }
  &__navigation-section-list {
    list-style: none;
    padding-left: 0;
    margin: 1.125rem 0;
  }
  &__navigation-section-item {
    margin-bottom: 0.875rem;
  }
  &__navigation-section-link {
    @include primary-text;
    @include reset-outline(text-shadow);
    color: $color-dark-50;
    text-decoration: none;
    &:hover {
      color: $color-dark-100;
    }
  }
  &__subscribe-form {
    grid-area: subscribe;
    padding: 0.3125rem 0 0 0.0625rem;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__subscribe-form-title {
    @include h3;
  }
  &__subscribe-form-description {
    @include primary-text;
    margin: 1.125rem 0 1.4375rem 0;
  }
  &__bottom-area-inner-wrapper {
    @include inner-wrapper;
    min-height: 4.375rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'copyright social';
    align-items: center;
    @media (max-width: $screen-xs-max) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'copyright'
        'social';
    }
  }
  &__copyright {
    @include primary-text;
    grid-area: copyright;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &__social-list {
    list-style: none;
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.25rem;
    @media (max-width: $screen-xs-max) {
      line-height: 4.375rem;
      justify-content: center;
    }
  }
  &__social-list-item {
    margin: 0 0 0 1.25rem;
  }
  &__social-link {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    &_theme {
      &_fb {
        background-image: url('../../img/social/fb.svg');
      }
      &_tw {
        background-image: url('../../img/social/tw.svg');
      }
      &_ig {
        background-image: url('../../img/social/ig.svg');
      }
    }
  }
  &_theme {
    &_creative {
      #{$blockClass}__main-area {
        border-bottom: none;
      }
      #{$blockClass}__main-area-inner-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 'about';
        padding-bottom: 0;
      }
      #{$blockClass}__about-us {
        text-align: center;
        padding: 0 25%;
        @media (max-width: $screen-xs-max) {
          padding: 0;
        }
      }
      #{$blockClass}__bottom-area-inner-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 'social';
        align-items: flex-start;
      }
      #{$blockClass}__social-list {
        justify-content: center;
        padding: 0.75rem 1.125rem 0 0;
      }
      #{$blockClass}__navigation,
      #{$blockClass}__subscribe-form,
      #{$blockClass}__copyright {
        display: none;
      }
    }
    &_ui-kit {
      #{$blockClass}__navigation-section {
        font-family: Montserrat, sans-serif;
        &:nth-child(2) {
          padding-right: 0;
        }
        &:nth-child(3) {
          padding-right: 2.25rem;
          @media (max-width: $screen-xs-max) {
            padding-right: 0;
          }
        }
        @media (max-width: $screen-xs-max) {
          margin-bottom: 2rem;
        }
      }
      #{$blockClass}__subscribe-form-title {
        letter-spacing: -0.02rem;
      }
      #{$blockClass}__subscribe-form-description {
        letter-spacing: -0.01rem;
      }
      #{$blockClass}__copyright,
      #{$blockClass}__description {
        letter-spacing: -0.005rem;
      }
    }
  }
  @media (max-width: $screen-filter-xs-max) {
    &_hidden {
      display: none;
    }
  }
}