@import '../../utils/vars';
@import '../checkbox/checkbox';

.checkbox-list-expandable {
  $blockClass: &;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  color: $color-dark-75;
  user-select: none;
  &__toggle {
    padding: 0.5rem 0.625rem 0.75rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__label {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-dark-100;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #{$blockClass}__arrow {
    display: inline-block;
    cursor: pointer;
    transition: transform .1s ease-out;
  }
  #{$blockClass}__list {
    display: none;
    width: 100%;
  }
  &__item {
    padding-bottom: 0.625rem;
  }
  &--expanded {
    #{$blockClass}__arrow {
      transform: rotate(180deg);
    }
    #{$blockClass}__list {
      display: inline-block;
    }
  }
}