@import '../../css/mixins';
.ui-colors-type {
  @include inner;
  width: 79.2%;
  margin-top: 9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $screen-md-max) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  @media (max-width: $screen-xs-max) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}