.ui-colors-type {
  width: 79.2%;
  margin: 9rem auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: $screen-md-max) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  @media (max-width: $screen-xs-max) {
    width: 95.5%;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}