@import '../../utils/vars';
@import '../../utils/mixins';

@import '../button/button';
@import '../label/label';
@import '../dropdown/dropdown';
@import '../datepicker-date-range/datepicker-date-range';

.room-book {
  @include card;
  padding: 2.375rem 1.875rem 1.875rem 1.8125rem;
  @media (max-width: $screen-xs-max) {
    padding: 2rem 1rem;
  }
  &__number,
  &__feature {
    float: left;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.6875rem;
  }
  &__number {
    font-family: Quicksand, sans-serif;
  }
  &__number-feature {
    @include h3;
    color: $color-purple;
  }
  &__number-sign,
  &__number-value,
  &__number-feature {
    display: inline-block;
  }
  &__number-sign,
  &__number-value {
    font-weight: bold;
  }

  &__number-sign {
    font-size: 0.875rem;
  }
  &__number-value {
    font-size: 1.5rem;
    padding-left: 0.25rem;
    color: $color-dark-100;
  }
  &__feature {
    color: $color-purple;
  }
  &__price-per-day {
    @include primary-text;
    line-height: 2.375rem;
  }
  &__cost,
  &__date-unit {
    display: inline-block;
    color: $color-dark-50;
  }
  &__cost {
    font-weight: bold;
  }
  &__date-unit {
    font-size: 0.75rem;
  }
  &__guests {
    margin-top: 1.25rem;
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
  &__table-result {
    margin-top: 1.125rem;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-row-gap: 0.375rem;
    font-family: Montserrat, sans-serif;
    font-size: 0.875rem;
    color: $color-dark-75;
  }
  .grid-cell {
    padding-top: 0.1875rem;
    &--info {
      padding: 0;
      color: $color-dark-25;
    }
    &--sum {
      text-align: right;
    }
  }
  &__info-icon {
    cursor: help;
  }
  &__total-row {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: end;
  }
  &__total-header,
  &__total-sum {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 1.1875rem;
    line-height: 1rem;
  }
  &__total-header {
    font-family: Open Sans, sans-serif;
    margin-right: 0.3125rem;
  }
  &__total-line {
    height: 0.0625rem;
    border-bottom: 0.0625rem dotted $color-dark-25;
  }
  &__total-sum {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    text-align: right;
    margin-left: 0.3125rem;
  }
  &__button {
    margin-top: 1.5625rem;
  }
}