extends ../../layouts/base

include ../../components/ui-headers-footers/ui-headers-footers

block vars
  - var title = 'UI Kit - Headers & Footers'
  - var theme = 'gray'
  - var logo = true

block content
  +ui-headers-footers