@import 'navigation';
@import 'cell';

.datepicker {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  padding: 0.875rem 1.125rem;
  display: none;
  z-index: 100;

  &.active {
    display: block;
  }
  &--body {
    display: none;
    &.active {
      display: block;
    }
  }
  &--content {
    padding: 1.5rem 0;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__clear-btn,
  &__apply-btn {
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
  }
  &__clear-btn {
    color: $color-dark-50;
  }
  &__apply-btn {
    color: $color-purple;
  }
}