@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face{font-family:'Quicksand';src:url(fonts/quicksand-regular.woff) format("woff"),url(fonts/quicksand-regular.ttf) format("truetype"),url(fonts/quicksand-regular.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Quicksand';src:url(fonts/quicksand-bold.woff) format("woff"),url(fonts/quicksand-bold.ttf) format("truetype"),url(fonts/quicksand-bold.svg) format("svg");font-weight:bold;font-style:normal}@font-face{font-family:'Open Sans';src:url(fonts/open-sans-bold.ttf) format("truetype"),url(fonts/open-sans-bold.woff) format("woff"),url(fonts/open-sans-bold.svg) format("svg");font-weight:bold;font-style:normal}@font-face{font-family:'Montserrat';src:url(fonts/montserrat-regular.woff) format("woff"),url(fonts/montserrat-regular.ttf) format("truetype"),url(fonts/montserrat-regular.svg) format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Montserrat';src:url(fonts/montserrat-bold.woff) format("woff"),url(fonts/montserrat-regular.ttf) format("truetype"),url(fonts/montserrat-bold.svg) format("svg");font-weight:bold;font-style:normal}*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box}html{font-family:Quicksand, sans-serif;font-size:16px;color:#1F2041}body{margin:0;max-width:120rem;min-width:20rem}

.site-menu{list-style:none}.site-menu--purple .site-menu__link{color:#BC9CFF}.site-menu--green .site-menu__link{color:#6FCF97}.site-menu__link:hover{color:#1F2041}

