extends base

include components/logo/logo
include components/site-menu/site-menu

block vars
  - var title = 'Main'
  - var bodyClasses = ['ui', 'ui--index']
block content
  .column.column--6
    +site-menu(
      'purple',
      [
        {text: 'Colors & Type', href: 'dist/ui-kit-colors-n-type.html'},
        {text: 'Form elements', href: 'dist/ui-kit-form-elements.html'},
        {text: 'Cards', href: 'dist/ui-kit-cards.html'},
        {text: 'Headers & Footers', href: 'dist/ui-kit-headers-footers.html'}
      ]
    )
  .column.column--6
    +site-menu(
      'green',
      [
        {text: 'Landing page', href: 'dist/landing-page.html'},
        {text: 'Search room', href: 'dist/search-room.html'},
      ]
    )