@import "fonts/fonts.css";
@import "components/container/container.css";
@import "components/column/column.css";
@import "components/color-sample/color-sample.css";
@import "components/font-sample/font-sample.css";
@import "components/form-group/form-group.css";
@import "components/form/label.css";
@import "components/form/input-text-group.css";
@import "components/form/input-select-group.css";
@import "components/form/checkbox-group.css";
@import "components/form/radio-group.css";
@import "components/form/toggle-group.css";
@import "components/form/like-button.css";
@import "components/form/rate-group.css";

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-input-placeholder { /* Edge */
    color: rgba(31, 32, 65, 0.5);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(31, 32, 65, 0.5);
}
::placeholder {
    color: rgba(31, 32, 65, 0.5);
}
body {
    font-family: Quicksand, sans-serif;
    margin: 0;
}
.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
ul.main-menu {
    list-style: none;
}
ul.main-menu.purple li a {
    color: #BC9CFF;
}
ul.main-menu.green li a {
    color: #6FCF97;
}
ul.main-menu li a:hover {
    color: #1F2041;
}

@media (max-width: 1280px) {
    .container {
        /*width: 88%;*/
    }
}

@media (max-width: 1024px) {
    .container {
        /*width: 91%;*/
    }
}

@media (max-width: 767px) {
    .container {
        /*width: 91%;*/
    }
}