extends base

include components/logo/logo
include components/form/input-t-text/input-t-text
include components/form/input-select-group
include components/form/input-t-checkbox/input-t-checkbox
include components/form/radio-button/radio-button
include components/form/toggle-button/toggle-button
include components/form/label/label
include components/form/like-button/like-button
include components/form/rate-button/rate-button
include components/form/range-slider/range-slider
include components/form/button/button
include components/form/paginator/paginator

block vars
  - title = 'UI Kit: Form elements'
block content
  div.ui.ui--form-components.clearfix
    +logo
    div.column.column--4.column--large-hpadding
      div.ui__input-t-text-group--default
        div.input-t-text-group
          div.input-t-text-group__label
            +label(
              'text field',
              'default'
            )
          div.input-t-text-group__input-t-text
            +input-t-text({
              id: 'input-email',
              placeholder: 'Email'
            })
      div.ui__input-t-text-group--hovered
        div.input-t-text-group
          div.input-t-text-group__label
            +label(
              'text field',
              'hover / focus'
            )
          div.input-t-text-group__input-t-text
            +input-t-text({
              value: 'This is pretty awesome',
              id: 'input-focused-hovered',
              hovered: true
            })
      div.ui__input-select-group--default
        +input-select-group({
          'llabel': 'dropdown',
          'rlabel': 'default',
          'id': 'default-dropdown',
          'options': ['Сколько гостей']
        })
      div.ui__input-t-text-group--masked
        div.input-t-text-group
          div.input-t-text-group__label
            +label(
              'masked text field',
              'default'
            )
          div.input-t-text-group__input-t-text
            +input-t-text({
              id: 'input-text-with-mask',
              placeholder: 'ДД.ММ.ГГГГ'
            })
      div.ui__input-select-group--inline.clearfix
        div.ui__input-select-group--small
          +input-select-group({
            'llabel': 'date dropdown',
            'options': ['ДД.ММ.ГГГГ']
          })
        div.ui__input-select-group--small
          +input-select-group({
            'llabel': 'date dropdown',
            'options': [
              '19.08.2019'
            ]
          })
      div.ui__input-select-group--date-filter
        +input-select-group({
          'llabel': 'filter date dropdown',
          'options': ['19 авг - 23 авг'],
        })
      div.ui__input-t-text-group--with-submit
        div.input-t-text-group
          div.input-t-text-group__label
            +label('subscription text field')
          div.input-t-text-group__input-t-text
            +input-t-text({
              id: 'input-text-submit',
              placeholder: 'Email',
              withButton: true
            })
    div.column.column--4.column--large-hpadding
      div.ui__input-t-checkbox-group--default
        div.input-t-checkbox-group
          div.input-t-checkbox-group__label
            +label('checkbox buttons')
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox(
              'smoke-allowed',
              'Можно курить'
            )
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox(
              'pets-allowed',
              'Можно с питомцами',
              true
            )
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox(
              'guests-allowed',
              'Можно пригласить гостей (до 10 человек)',
              true
            )
      div.ui__radio-group--default
        div.radio-button-group.clearfix
          div.radio-button-group__label
            +label('radio buttons')
          div.radio-button-group__radio-button
            +radio-button(
              'radio-male',
              'gender',
              'male',
              'Мужчина',
              true
            )
          div.radio-button-group__radio-button
            +radio-button(
              'radio-female',
              'gender',
              'female',
              'Женщина'
            )
      div.ui__toggle-group--default
        div.toggle-group
          div.toggle-group__label
            +label('toggle')
          div.toggle-group__toggle-button
            +toggle-button({
              id: 'first',
              label: 'Получать спецпредложения',
              checked: true
            })
          div.toggle-group__toggle-button
            +toggle-button({
              id: 'second',
              label: 'Получать спецпредложения'
            })
      div.ui__like-button-group--default.clearfix
        div.like-button-group
          div.like-button-group__label
            +label('like button')
          div.like-button-group__like-button
            +like-button({
              count: 2
            })
          div.like-button-group__like-button
            +like-button({
              count: 12,
              favorite: true
            })
      div.ui__rate-group--default.clearfix
        div.rate-group
          div.rate-group__label
            +label('rate button')
          div.rate-group__rate-button
            +rate-button({
              base: 5,
              rate: 4,
              name: 'rate-first'
            })
          div.rate-group__rate-button
            +rate-button({
              base: 5,
              rate: 5,
              name: 'rate-second'
            })
    div.column.column--4.column--small-hpadding
      div.ui__range-slider--default
        +range-slider({
          'name': 'range-slider'
        })
      div.ui__button-group--default
        div.button-group
          div.button-group__label
            +label('buttons')
          div.button-group__button
            +button({
              theme: 'default',
              caption: 'click me'
            })
          div.button-group__button
            +button({
              theme: 'default',
              caption: 'click me',
              hover: true
            })
          div.button-group__button
            +button({
              theme: 'transparent',
              caption: 'click me'
            })
          div.button-group__button
            +button({
              theme: 'transparent',
              caption: 'click me',
              hover: true
            })
          div.button-group__button--textual
            +button({
              theme: 'textual',
              caption: 'click me'
            })
          div.button-group__button--textual
            +button({
              theme: 'textual',
              caption: 'click me',
              hover: true
            })
          div.button-group__button--large
            +button({
              theme: 'default',
              arrow: true,
              caption: 'перейти к оплате'
            })
      div.ui__paginator-group
        div.paginator-group
          div.paginator-group__label
            +label('pagination')
          div.paginator-group__paginator
            +paginator()
    div.clearfix
      div.column.column--4