extends base

include components/logo/logo
include components/form/input-text-group
include components/form/input-select-group

block vars
  - title = 'UI Kit: Form elements'
block content
  .container.container_page-form-elements.clearfix
    +logo
    .col-4
      +input-text-group({
          'llabel': 'text field',
          'rlabel': 'default',
          'placeholder': 'Email',
          'id': 'input-email',
          'modifiers': {
              'this': ['input-text-group_margin-standard']
          }
      })
      +input-text-group({
          'llabel': 'text field',
          'rlabel': 'hover / focus',
          'value': 'This is pretty awesome',
          'id': 'input-focused-hovered',
          'modifiers': {
              'this': 'input-text-group_margin-standard',
              'input': ['input-text_state-focus']
          }
      })
      +input-select-group({
          'llabel': 'dropdown',
          'rlabel': 'default',
          'id': 'default-dropdown',
          'modifiers': {
              'this': ['input-text-group_margin-standard']
          },
          'options': ['Сколько гостей']
      })
      +input-text-group({
          'llabel': 'masked text field',
          'rlabel': 'default',
          'id': 'input-text-with-mask',
          'placeholder': 'ДД.ММ.ГГГГ',
          'modifiers': {
              'this': ['input-text-group_margin-large']
          }
      })
      +input-select-group({
          'llabel': 'date dropdown',
          'options': ['ДД.ММ.ГГГГ'],
          'modifiers': {
              'this': ['input-select-group_width-small']
          }
      })
      +input-select-group({
          'llabel': 'date dropdown',
          'options': [
              '19.08.2019'
          ],
          'modifiers': {
              'this': ['input-select-group_width-small']
          }
      })
    .col-4
    .col-4