extends base

include components/logo/logo
include components/form/input-text-group
include components/form/input-select-group
include components/form/checkbox-group
include components/form/radio-group
include components/form/toggle-group
include components/form/label
include components/form/like-button
include components/form/rate-group
include components/form/range-slider

block vars
  - title = 'UI Kit: Form elements'
block content
  .container.container--page-form-elements.clearfix
    +logo
    div.column.column--4.column--pad-h-90-0
      div.form-group
        +input-text-group({
          'llabel': 'text field',
          'rlabel': 'default',
          'placeholder': 'Email',
          'id': 'input-email'
        })
      div.form-group
        +input-text-group({
          'llabel': 'text field',
          'rlabel': 'hover / focus',
          'value': 'This is pretty awesome',
          'id': 'input-focused-hovered',
          'modifiers': {
            'input': [
              'input-text-group__input-text--focused'
            ]
          }
        })
      div.form-group.form-group--v-0-25
        +input-select-group({
          'llabel': 'dropdown',
          'rlabel': 'default',
          'id': 'default-dropdown',
          'options': ['Сколько гостей']
        })
      div.form-group.form-group--v-0-40
        +input-text-group({
          'llabel': 'masked text field',
          'rlabel': 'default',
          'id': 'input-text-with-mask',
          'placeholder': 'ДД.ММ.ГГГГ'
        })
      div.form-group.form-group--v-0-40.clearfix
        +input-select-group({
          'llabel': 'date dropdown',
          'options': ['ДД.ММ.ГГГГ'],
          'modifiers': {
            'this': [
              'input-select-group--small',
              'input-select-group--small-first',
            ]
          }
        })
        +input-select-group({
          'llabel': 'date dropdown',
          'options': [
            '19.08.2019'
          ],
          'modifiers': {
            'this': [
              'input-select-group--small'
            ]
          }
        })
      div.form-group.form-group--v-0-40.form-group--w-265
        +input-select-group({
          'llabel': 'filter date dropdown',
          'options': ['19 авг - 23 авг'],
        })
      div.form-group.form-group--w-265
        +input-text-group({
          'llabel': 'subscription text field',
          'id': 'input-text-submit',
          'placeholder': 'Email',
          'modifiers': {
            'button': [
              'input-text-group__input-submit--visible'
            ]
          }
        })
    div.column.column--4.column--pad-h-90-0
      div.form-group.form-group--v-0-60
        +checkbox-group({
          'label': 'checkbox buttons',
          'modifiers': {
            'label': ['label--mrgn-bttm-medium']
          },
          'options': {
            'smoke': {
              'label': 'Можно курить'
            },
            'pets': {
              'label': 'Можно с питомцами',
              'checked': true
            },
            'guests': {
              'label':'Можно пригласить гостей (до 10 человек)',
              'checked': true
            }
          }
        })
      div.form-group.form-group--v-0-40
        +radio-group({
          'label': 'radio buttons',
          'modifiers': {
            'label': ['label--mrgn-bttm-medium']
          },
          'name': 'gender',
          'options': {
            'male': {
              'label': 'Мужчина',
              'checked': true,
              'modifiers': ['radio-group__radio--mrgn-rght-small']
            },
            'female': {
              'label': 'Женщина'
            }
          }
        })
      div.form-group.toggle-group__form-group
        +toggle-group({
          'label': 'toggle',
          'modifiers': {
            'label': ['label--mrgn-bttm-medium']
          },
          'options': {
            'active': {
              'label': 'Получать спецпредложения',
              'checked': true,
            },
            'default': {
              'label': 'Получать спецпредложения'
            }
          }
        })
      div.form-group.like-button__form-group
        +label({
          'llabel': 'like button',
          'modifiers': {
            'this': ['label--mrgn-bttm-medium']
          }
        })
        +like-button({
          'count': 2
        })
        +like-button({
          'count': 12,
          'favorite': true,
          'modifiers': {
              'this': ['like-button--sample']
          }
        })
      div.form-group.form-group--v-0-40
        +label({
          'llabel': 'rate button',
          'modifiers': {
              'this': ['label--mrgn-bttm-medium']
          }
        })
        +rate-group({
          'base': 5,
          'rate': 4,
          'name': 'rate-first',
          'modifiers': {
              'this': ['rate-group--first']
          }
        })
        +rate-group({
          'base': 5,
          'rate': 5,
          'name': 'rate-second'
        })
    div.column.column--4.column--pad-h-35-0
      div.form-group.form-group__range-slider
        +range-slider({
          'name': 'range-slider'
        })