extends base

include components/logo/logo
include components/card/room-book/room-book
include components/card/calendar/calendar
include components/card/room-search/room-search
include components/card/room-thumb/room-thumb
include components/card/sign-in/sign-in
include components/card/sign-up/sign-up

block vars
  - var title = 'UI Kit - Cards'
  - var bodyClasses = ['ui', 'ui--cards']

block content
  +logo
  .column.column--4.first
    .ui__room-search
      +room-search()
    .ui__sign-up
      +sign-up()
  .column.column--4.second
    .ui__booking
      +room-book(
        '888',
        9990,
        {feature: 'люкс'}
      )
    .ui__sign-in
      +sign-in()
  .column.column--4.third
    .ui__calendar
      +room-search()
      +calendar()
    .ui__room-thumb--vip
      +room-thumb()
    .ui__room-thumb
      +room-thumb()