extends base

include components/logo/logo
include components/color-sample/color-sample
include components/font-sample/font-sample

block vars
  - var title = 'UI KIT: Colors & Type'
block content
  .container.clearfix
    +logo
    div.item-list.column.column--6
      +color-sample({
        'title': 'Dark Shade 100%',
        'subtitle': '#1F2041',
        'modifiers': {
          'rc': ['color-sample__rect--background-d-100']
        }
      })
      +color-sample({
        'title': 'Dark Shade 75%',
        'subtitle': '#1F2041',
        'modifiers': {
            'rc': ['color-sample__rect--background-d-75']
        }
      })
      +color-sample({
        'title': 'Dark Shade 50%',
        'subtitle': '#1F2041',
        'modifiers': {
            'rc': ['color-sample__rect--background-d-50']
        }
      })
      +color-sample({
        'title': 'Dark Shade 25%',
        'subtitle': '#1F2041',
        'modifiers': {
            'rc': ['color-sample__rect--background-d-25']
        }
      })
      +color-sample({
        'title': 'Dark Shade 5%',
        'subtitle': '#1F2041',
        'modifiers': {
            'rc': ['color-sample__rect--background-d-5']
        }
      })
      +color-sample({
        'title': "Purple",
        'subtitle': "#BC9CFF",
        'modifiers': {
            'rc': ['color-sample__rect--background-purple']
        }
      })
      +color-sample({
        'title': "Green",
        'subtitle': "#6FCF97",
        'modifiers': {
            'rc': ['color-sample__rect--background-green']
        }
      })
    div.item-list.column.column--6
      +font-sample({
        'name': 'H1',
        'description': 'This one is the sub-section or widget title',
        'modifiers': {
            'this': ['font-sample--text-header']
        },
      })
      +font-sample({
        'name': 'H2',
        'description': 'Next one is the item title inside widgets',
        'modifiers': {
            'this': ['font-sample--text-header-inside']
        },
      })
      +font-sample({
        'name': 'H3',
        'description': 'This is a label or CTA text',
        'modifiers': {
            'this': ['font-sample--text-label']
        },
      })
      +font-sample({
        'name': 'Body',
        'description': 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
        'modifiers': {
            'this': ['font-sample--text-body'],
            'desc': ['font-sample__desc--color-d-75']
        }
      })