extends base

include components/logo/logo
include components/form/input-text-group
include components/form/input-select-group
include components/form/checkbox-group

block vars
  - title = 'UI Kit: Form elements'
block content
  .container.container--page-form-elements.clearfix
    +logo
    .col-4
      +input-text-group({
          'llabel': 'text field',
          'rlabel': 'default',
          'placeholder': 'Email',
          'id': 'input-email',
          'modifiers': {
              'this': [
                  'input-text-group--margin-standard'
              ]
          }
      })
      +input-text-group({
          'llabel': 'text field',
          'rlabel': 'hover / focus',
          'value': 'This is pretty awesome',
          'id': 'input-focused-hovered',
          'modifiers': {
              'this': [
                  'input-text-group--margin-standard'
              ],
              'input': [
                  'input-text-group__input-text--focused'
              ]
          }
      })
      +input-select-group({
          'llabel': 'dropdown',
          'rlabel': 'default',
          'id': 'default-dropdown',
          'modifiers': {
              'this': [
                  'input-select-group--margin-standard'
              ]
          },
          'options': ['Сколько гостей']
      })
      +input-text-group({
          'llabel': 'masked text field',
          'rlabel': 'default',
          'id': 'input-text-with-mask',
          'placeholder': 'ДД.ММ.ГГГГ',
          'modifiers': {
              'this': [
                  'input-select-group--margin-large'
              ]
          }
      })
      +input-select-group({
          'llabel': 'date dropdown',
          'options': ['ДД.ММ.ГГГГ'],
          'modifiers': {
              'this': [
                  'input-select-group--width-small'
              ]
          }
      })
      +input-select-group({
          'llabel': 'date dropdown',
          'options': [
              '19.08.2019'
          ],
          'modifiers': {
              'this': [
                  'input-select-group--width-small'
              ]
          }
      })
      div.clearfix.input-text-group--margin-large
      +input-select-group({
          'llabel': 'filter date dropdown',
          'options': ['19 авг - 23 авг'],
          'modifiers': {
              'this': [
                  'input-select-group--width-medium',
                  'input-select-group--margin-large'
              ]
          }
      })
      +input-text-group({
          'llabel': 'subscription text field',
          'id': 'input-text-submit',
          'placeholder': 'Email',
          'modifiers': {
              'this': [
                  'input-text-group--width-medium'
              ],
              'button': [
                  'input-text-group__input-submit--visible'
              ]
          }
      })
    .col-4
      +checkbox-group({
          'label': 'checkbox buttons',
          'modifiers': {
              'this': []
          },
          'options': {
              'smoke': {
                  'label': 'Можно курить',
                  'disabled': true
              },
              'pets': {
                  'label': 'Можно с питомцами',
                  'checked': true
              },
              'guests': {
                  'label':'Можно пригласить гостей (до 10 человек)',
                  'checked': true
              }
          }
      })
    .col-4