extends base

include components/logo/logo
include components/form/input-text-group
include components/form/input-select-group
include components/form/checkbox-group
include components/form/radio-group
include components/form/toggle-group
include components/form/label
include components/form/like-button

block vars
  - title = 'UI Kit: Form elements'
block content
  .container.container--page-form-elements.clearfix
    +logo
    .col-4
      +input-text-group({
          'llabel': 'text field',
          'rlabel': 'default',
          'placeholder': 'Email',
          'id': 'input-email',
          'modifiers': {
              'this': [
                  'input-text-group--mrgn-bttm-standard'
              ]
          }
      })
      +input-text-group({
          'llabel': 'text field',
          'rlabel': 'hover / focus',
          'value': 'This is pretty awesome',
          'id': 'input-focused-hovered',
          'modifiers': {
              'this': [
                  'input-text-group--mrgn-bttm-standard'
              ],
              'input': [
                  'input-text-group__input-text--focused'
              ]
          }
      })
      +input-select-group({
          'llabel': 'dropdown',
          'rlabel': 'default',
          'id': 'default-dropdown',
          'modifiers': {
              'this': [
                  'input-select-group--mrgn-bttm-standard'
              ]
          },
          'options': ['Сколько гостей']
      })
      +input-text-group({
          'llabel': 'masked text field',
          'rlabel': 'default',
          'id': 'input-text-with-mask',
          'placeholder': 'ДД.ММ.ГГГГ',
          'modifiers': {
              'this': [
                  'input-select-group--mrgn-bttm-large'
              ]
          }
      })
      +input-select-group({
          'llabel': 'date dropdown',
          'options': ['ДД.ММ.ГГГГ'],
          'modifiers': {
              'this': [
                  'input-select-group--wdth-small'
              ]
          }
      })
      +input-select-group({
          'llabel': 'date dropdown',
          'options': [
              '19.08.2019'
          ],
          'modifiers': {
              'this': [
                  'input-select-group--wdth-small'
              ]
          }
      })
      div.clearfix.input-text-group--mrgn-bttm-large
      +input-select-group({
          'llabel': 'filter date dropdown',
          'options': ['19 авг - 23 авг'],
          'modifiers': {
              'this': [
                  'input-select-group--wdth-medium',
                  'input-select-group--mrgn-bttm-large'
              ]
          }
      })
      +input-text-group({
          'llabel': 'subscription text field',
          'id': 'input-text-submit',
          'placeholder': 'Email',
          'modifiers': {
              'this': [
                  'input-text-group--wdth-medium'
              ],
              'button': [
                  'input-text-group__input-submit--visible'
              ]
          }
      })
    .col-4
      +checkbox-group({
          'label': 'checkbox buttons',
          'modifiers': {
              'this': ['checkbox-group--mrgn-bttm-large'],
              'label': ['label--mrgn-btm-medium']
          },
          'options': {
              'smoke': {
                  'label': 'Можно курить'
              },
              'pets': {
                  'label': 'Можно с питомцами',
                  'checked': true
              },
              'guests': {
                  'label':'Можно пригласить гостей (до 10 человек)',
                  'checked': true
              }
          }
      })
      +radio-group({
          'label': 'radio buttons',
          'modifiers': {
              'this': ['radio-group--mrgn-bttm-large'],
              'label': ['label--mrgn-btm-medium']
          },
          'name': 'gender',
          'options': {
              'male': {
                  'label': 'Мужчина',
                  'checked': true,
                  'modifiers': ['radio-group__radio--mrgn-rght-small']
              },
              'female': {
                  'label': 'Женщина'
              }
          }
      })
      +toggle-group({
          'label': 'toggle',
          'modifiers': {
              'this': ['toggle-group--mrgn-bttm-small'],
              'label': ['label--mrgn-btm-medium']
          },
          'options': {
              'active': {
                  'label': 'Получать спецпредложения',
                  'checked': true,
              },
              'default': {
                  'label': 'Получать спецпредложения'
              }
          }
      })
      +label({
          'llabel': 'like button',
          'modifiers': {
              'this': ['label--mrgn-btm-small']
          }
      })
      +like-button({
          'count': 2,
          'modifiers': {
              'this': ['like-button--sample']
          }
      })
      +like-button({
          'count': 12,
          'favorite': true
      })
    .col-4