extends base

include components/logo/logo
include components/form/input-t-text
include components/form/input-select-group
include components/form/input-t-checkbox
include components/form/radio-group
include components/form/toggle-button
include components/form/label
include components/form/like-button
include components/form/rate-button
include components/form/range-slider
include components/form/button
include components/form/paginator

block vars
  - title = 'UI Kit: Form elements'
block content
  div.ui.ui--form-components.clearfix
    +logo
    div.column.column--4.column--large-hpadding
      div.ui__input-t-text-group--default
        div.input-t-text-group
          div.input-t-text-group__label
            +label({
              llabel: 'text field',
              rlabel: 'default',
            })
          div.input-t-text-group__input-t-text
            +input-t-text({
              id: 'input-email',
              placeholder: 'Email'
            })
      div.ui__input-t-text-group--hovered
        div.input-t-text-group
          div.input-t-text-group__label
            +label({
              llabel: 'text field',
              rlabel: 'hover / focus',
            })
          div.input-t-text-group__input-t-text
            +input-t-text({
              value: 'This is pretty awesome',
              id: 'input-focused-hovered',
              hovered: true
            })
      div.ui__input-select-group--default
        +input-select-group({
          'llabel': 'dropdown',
          'rlabel': 'default',
          'id': 'default-dropdown',
          'options': ['Сколько гостей']
        })
      div.ui__input-t-text-group--masked
        div.input-t-text-group
          div.input-t-text-group__label
            +label({
              llabel: 'masked text field',
              rlabel: 'default',
            })
          div.input-t-text-group__input-t-text
            +input-t-text({
              id: 'input-text-with-mask',
              placeholder: 'ДД.ММ.ГГГГ'
            })
      div.ui__input-select-group--inline.clearfix
        div.ui__input-select-group--small
          +input-select-group({
            'llabel': 'date dropdown',
            'options': ['ДД.ММ.ГГГГ']
          })
        div.ui__input-select-group--small
          +input-select-group({
            'llabel': 'date dropdown',
            'options': [
              '19.08.2019'
            ]
          })
      div.ui__input-select-group--date-filter
        +input-select-group({
          'llabel': 'filter date dropdown',
          'options': ['19 авг - 23 авг'],
        })
      div.ui__input-t-text-group--with-submit
        div.input-t-text-group
          div.input-t-text-group__label
            +label({
              llabel: 'subscription text field',
            })
          div.input-t-text-group__input-t-text
            +input-t-text({
              id: 'input-text-submit',
              placeholder: 'Email',
              withButton: true
            })
    div.column.column--4.column--large-hpadding
      div.ui__input-t-checkbox-group--default
        div.input-t-checkbox-group
          div.input-t-checkbox-group__label
            +label({
              llabel: 'checkbox buttons',
            })
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox({
              label: 'Можно курить'
            })
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox({
                label: 'Можно с питомцами',
                checked: true
            })
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox({
                label: 'Можно пригласить гостей (до 10 человек)',
                checked: true
            })
      div.ui__radio-group--default
        +radio-group({
          'label': 'radio buttons',
          'modifiers': {
            'label': ['label--mrgn-bttm-medium']
          },
          'name': 'gender',
          'options': {
            'male': {
              'label': 'Мужчина',
              'checked': true,
              'modifiers': ['radio-group__radio--mrgn-rght-small']
            },
            'female': {
              'label': 'Женщина'
            }
          }
        })
      div.ui__toggle-group--default
        div.toggle-group
          div.toggle-group__label
            +label({
              llabel: 'toggle'
            })
          div.toggle-group__toggle-button
            +toggle-button({
              id: 'first',
              label: 'Получать спецпредложения',
              checked: true
            })
          div.toggle-group__toggle-button
            +toggle-button({
              id: 'second',
              label: 'Получать спецпредложения'
            })
      div.ui__like-button-group--default.clearfix
        div.like-button-group
          div.like-button-group__label
            +label({
              llabel: 'like button'
            })
          div.like-button-group__like-button
            +like-button({
              count: 2
            })
          div.like-button-group__like-button
            +like-button({
              count: 12,
              favorite: true
            })
      div.ui__rate-group--default.clearfix
        div.rate-group
          div.rate-group__label
            +label({
              llabel: 'rate button'
            })
          div.rate-group__rate-button
            +rate-button({
              base: 5,
              rate: 4,
              name: 'rate-first'
            })
          div.rate-group__rate-button
            +rate-button({
              base: 5,
              rate: 5,
              name: 'rate-second'
            })
    div.column.column--4.column--small-hpadding
      div.ui__range-slider--default
        +range-slider({
          'name': 'range-slider'
        })
      div.ui__button-group--default
        div.button-group
          div.button-group__label
            +label({
              'llabel': 'buttons'
            })
          div.button-group__button
            +button({
              theme: 'default',
              caption: 'click me'
            })
          div.button-group__button
            +button({
              theme: 'default',
              caption: 'click me',
              hover: true
            })
          div.button-group__button
            +button({
              theme: 'transparent',
              caption: 'click me'
            })
          div.button-group__button
            +button({
              theme: 'transparent',
              caption: 'click me',
              hover: true
            })
          div.button-group__button--textual
            +button({
              theme: 'textual',
              caption: 'click me'
            })
          div.button-group__button--textual
            +button({
              theme: 'textual',
              caption: 'click me',
              hover: true
            })
          div.button-group__button--large
            +button({
              theme: 'default',
              arrow: true,
              caption: 'перейти к оплате'
            })
      div.ui__paginator-group
        div.paginator-group
          div.paginator-group__label
            +label({
              'llabel': 'pagination'
            })
          div.paginator-group__paginator
            +paginator()
    div.clearfix
      div.column.column--4