extends base

include components/logo/logo
include components/form/input-t-text/input-t-text
include components/form/input-t-select/input-t-select
include components/form/input-t-checkbox/input-t-checkbox
include components/form/radio-button/radio-button
include components/form/toggle-button/toggle-button
include components/form/label/label
include components/form/like-button/like-button
include components/form/rate-button/rate-button
include components/form/range-slider/range-slider
include components/form/button/button
include components/form/paginator/paginator

block vars
  - title = 'UI Kit: Form elements'
block content
  div.ui.ui--form-components.clearfix
    +logo
    div.column.column--4.column--large-hpadding
      div.ui__input-t-text-group--default
        div.input-t-text-group
          div.input-t-text-group__label
            +label(
              'text field',
              'default'
            )
          div.input-t-text-group__input-t-text
            +input-t-text(
              'input-email',
              'Email'
            )
      div.ui__input-t-text-group--hovered
        div.input-t-text-group
          div.input-t-text-group__label
            +label(
              'text field',
              'hover / focus'
            )
          div.input-t-text-group__input-t-text
            +input-t-text(
              'input-focused-hovered',
              'Some text',
              'This is pretty awesome',
              {hovered: true}
            )
      div.ui__input-t-select-group--default
        div.input-t-select-group
          div.input-t-select-group__label
            +label(
              'dropdown',
              'default'
            )
          div.input-t-select-group__input-t-select
            +input-t-select(
              'default-dropdown',
              ['Сколько гостей']
            )
      div.ui__input-t-text-group--masked
        div.input-t-text-group
          div.input-t-text-group__label
            +label(
              'masked text field',
              'default'
            )
          div.input-t-text-group__input-t-text
            +input-t-text(
              'input-text-with-mask',
              'ДД.ММ.ГГГГ'
            )
      div.ui__input-t-select-group--inline.clearfix
        div.input-t-select-group
          div.input-t-select-group__label
            +label('date dropdown')
          div.input-t-select-group__input-t-select
            +input-t-select(
              'date-from',
              ['ДД.ММ.ГГГГ']
            )
        div.input-t-select-group
          div.input-t-select-group__label
            +label('date dropdown')
          div.input-t-select-group__input-t-select
            +input-t-select(
              'date-to',
              ['19.08.2019']
            )
      div.ui__input-t-select-group--date-filter
        div.input-t-select-group
          div.input-t-select-group__label
            +label('filter date dropdown')
          div.input-t-select-group__input-t-select
            +input-t-select(
              'date-filter',
              ['19 авг - 23 авг']
            )
      div.ui__input-t-text-group--with-submit
        div.input-t-text-group
          div.input-t-text-group__label
            +label('subscription text field')
          div.input-t-text-group__input-t-text
            +input-t-text(
              'input-text-submit',
              'Email',
              '',
              {withButton: true}
            )
    div.column.column--4.column--large-hpadding
      div.ui__input-t-checkbox-group--default
        div.input-t-checkbox-group
          div.input-t-checkbox-group__label
            +label('checkbox buttons')
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox(
              'smoke-allowed',
              'Можно курить'
            )
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox(
              'pets-allowed',
              'Можно с питомцами',
              true
            )
          div.input-t-checkbox-group__input-t-checkbox
            +input-t-checkbox(
              'guests-allowed',
              'Можно пригласить гостей (до 10 человек)',
              true
            )
      div.ui__radio-group--default
        div.radio-button-group.clearfix
          div.radio-button-group__label
            +label('radio buttons')
          div.radio-button-group__radio-button
            +radio-button(
              'radio-male',
              'gender',
              'male',
              'Мужчина',
              true
            )
          div.radio-button-group__radio-button
            +radio-button(
              'radio-female',
              'gender',
              'female',
              'Женщина'
            )
      div.ui__toggle-group--default
        div.toggle-group
          div.toggle-group__label
            +label('toggle')
          div.toggle-group__toggle-button
            +toggle-button(
              'first-toggle',
              'Получать спецпредложения',
              true
            )
          div.toggle-group__toggle-button
            +toggle-button(
              'second-toggle',
              'Получать спецпредложения'
            )
      div.ui__like-button-group--default.clearfix
        div.like-button-group
          div.like-button-group__label
            +label('like button')
          div.like-button-group__like-button
            +like-button({
              count: 2
            })
          div.like-button-group__like-button
            +like-button({
              count: 12,
              favorite: true
            })
      div.ui__rate-group--default.clearfix
        div.rate-group
          div.rate-group__label
            +label('rate button')
          div.rate-group__rate-button
            +rate-button(
              'rate-first',
              5,
              4
            )
          div.rate-group__rate-button
            +rate-button(
              'rate-second',
              5,
              5
            )
    div.column.column--4.column--small-hpadding
      div.ui__range-slider--default
        +range-slider({
          'name': 'range-slider'
        })
      div.ui__button-group--default
        div.button-group
          div.button-group__label
            +label('buttons')
          div.button-group__button
            +button(
              'default',
              'click me'
            )
          div.button-group__button
            +button(
              'default',
              'click me',
              {hover: true}
            )
          div.button-group__button
            +button(
              'transparent',
              'click me'
            )
          div.button-group__button
            +button(
              'transparent',
              'click me',
              {hover: true}
            )
          div.button-group__button--textual
            +button(
              'textual',
              'click me'
            )
          div.button-group__button--textual
            +button(
              'textual',
              'click me',
              {hover: true}
            )
          div.button-group__button--large
            +button(
              'default',
              'перейти к оплате',
              {withArrow: true}
            )
      div.ui__paginator-group
        div.paginator-group
          div.paginator-group__label
            +label('pagination')
          div.paginator-group__paginator
            +paginator()
    div.clearfix
      div.column.column--4