.rate-button-group {
  &__label {
    margin-bottom: 16px;
  }
  &__rate-button {
    margin: 2px 18px 0 2px;
    float: left;
    &:last-child {
      margin-right: 0;
    }
  }
}

.rich-checkbox-group {
  &__label {
    margin-bottom: 16px;
  }
  &__rich-checkbox {
    min-height: 20px;
    margin-bottom: 7px;
  }
}

.toggle-group {
  &__label {
    margin-bottom: 16px;
  }
  &__toggle-button {
    margin-bottom: 14px;
  }
}