.dropdown-group {
  &__label {
    margin-bottom: 5px;
  }
  &__dropdown {
    height: 44px;
  }
}

.feature-group {
  &__feature {
    border-bottom: 1px solid $color-dark-10;
  }
}

.input-group {
  &__label {
    margin-bottom: 5px;
  }
}

.like-button-group {
  &__label {
    margin-bottom: 16px;
  }
  &__like-button {
    margin-right: 10px;
    float: left;
  }
}

.paginator-group {
  &__label {
    margin-bottom: 17px;
  }
}

.radio-button-group {
  &__label {
    margin-bottom: 13px;
  }
  &__radio-button {
    height: 20px;
    float: left;
    margin-right: 19px;
    // ... 991px
    @media (max-width: $screen-sm-max) {
      margin-bottom: 10px;
    }
  }
}

.rate-button-group {
  &__label {
    margin-bottom: 16px;
  }
  &__rate-button {
    margin: 2px 18px 0 2px;
    float: left;
    &:last-child {
      margin-right: 0;
    }
  }
}

.rich-checkbox-group {
  &__label {
    margin-bottom: 16px;
  }
  &__rich-checkbox {
    min-height: 20px;
    margin-bottom: 7px;
  }
}

.toggle-group {
  &__label {
    margin-bottom: 16px;
  }
  &__toggle-button {
    margin-bottom: 14px;
  }
}