extends ../../layouts/base

include ../../components/cards-page/cards-page

block vars
  - const title = 'UI Kit - Cards';
  - const theme = 'gray';
  - const logo = true;

block content
  +cards-page