@import '../datepicker/datepicker';

.datepicker-date-range {
  display: flex;
  justify-content: space-between;
  &__dropdown-group-from,
  &__dropdown-group-to {
    width: 47%;
  }
  &__label {
    margin-bottom: 0.3125rem;
  }
}