@import '../datepicker/datepicker';

.datepicker-date-range {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.8125rem, 1fr));
  grid-column-gap: 1.25rem;
  grid-row-gap: 0.625rem;
  &__label {
    margin-bottom: 0.3125rem;
  }
}