mixin paginator(options)
  - const blockName = 'paginator'
  -
    const {
      source = [],
      pageSize = 12,
      pageRange = 1
    } = options

  div(
    class=blockName
    data-source=source
    data-page-size=pageSize
    data-page-range=pageRange
  )