@import '../../utils/vars';

.site-menu {
  $blockClass: &;
  list-style: none;
  line-height: 3rem;
  padding: 1rem;
  &__link:hover {
    color: $color-primary-100;
  }
  &_theme {
    &_purple {
      #{$blockClass}__link {
        color: $color-purple;
      }
    }
    &_green {
      #{$blockClass}__link {
        color: $color-green;
      }
    }
  }
}