@import '../../utils/vars';

.site-menu {
  $blockClass: &;
  line-height: 3rem;
  padding: 1rem;
  &__link:hover {
    color: $color-dark-100;
  }
  &_theme {
    &_purple {
      #{$blockClass}__link {
        color: $color-purple;
      }
    }
    &_green {
      #{$blockClass}__link {
        color: $color-green;
      }
    }
  }
}