mixin site-menu(theme, links)
  - const blockName = 'site-menu'

  ul(class=blockName class=blockName+'--'+theme)
    each link in links
      li
        h2
          a(class=blockName+'_a' href=link.href)= link.text